/* Atoms: Colors
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Text colors
───────────────────────────────────────────────────────────────────────── */

.rf-dimgray					{ color: #666; }
.rf-gray					{ color: #999; }
.rf-silver					{ color: #ddd; }  /* deprecated */
.rf-gainsboro				{ color: #f4f4f4; }  /* deprecated */
.rf-color-disabled,
.rf-color-muted			{ color: #848fa4; }
.rf-color-error				{ color: #ec2d2d; }  /* deprecated */
.rf-color-securities		{ color: #039; }  /* not used */
.rf-color-link,
.rf-color-blue				{ color: #335fb9; }
.rf-color-price-up			{ color: #ea0000; }
.rf-color-price-down 		{ color: #2ebc12; }
.rf-color-pink 				{ color: #ff8181; }  /* deprecated */
.rf-color-yellow 			{ color: #ecad14; }


/* Background colors
───────────────────────────────────────────────────────────────────────── */

.rf-bg-dimgray					{ background-color: #666; }  /* deprecated */
.rf-bg-gray							{ background-color: #999; }  /* deprecated */
.rf-bg-silver						{ background-color: #ddd; }  /* deprecated */
.rf-bg-gainsboro				{ background-color: #f4f4f4; }
.rf-bg-color-disabled		{ background-color: #f2f4f8; }
.rf-bg-color-securities { background-color: #039; }
.rf-bg-color-neutral		{ background-color: #f1f1f1; }  /* deprecated */
.rf-bg-color-water			{ background-color: #ebeff6; }
.rf-bg-color-dimwater		{ background-color: #d9e3ed; }  /* deprecated */
.rf-bg-color-strong			{ background-color: #ffeded; }
.rf-bg-color-blue				{ background-color: #335fb9; }
.rf-bg-color-pale-gray 	{ background-color: #fafafa; }
.rf-bg-color-orange 		{ background-color: #fef4bb; }  /* deprecated */
.rf-bg-color-pink 			{ background-color: #ff8181; }  /* deprecated */
