/* Atoms: Forms
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Input fields & textareas
───────────────────────────────────────────────────────────────────────── */

.rf-field,
.rf-field[type='search']					{ display: block; padding: .75em .5em; width: 100%; max-width: 100%;
												font-size: 16px; line-height: 1.4;
												border-radius: 0; border: 1px solid #ccc;
												-webkit-box-sizing: border-box;
												        box-sizing: border-box;
												-webkit-appearance: none;
												-webkit-transition: color .25s, border-color .35s;
												        transition: color .25s, border-color .35s; }
.rf-field:hover								{ border-color: #ccc; }
.rf-field:focus								{ border-color: #0c378e; outline-color: #0c378e; }
.rf-field[type='search'][results]			{ padding-left: .25em; }
.rf-field[type='file']						{ padding: .25em 0; line-height: 1; border: none; }
.rf-field::-webkit-input-placeholder,
.rf-field::-moz-placeholder,
.rf-field:-ms-input-placeholder,
.rf-field::-ms-input-placeholder,
.rf-field::placeholder						{ text-overflow: ellipsis; }
.rf-field[placeholder],
.rf-field[readonly][value]					{ text-overflow: ellipsis; }

.rf-field[readonly],
.rf-field[disabled]							{ background-color: #f4f4f4; border-color: #f4f4f4; }
.rf-field[disabled]							{ color: #bbb; }
.rf-field[readonly]:hover,
.rf-field[readonly]:focus,
.rf-field[disabled]:hover					{ border-color: #f4f4f4; }

.no-boxsizing textarea.rf-field				{ padding-left: 2%; padding-right: 2%; width: 95.5%; }


/* Select menus
───────────────────────────────────────────────────────────────────────── */

.rf-select,
.rf-select select						{ display: block; width: 100%; max-width: 100%;
											-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
        									box-sizing: border-box; }
.rf-select								{ position: relative; display: inline-block; font-size: 16px;
											border: 1px solid #ccc; border-radius: .071em; background-color: #fff;
											-webkit-transition: border-color .35s, background-color .35s;
											        transition: border-color .35s, background-color .35s; }
.rf-select svg							{ position: absolute; z-index: 1; top: 50%; margin-top: -3px; right: .75em; }
.rf-select--icon						{ fill: #335fb9;
											-webkit-transition: fill .35s;
											        transition: fill .35s; }
.rf-select select						{ position: relative; z-index: 2; padding: .75em 2em .75em .5em;
											overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
											-webkit-appearance: none;
											   -moz-appearance: none;
											        appearance: none;
											-webkit-box-sizing: border-box;
											        box-sizing: border-box;
											border: none; }
.rf-select select,
.rf-select option						{ background: transparent;
											-webkit-transition: color .25s;
											        transition: color .25s; }

.rf-select select:focus					{ outline-color: #1d54a7; }

.rf-select-blue 						{ background-color: #ebeff7; }
.rf-select-blue:hover				{ background-color: #ebeff7; }

.no-appearance .rf-select,				{ border: none; background-color: #fff; }
.no-appearance .rf-select svg			{ display: none; }
.no-appearance .rf-select select		{ position: static; padding: .45em 0;
											border-top:    .063em solid #8c8c8c;
											border-bottom: .063em solid #8c8c8c; }

.rf-select--multi						{ position: static; }
.rf-select--multi select				{ content: none; padding: .45em .5em; }

/* Disable select menus  */
.rf-select--disable,
.rf-select--disable select,
.rf-select--disable option				{ color: #bbb; }
.rf-select--disable,
.rf-select--disable:hover				{ border-color: #f4f4f4; background-color: #f4f4f4; }
.rf-select--disable .rf-select--icon,
.rf-select--disable:hover .rf-select--icon
										{ fill: #88a2d1; }


/* Checkboxes & radio inputs
───────────────────────────────────────────────────────────────────────── */

.rf-checkbox,
.rf-radio													{ position: relative; font-size: 16px;
																-webkit-tap-highlight-color: rgba(0, 51, 153, .1); }
.rf-checkbox input,
.rf-radio input												{ position: relative; z-index: 2; opacity: 0; }
.rf-checkbox svg,
.rf-radio svg												{ position: absolute; z-index: 1; left: 0; top: 0; }
.rf-checkbox--bg,
.rf-radio--bg,
.rf-checkbox--border,
.rf-radio--border,
.rf-checkbox--main,
.rf-radio--main {
																-webkit-transition: fill .35s;
																        transition: fill .35s; }
.rf-checkbox--bg,
.rf-radio--bg												{ fill: #fff; }
.rf-checkbox--border,
.rf-radio--border											{ fill: #335fb9; }
.rf-checkbox--main,
.rf-radio--main												{ fill: transparent; }
.rf-checkbox input:focus + svg,
.rf-radio input:focus + svg									{ outline: .143em auto #335fb9; outline-offset: .071em; }
.rf-checkbox input:checked + svg .rf-checkbox--bg,
.rf-radio input:checked + svg .rf-radio--bg,
.rf-checkbox input:checked + svg .rf-checkbox--border,
.rf-radio input:checked + svg .rf-radio--border				{ fill: #335fb9; }
.rf-checkbox input:checked + svg .rf-checkbox--main,
.rf-radio input:checked + svg .rf-radio--main				{ fill: #fff; }
.rf-checkbox input:checked:focus + svg .rf-checkbox--main,
.rf-radio input:checked:focus + svg .rf-radio--main			{ fill: #fff; }
.rf-checkbox input[disabled] + svg .rf-checkbox--border,
.rf-radio input[disabled] + svg .rf-radio--border,
.rf-checkbox input[disabled] + svg .rf-checkbox--bg,
.rf-radio input[disabled] + svg .rf-radio--bg		{ fill: #ddd; }
.rf-checkbox input[disabled] + svg,
.rf-radio input[disabled] + svg,
.rf-checkbox input[disabled]:checked + svg,
.rf-radio input[disabled]:checked + svg		{ fill: #ddd; }

.no-checked .rf-checkbox,
.no-opacity .rf-checkbox,
.no-inlinesvg .rf-checkbox,
.no-checked .rf-radio,
.no-opacity .rf-radio,
.no-inlinesvg .rf-radio										{ position: static; }
.no-checked .rf-checkbox svg,
.no-opacity .rf-checkbox svg,
.no-inlinesvg .rf-checkbox svg,
.no-checked .rf-radio svg,
.no-opacity .rf-radio svg,
.no-inlinesvg .rf-radio svg									{ display: none; }
.no-checked .rf-checkbox input,
.no-opacity .rf-checkbox input,
.no-inlinesvg .rf-checkbox input,
.no-checked .rf-radio input,
.no-opacity .rf-radio input,
.no-inlinesvg .rf-radio input								{ opacity: 1; }

/* Radio buttons */
.rf-radio-button							{ display: table; margin: .25em 0 .5em; padding: .35em .5em; width: 100%;
												border: 1px solid #c8c8c8; border-radius: .143em;
												-webkit-tap-highlight-color: rgba(29, 84, 167, .1);
												-webkit-box-sizing: border-box;
												        box-sizing: border-box; }
:lang(ja) .rf-radio-button { padding: .35em .5em .5em; }
.rf-radio-button .rf-radio,
.rf-radio-button--caption					{ display: table-cell; }
.rf-radio-button .rf-radio					{ width: 1.5em; }
.rf-radio-button .rf-radio svg				{ top: 50%; margin-top: -.5em; }
.rf-radio-button-disabled,
.rf-radio-button-disabled:hover,
.rf-radio-button-disabled:focus				{ color: #848fa4; border-color: #ddd; background-color: #f7f7f7; }



/* Radio and heckbox buttons simple */
.rf-checkbox-button-s, .rf-radio-button-s 										{ display: block; position: relative; margin: .25em 0 .5em; }
.rf-checkbox-button-s .rf-checkbox-button-s--inner,
.rf-radio-button-s .rf-radio-button-s--inner	{ display: block; padding: 1em;
												width: 100%; border: 1px solid #c8c8c8; border-radius: .143em;
												-webkit-tap-highlight-color: rgba(29, 84, 167, .1); background-color: #fff;
												-webkit-box-sizing: border-box;
												        box-sizing: border-box;
												text-align: center; }
:lang(ja) .rf-checkbox-button-s--inner,
:lang(ja) .rf-radio-button-s--inner { padding: 12px 9px }
.rf-checkbox-button-s input,
.rf-radio-button-s input					{ position: absolute; top: 0; left: 0; z-index: 2; opacity: 0; }
.rf-checkbox-button-s input:checked + .rf-checkbox-button-s--inner,
.rf-radio-button-s input:checked + .rf-radio-button-s--inner { border: 2px solid #335fb9;
																		color: #335fb9; padding: 11px; font-weight: bold; }
.rf-checkbox-button-s input:disabled + .rf-checkbox-button-s--inner,
.rf-radio-button-s input:disabled + .rf-radio-button-s--inner { color: #bbbbbb; background-color: #f3f3f3;
																																border-color: #f3f3f3; }


/* Checkbox buttons circle */
.rf-checkbox-button-circle 										{ display: table; position: relative; margin: .25em 0 .5em; }
.rf-checkbox-button-circle .rf-checkbox-button-circle--inner	{ display: table-cell; vertical-align: middle;
												width: 3.286em; height: 3.286em; border: .214em solid #e6e6e6; border-radius: 1.643em; border-radius: 50%;
												-webkit-tap-highlight-color: rgba(29, 84, 167, .1);
												-webkit-box-sizing: border-box;
												        box-sizing: border-box;
												text-align: center; color: #999; }
.rf-checkbox-button-circle input					{ position: absolute; top: 0; left: 0; z-index: 2; opacity: 0; }
.rf-checkbox-button-circle input:checked + .rf-checkbox-button-circle--inner { border-color: #335fb9;
																						color: #fff; background-color: #335fb9; }
.rf-checkbox-button-circle input:disabled + .rf-checkbox-button-circle--inner { color: #bbbbbb;
																						border-color: #f4f4f4; background-color: #f4f4f4; }


/* Buttons
───────────────────────────────────────────────────────────────────────── */

[class*='rf-button']							{ display: block; margin: .714em 0; padding: .7em; width: 100%;
													line-height: inherit; text-align: center; vertical-align: middle;
													border: 1px solid #c8c8c8; border-radius: .143em; font-weight: bold;
													-webkit-box-sizing: border-box;
													        box-sizing: border-box; }
a[class*='rf-button']							{ text-decoration: none; }
.rf-button-disabled,
[class*='rf-button'][disabled]					{ pointer-events: none; }
.rf-button-disabled,
button[class*='rf-button'][disabled],
html input[class*='rf-button'][disabled]		{ opacity: 1; }
[class*='rf-button'].rf-align-left,
[class*='rf-button'].rf-align-start				{ text-align: left; }
[class*='rf-button'].rf-align-right,
[class*='rf-button'].rf-align-end				{ text-align: right; }
.rf-button.rf-mini 								{ font-weight: normal; }

/* Primary buttons */
.rf-button-primary,
a.rf-button-primary								{ color: #fff; }
.rf-button-primary								{ background-color: #335fb9; border-color: #335fb9; }

a.rf-button-primary.rf-button-disabled,
.rf-button-primary.rf-button-disabled,
.rf-button-primary.rf-button-disabled:hover,
.rf-button-primary.rf-button-disabled:focus,
.rf-button-primary.rf-button-disabled:active,
.rf-button-primary[disabled],
.rf-button-primary[disabled]:hover,
.rf-button-primary[disabled]:focus,
.rf-button-primary[disabled]:active,
.rf-button-primary[disabled]:active:hover		{ color: #edf1f8; background-color: #c1cfea; border-color: #c1cfea; }

/* Normal buttons */
.rf-button,
a.rf-button										{ color: #333; }
.rf-button										{ background-color: #fff; }

a.rf-button-disabled,
.rf-button-disabled,
.rf-button-disabled:hover,
.rf-button-disabled:focus,
.rf-button-disabled:active,
.rf-button[disabled],
.rf-button[disabled]:hover,
.rf-button[disabled]:focus,
.rf-button[disabled]:active,
.rf-button[disabled]:active:hover				{ color: #ddd; background-color: #fff; border-color: #efefef; }

/* Special buttons */
.rf-button-special,
a.rf-button-special								{ color: #fff; }
.rf-button-special								{ background-color: #d0011b; border-color: #d0011b; }

a.rf-button-special.rf-button-disabled,
.rf-button-special.rf-button-disabled,
.rf-button-special.rf-button-disabled:hover,
.rf-button-special.rf-button-disabled:focus,
.rf-button-special.rf-button-disabled:active,
.rf-button-special[disabled],
.rf-button-special[disabled]:hover,
.rf-button-special[disabled]:focus,
.rf-button-special[disabled]:active,
.rf-button-special[disabled]:active:hover		{ color: #f9eaea; background-color: #ecb2b2; border-color: #ecb2b2; }

/* Positive buttons */
.rf-button-positive,
a.rf-button-positive									{ color: #fff; }
.rf-button-positive									{ background-color: #ecad14; border-color: #ecad14; }

a.rf-button-positive.rf-button-disabled,
.rf-button-positive.rf-button-disabled,
.rf-button-positive.rf-button-disabled:hover,
.rf-button-positive.rf-button-disabled:focus,
.rf-button-positive.rf-button-disabled:active,
.rf-button-positive[disabled],
.rf-button-positive[disabled]:hover,
.rf-button-positive[disabled]:focus,
.rf-button-positive[disabled]:active,
.rf-button-positive[disabled]:active:hover			{ color: #fff; background-color: #f5dea8; border-color: #f5dea8; }

/* Negative buttons */
.rf-button-negative,
a.rf-button-negative									{ color: #fff; }
.rf-button-negative									{ background-color: #848fa4; border-color: #848fa4; }

a.rf-button-negative.rf-button-disabled,
.rf-button-negative.rf-button-disabled,
.rf-button-negative.rf-button-disabled:hover,
.rf-button-negative.rf-button-disabled:focus,
.rf-button-negative.rf-button-disabled:active,
.rf-button-negative[disabled],
.rf-button-negative[disabled]:hover,
.rf-button-negative[disabled]:focus,
.rf-button-negative[disabled]:active,
.rf-button-negative[disabled]:active:hover			{ color: #fff; background-color: #cfd3da; border-color: #cfd3da; }

/* Buy buttons */
.rf-button-buy,
a.rf-button-buy									{ color: #fff; }
.rf-button-buy									{ background-color: #fc9b28; border-color: #fc9b28; }

a.rf-button-buy.rf-button-disabled,
.rf-button-buy.rf-button-disabled,
.rf-button-buy.rf-button-disabled:hover,
.rf-button-buy.rf-button-disabled:focus,
.rf-button-buy.rf-button-disabled:active,
.rf-button-buy[disabled],
.rf-button-buy[disabled]:hover,
.rf-button-buy[disabled]:focus,
.rf-button-buy[disabled]:active,
.rf-button-buy[disabled]:active:hover			{ color: #fff6ed; background-color: #fee1be; border-color: #fee1be; }

/* Sell buttons */
.rf-button-sell,
a.rf-button-sell								{ color: #fff; }
.rf-button-sell									{ background-color: #658ae1; border-color: #658ae1; }

a.rf-button-sell.rf-button-disabled,
.rf-button-sell.rf-button-disabled,
.rf-button-sell.rf-button-disabled:hover,
.rf-button-sell.rf-button-disabled:focus,
.rf-button-sell.rf-button-disabled:active,
.rf-button-sell[disabled],
.rf-button-sell[disabled]:hover,
.rf-button-sell[disabled]:focus,
.rf-button-sell[disabled]:active,
.rf-button-sell[disabled]:active:hover			{ color: #f2f5fc; background-color: #d0dcf6; border-color: #d0dcf6; }

/* Function buttons */
.rf-button-function,
a.rf-button-function								{ color: #335fb9; }
.rf-button-function									{ background-color: #eaeff8; border-color: #eaeff8; border-radius: 3px;
																			font-weight: normal; font-size: .857em; }
a.rf-button-function.rf-button-disabled,
.rf-button-function.rf-button-disabled,
.rf-button-function.rf-button-disabled:hover,
.rf-button-function.rf-button-disabled:focus,
.rf-button-function.rf-button-disabled:active,
.rf-button-function[disabled],
.rf-button-function[disabled]:hover,
.rf-button-function[disabled]:focus,
.rf-button-function[disabled]:active,
.rf-button-function[disabled]:active:hover		{ color: #88a2d1; background-color: #f3f6fb; border-color: #f3f6fb; }
a.rf-button-function.rf-button-disabled [class*='rf-icon-'],
.rf-button-function.rf-button-disabled [class*='rf-icon-'],
.rf-button-function.rf-button-disabled:hover [class*='rf-icon-'],
.rf-button-function.rf-button-disabled:focus [class*='rf-icon-'],
.rf-button-function.rf-button-disabled:active [class*='rf-icon-'],
.rf-button-function[disabled] [class*='rf-icon-'],
.rf-button-function[disabled]:hover [class*='rf-icon-'],
.rf-button-function[disabled]:focus [class*='rf-icon-'],
.rf-button-function[disabled]:active [class*='rf-icon-'],
.rf-button-function[disabled]:active:hover [class*='rf-icon-']	{ opacity: .3; }

/* Secondary buttons - deprecated */
.rf-button-secondary,
a.rf-button-secondary							{ color: #fff; }
.rf-button-secondary							{ background-color: #999; border-color: #999; }
a.rf-button-secondary.rf-button-disabled,
.rf-button-secondary.rf-button-disabled,
.rf-button-secondary.rf-button-disabled:hover,
.rf-button-secondary.rf-button-disabled:focus,
.rf-button-secondary.rf-button-disabled:active,
.rf-button-secondary[disabled],
.rf-button-secondary[disabled]:hover,
.rf-button-secondary[disabled]:focus,
.rf-button-secondary[disabled]:active,
.rf-button-secondary[disabled]:active:hover		{ color: #f7f7f7; background-color: #ddd; border-color: #ddd; }

/* Deposit buttons - deprecated */
.rf-button-deposit,
a.rf-button-deposit								{ color: #fff; }
.rf-button-deposit								{ background-color: #f6b23c; border-color: #f6b23c; }

a.rf-button-deposit.rf-button-disabled,
.rf-button-deposit.rf-button-disabled,
.rf-button-deposit.rf-button-disabled:hover,
.rf-button-deposit.rf-button-disabled:focus,
.rf-button-deposit.rf-button-disabled:active,
.rf-button-deposit[disabled],
.rf-button-deposit[disabled]:hover,
.rf-button-deposit[disabled]:focus,
.rf-button-deposit[disabled]:active,
.rf-button-deposit[disabled]:active:hover		{ color: #fef8ee; background-color: #fce8c4; border-color: #fce8c4; }

/* Withdrawal buttons - deprecated */
.rf-button-withdraw,
a.rf-button-withdraw							{ color: #fff; }
.rf-button-withdraw								{ background-color: #6fc337; border-color: #6fc337; }

a.rf-button-withdraw.rf-button-disabled,
.rf-button-withdraw.rf-button-disabled,
.rf-button-withdraw.rf-button-disabled:hover,
.rf-button-withdraw.rf-button-disabled:focus,
.rf-button-withdraw.rf-button-disabled:active,
.rf-button-withdraw[disabled],
.rf-button-withdraw[disabled]:hover,
.rf-button-withdraw[disabled]:focus,
.rf-button-withdraw[disabled]:active,
.rf-button-withdraw[disabled]:active:hover		{ color: #f3faee; background-color: #d4edc3; border-color: #d4edc3; }

/* Accumulation fund set buttons - deprecated */
.rf-button-acc-fund,
a.rf-button-acc-fund							{ color: #fff; }
.rf-button-acc-fund								{ background-color: #2fa172; border-color: #2fa172; }

a.rf-button-acc-fund.rf-button-disabled,
.rf-button-acc-fund.rf-button-disabled,
.rf-button-acc-fund.rf-button-disabled:hover,
.rf-button-acc-fund.rf-button-disabled:focus,
.rf-button-acc-fund.rf-button-disabled:active,
.rf-button-acc-fund[disabled],
.rf-button-acc-fund[disabled]:hover,
.rf-button-acc-fund[disabled]:focus,
.rf-button-acc-fund[disabled]:active,
.rf-button-acc-fund[disabled]:active:hover		{ color: #e8f4ef; background-color: #d4edc3; border-color: #d4edc3; }

/* Investment trust cancellation buttons - deprecated */
.rf-button-inv-cancel,
a.rf-button-inv-cancel							{ color: #fff; }
.rf-button-inv-cancel							{ background-color: #658ae1; border-color: #658ae1; }

a.rf-button-inv-cancel.rf-button-disabled,
.rf-button-inv-cancel.rf-button-disabled,
.rf-button-inv-cancel.rf-button-disabled:hover,
.rf-button-inv-cancel.rf-button-disabled:focus,
.rf-button-inv-cancel.rf-button-disabled:active,
.rf-button-inv-cancel[disabled],
.rf-button-inv-cancel[disabled]:hover,
.rf-button-inv-cancel[disabled]:focus,
.rf-button-inv-cancel[disabled]:active,
.rf-button-inv-cancel[disabled]:active:hover	{ color: #f2f5fc; background-color: #d0dcf6; border-color: #d0dcf6; }

/* Margin trading repayment buttons - deprecated */
.rf-button-marg-repay,
a.rf-button-marg-repay							{ color: #fff; }
.rf-button-marg-repay							{ background-color: #658ae1; border-color: #658ae1; }

a.rf-button-marg-repay.rf-button-disabled,
.rf-button-marg-repay.rf-button-disabled,
.rf-button-marg-repay.rf-button-disabled:hover,
.rf-button-marg-repay.rf-button-disabled:focus,
.rf-button-marg-repay.rf-button-disabled:active,
.rf-button-marg-repay[disabled],
.rf-button-marg-repay[disabled]:hover,
.rf-button-marg-repay[disabled]:focus,
.rf-button-marg-repay[disabled]:active,
.rf-button-marg-repay[disabled]:active:hover	{ color: #f2f5fc; background-color: #d0dcf6; border-color: #d0dcf6; }

/* Margin trading receipt buttons - deprecated */
.rf-button-marg-receipt,
a.rf-button-marg-receipt						{ color: #fff; }
.rf-button-marg-receipt							{ background-color: #039; border-color: #039; }

a.rf-button-marg-receipt.rf-button-disabled,
.rf-button-marg-receipt.rf-button-disabled,
.rf-button-marg-receipt.rf-button-disabled:hover,
.rf-button-marg-receipt.rf-button-disabled:focus,
.rf-button-marg-receipt.rf-button-disabled:active,
.rf-button-marg-receipt[disabled],
.rf-button-marg-receipt[disabled]:hover,
.rf-button-marg-receipt[disabled]:focus,
.rf-button-marg-receipt[disabled]:active,
.rf-button-marg-receipt[disabled]:active:hover	{ color: #eaeef6; background-color: #b2c1e0; border-color: #b2c1e0; }

/* Margin trading delivery buttons - deprecated */
.rf-button-marg-delivery,
a.rf-button-marg-delivery						{ color: #fff; }
.rf-button-marg-delivery						{ background-color: #8c87d1; border-color: #8c87d1; }

a.rf-button-marg-delivery.rf-button-disabled,
.rf-button-marg-delivery.rf-button-disabled,
.rf-button-marg-delivery.rf-button-disabled:hover,
.rf-button-marg-delivery.rf-button-disabled:focus,
.rf-button-marg-delivery.rf-button-disabled:active,
.rf-button-marg-delivery[disabled],
.rf-button-marg-delivery[disabled]:hover,
.rf-button-marg-delivery[disabled]:focus,
.rf-button-marg-delivery[disabled]:active,
.rf-button-marg-delivery[disabled]:active:hover	{ color: #f0f0f9; background-color: #dcdbf1; border-color: #dcdbf1; }


/* Buttons with icons
───────────────────────────────────────────────────────────────────────── */

.rf-button-icon									{ position: relative; padding-left: 2.5em; padding-right: 2.5em; }
.rf-button-icon [class*='rf-icon']				{ position: absolute; top: 50%; right: .75em; margin-top: -.5em; }
.rf-button-icon [class*='rf-icon']:first-child	{ left: .75em; right: auto; }

.rf-button-icon-large									{ position: relative; padding-left: 2.5em; padding-right: 2.5em; }
.rf-button-icon-large [class*='rf-icon']				{ position: absolute; top: 50%; right: .525em; margin-top: -.5em; font-size: 1.429em; }
.rf-button-icon-large [class*='rf-icon']:first-child	{ left: .75em; right: auto; }

.rf-button-icon-small									{ position: relative; padding-left: 2.8em; padding-right: 1em;
																				font-weight: normal; text-align: left; }
.rf-button-icon-small [class*='rf-icon']				{ position: absolute; top: 50%; right: .525em; margin-top: -.5em; font-size: 1.429em; }
.rf-button-icon-small [class*='rf-icon']:first-child	{ left: .5em; right: auto; }
