/* Atoms: UI icons
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


[class*='rf-icon-ui']						{ display: inline-block; width: 1em; height: 1em; overflow: hidden; vertical-align: -.1ex;
												background-image: url('../assets/icons/sprites/ui-icons.svg');
												background-repeat: no-repeat; background-size: 27em 53em; }
:lang(ja) [class*='rf-icon-ui']				{ vertical-align: -.1em; }
.no-svg [class*='rf-icon-ui']				{ background-image: url('../assets/icons/sprites/ui-icons.png'); }

[class*='rf-icon-ui'] i,
[class*='rf-icon-ui'] em					{ display: inline-block; width: 0; height: 0; overflow: hidden;
												text-indent: 100%; white-space: nowrap; }

/* Error */
.rf-icon-ui-error-red				{ background-position:  0    0; }
.rf-icon-ui-error-black				{ background-position: -2em  0; }
.rf-icon-ui-error-dimgray			{ background-position: -4em  0; }
.rf-icon-ui-error-gray				{ background-position: -6em  0; }
.rf-icon-ui-error-silver			{ background-position: -8em  0; }
.rf-icon-ui-error-gainsboro			{ background-position: -10em 0; }
.rf-icon-ui-error-white				{ background-position: -12em 0; }
.rf-icon-ui-error-disabled			{ background-position: -14em 0; }
.rf-icon-ui-error-error				{ background-position: -16em 0; }
.rf-icon-ui-error-securities		{ background-position: -18em 0; }
.rf-icon-ui-error-link				{ background-position: -20em 0; }
.rf-icon-ui-error-blue				{ background-position: -22em 0; }
.rf-icon-ui-error-price-up			{ background-position: -24em 0; }
.rf-icon-ui-error-price-down		{ background-position: -26em 0; }

/* PC */
.rf-icon-ui-pc-red					{ background-position:  0    -2em; }
.rf-icon-ui-pc-black				{ background-position: -2em  -2em; }
.rf-icon-ui-pc-dimgray				{ background-position: -4em  -2em; }
.rf-icon-ui-pc-gray					{ background-position: -6em  -2em; }
.rf-icon-ui-pc-silver				{ background-position: -8em  -2em; }
.rf-icon-ui-pc-gainsboro			{ background-position: -10em -2em; }
.rf-icon-ui-pc-white				{ background-position: -12em -2em; }
.rf-icon-ui-pc-disabled				{ background-position: -14em -2em; }
.rf-icon-ui-pc-error				{ background-position: -16em -2em; }
.rf-icon-ui-pc-securities			{ background-position: -18em -2em; }
.rf-icon-ui-pc-link					{ background-position: -20em -2em; }
.rf-icon-ui-pc-blue					{ background-position: -22em -2em; }
.rf-icon-ui-pc-price-up				{ background-position: -24em -2em; }
.rf-icon-ui-pc-price-down			{ background-position: -26em -2em; }

/* Reload */
.rf-icon-ui-reload-red				{ background-position:  0    -4em; }
.rf-icon-ui-reload-black			{ background-position: -2em  -4em; }
.rf-icon-ui-reload-dimgray			{ background-position: -4em  -4em; }
.rf-icon-ui-reload-gray				{ background-position: -6em  -4em; }
.rf-icon-ui-reload-silver			{ background-position: -8em  -4em; }
.rf-icon-ui-reload-gainsboro		{ background-position: -10em -4em; }
.rf-icon-ui-reload-white			{ background-position: -12em -4em; }
.rf-icon-ui-reload-disabled			{ background-position: -14em -4em; }
.rf-icon-ui-reload-error			{ background-position: -16em -4em; }
.rf-icon-ui-reload-securities		{ background-position: -18em -4em; }
.rf-icon-ui-reload-link				{ background-position: -20em -4em; }
.rf-icon-ui-reload-blue				{ background-position: -22em -4em; }
.rf-icon-ui-reload-price-up			{ background-position: -24em -4em; }
.rf-icon-ui-reload-price-down		{ background-position: -26em -4em; }

/* Arrow right */
.rf-icon-ui-arrowright-red			{ background-position:  0    -6em; }
.rf-icon-ui-arrowright-black		{ background-position: -2em  -6em; }
.rf-icon-ui-arrowright-dimgray		{ background-position: -4em  -6em; }
.rf-icon-ui-arrowright-gray			{ background-position: -6em  -6em; }
.rf-icon-ui-arrowright-silver		{ background-position: -8em  -6em; }
.rf-icon-ui-arrowright-gainsboro	{ background-position: -10em -6em; }
.rf-icon-ui-arrowright-white		{ background-position: -12em -6em; }
.rf-icon-ui-arrowright-disabled		{ background-position: -14em -6em; }
.rf-icon-ui-arrowright-error		{ background-position: -16em -6em; }
.rf-icon-ui-arrowright-securities	{ background-position: -18em -6em; }
.rf-icon-ui-arrowright-link			{ background-position: -20em -6em; }
.rf-icon-ui-arrowright-blue			{ background-position: -22em -6em; }
.rf-icon-ui-arrowright-price-up		{ background-position: -24em -6em; }
.rf-icon-ui-arrowright-price-down	{ background-position: -26em -6em; }

/* Arrow left */
.rf-icon-ui-arrowleft-red			{ background-position:  0    -8em; }
.rf-icon-ui-arrowleft-black			{ background-position: -2em  -8em; }
.rf-icon-ui-arrowleft-dimgray		{ background-position: -4em  -8em; }
.rf-icon-ui-arrowleft-gray			{ background-position: -6em  -8em; }
.rf-icon-ui-arrowleft-silver		{ background-position: -8em  -8em; }
.rf-icon-ui-arrowleft-gainsboro		{ background-position: -10em -8em; }
.rf-icon-ui-arrowleft-white			{ background-position: -12em -8em; }
.rf-icon-ui-arrowleft-disabled		{ background-position: -14em -8em; }
.rf-icon-ui-arrowleft-error			{ background-position: -16em -8em; }
.rf-icon-ui-arrowleft-securities	{ background-position: -18em -8em; }
.rf-icon-ui-arrowleft-link			{ background-position: -20em -8em; }
.rf-icon-ui-arrowleft-blue			{ background-position: -22em -8em; }
.rf-icon-ui-arrowleft-price-up		{ background-position: -24em -8em; }
.rf-icon-ui-arrowleft-price-down	{ background-position: -26em -8em; }

/* Arrow up */
.rf-icon-ui-arrowup-red				{ background-position:  0    -10em; }
.rf-icon-ui-arrowup-black			{ background-position: -2em  -10em; }
.rf-icon-ui-arrowup-dimgray			{ background-position: -4em  -10em; }
.rf-icon-ui-arrowup-gray			{ background-position: -6em  -10em; }
.rf-icon-ui-arrowup-silver			{ background-position: -8em  -10em; }
.rf-icon-ui-arrowup-gainsboro		{ background-position: -10em -10em; }
.rf-icon-ui-arrowup-white			{ background-position: -12em -10em; }
.rf-icon-ui-arrowup-disabled		{ background-position: -14em -10em; }
.rf-icon-ui-arrowup-error			{ background-position: -16em -10em; }
.rf-icon-ui-arrowup-securities		{ background-position: -18em -10em; }
.rf-icon-ui-arrowup-link			{ background-position: -20em -10em; }
.rf-icon-ui-arrowup-blue			{ background-position: -22em -10em; }
.rf-icon-ui-arrowup-price-up		{ background-position: -24em -10em; }
.rf-icon-ui-arrowup-price-down		{ background-position: -26em -10em; }

/* Arrow down */
.rf-icon-ui-arrowdown-red			{ background-position:  0    -12em; }
.rf-icon-ui-arrowdown-black			{ background-position: -2em  -12em; }
.rf-icon-ui-arrowdown-dimgray		{ background-position: -4em  -12em; }
.rf-icon-ui-arrowdown-gray			{ background-position: -6em  -12em; }
.rf-icon-ui-arrowdown-silver		{ background-position: -8em  -12em; }
.rf-icon-ui-arrowdown-gainsboro		{ background-position: -10em -12em; }
.rf-icon-ui-arrowdown-white			{ background-position: -12em -12em; }
.rf-icon-ui-arrowdown-disabled		{ background-position: -14em -12em; }
.rf-icon-ui-arrowdown-error			{ background-position: -16em -12em; }
.rf-icon-ui-arrowdown-securities	{ background-position: -18em -12em; }
.rf-icon-ui-arrowdown-link			{ background-position: -20em -12em; }
.rf-icon-ui-arrowdown-blue			{ background-position: -22em -12em; }
.rf-icon-ui-arrowdown-price-up		{ background-position: -24em -12em; }
.rf-icon-ui-arrowdown-price-down	{ background-position: -26em -12em; }

/* External */
.rf-icon-ui-external-red			{ background-position:  0    -14em; }
.rf-icon-ui-external-black			{ background-position: -2em  -14em; }
.rf-icon-ui-external-dimgray		{ background-position: -4em  -14em; }
.rf-icon-ui-external-gray			{ background-position: -6em  -14em; }
.rf-icon-ui-external-silver			{ background-position: -8em  -14em; }
.rf-icon-ui-external-gainsboro		{ background-position: -10em -14em; }
.rf-icon-ui-external-white			{ background-position: -12em -14em; }
.rf-icon-ui-external-disabled		{ background-position: -14em -14em; }
.rf-icon-ui-external-error			{ background-position: -16em -14em; }
.rf-icon-ui-external-securities		{ background-position: -18em -14em; }
.rf-icon-ui-external-link			{ background-position: -20em -14em; }
.rf-icon-ui-external-blue			{ background-position: -22em -14em; }
.rf-icon-ui-external-price-up		{ background-position: -24em -14em; }
.rf-icon-ui-external-price-down		{ background-position: -26em -14em; }

/* Bullet */
.rf-icon-ui-bullet-red				{ background-position:  0    -16em; }
.rf-icon-ui-bullet-black			{ background-position: -2em  -16em; }
.rf-icon-ui-bullet-dimgray			{ background-position: -4em  -16em; }
.rf-icon-ui-bullet-gray				{ background-position: -6em  -16em; }
.rf-icon-ui-bullet-silver			{ background-position: -8em  -16em; }
.rf-icon-ui-bullet-gainsboro		{ background-position: -10em -16em; }
.rf-icon-ui-bullet-white			{ background-position: -12em -16em; }
.rf-icon-ui-bullet-disabled			{ background-position: -14em -16em; }
.rf-icon-ui-bullet-error			{ background-position: -16em -16em; }
.rf-icon-ui-bullet-securities		{ background-position: -18em -16em; }
.rf-icon-ui-bullet-link				{ background-position: -20em -16em; }
.rf-icon-ui-bullet-blue				{ background-position: -22em -16em; }
.rf-icon-ui-bullet-price-up			{ background-position: -24em -16em; }
.rf-icon-ui-bullet-price-down		{ background-position: -26em -16em; }

/* Delete */
.rf-icon-ui-delete-red				{ background-position:  0    -18em; }
.rf-icon-ui-delete-black			{ background-position: -2em  -18em; }
.rf-icon-ui-delete-dimgray			{ background-position: -4em  -18em; }
.rf-icon-ui-delete-gray				{ background-position: -6em  -18em; }
.rf-icon-ui-delete-silver			{ background-position: -8em  -18em; }
.rf-icon-ui-delete-gainsboro		{ background-position: -10em -18em; }
.rf-icon-ui-delete-white			{ background-position: -12em -18em; }
.rf-icon-ui-delete-disabled			{ background-position: -14em -18em; }
.rf-icon-ui-delete-error			{ background-position: -16em -18em; }
.rf-icon-ui-delete-securities		{ background-position: -18em -18em; }
.rf-icon-ui-delete-link				{ background-position: -20em -18em; }
.rf-icon-ui-delete-blue				{ background-position: -22em -18em; }
.rf-icon-ui-delete-price-up			{ background-position: -24em -18em; }
.rf-icon-ui-delete-price-down		{ background-position: -26em -18em; }

/* Calendar */
.rf-icon-ui-cal-red					{ background-position:  0    -20em; }
.rf-icon-ui-cal-black				{ background-position: -2em  -20em; }
.rf-icon-ui-cal-dimgray				{ background-position: -4em  -20em; }
.rf-icon-ui-cal-gray				{ background-position: -6em  -20em; }
.rf-icon-ui-cal-silver				{ background-position: -8em  -20em; }
.rf-icon-ui-cal-gainsboro			{ background-position: -10em -20em; }
.rf-icon-ui-cal-white				{ background-position: -12em -20em; }
.rf-icon-ui-cal-disabled			{ background-position: -14em -20em; }
.rf-icon-ui-cal-error				{ background-position: -16em -20em; }
.rf-icon-ui-cal-securities			{ background-position: -18em -20em; }
.rf-icon-ui-cal-link				{ background-position: -20em -20em; }
.rf-icon-ui-cal-blue				{ background-position: -22em -20em; }
.rf-icon-ui-cal-price-up			{ background-position: -24em -20em; }
.rf-icon-ui-cal-price-down			{ background-position: -26em -20em; }

/* Details */
.rf-icon-ui-details-red				{ background-position:  0    -22em; }
.rf-icon-ui-details-black			{ background-position: -2em  -22em; }
.rf-icon-ui-details-dimgray			{ background-position: -4em  -22em; }
.rf-icon-ui-details-gray			{ background-position: -6em  -22em; }
.rf-icon-ui-details-silver			{ background-position: -8em  -22em; }
.rf-icon-ui-details-gainsboro		{ background-position: -10em -22em; }
.rf-icon-ui-details-white			{ background-position: -12em -22em; }
.rf-icon-ui-details-disabled		{ background-position: -14em -22em; }
.rf-icon-ui-details-error			{ background-position: -16em -22em; }
.rf-icon-ui-details-securities		{ background-position: -18em -22em; }
.rf-icon-ui-details-link			{ background-position: -20em -22em; }
.rf-icon-ui-details-blue			{ background-position: -22em -22em; }
.rf-icon-ui-details-price-up		{ background-position: -24em -22em; }
.rf-icon-ui-details-price-down		{ background-position: -26em -22em; }

/* Stocks infos */
.rf-icon-ui-stockinfo-red			{ background-position:  0    -24em; }
.rf-icon-ui-stockinfo-black			{ background-position: -2em  -24em; }
.rf-icon-ui-stockinfo-dimgray		{ background-position: -4em  -24em; }
.rf-icon-ui-stockinfo-gray			{ background-position: -6em  -24em; }
.rf-icon-ui-stockinfo-silver		{ background-position: -8em  -24em; }
.rf-icon-ui-stockinfo-gainsboro		{ background-position: -10em -24em; }
.rf-icon-ui-stockinfo-white			{ background-position: -12em -24em; }
.rf-icon-ui-stockinfo-disabled		{ background-position: -14em -24em; }
.rf-icon-ui-stockinfo-error			{ background-position: -16em -24em; }
.rf-icon-ui-stockinfo-securities	{ background-position: -18em -24em; }
.rf-icon-ui-stockinfo-link			{ background-position: -20em -24em; }
.rf-icon-ui-stockinfo-blue			{ background-position: -22em -24em; }
.rf-icon-ui-stockinfo-price-up		{ background-position: -24em -24em; }
.rf-icon-ui-stockinfo-price-down	{ background-position: -26em -24em; }

/* Order */
.rf-icon-ui-order-red				{ background-position:  0    -26em; }
.rf-icon-ui-order-black				{ background-position: -2em  -26em; }
.rf-icon-ui-order-dimgray			{ background-position: -4em  -26em; }
.rf-icon-ui-order-gray				{ background-position: -6em  -26em; }
.rf-icon-ui-order-silver			{ background-position: -8em  -26em; }
.rf-icon-ui-order-gainsboro			{ background-position: -10em -26em; }
.rf-icon-ui-order-white				{ background-position: -12em -26em; }
.rf-icon-ui-order-disabled			{ background-position: -14em -26em; }
.rf-icon-ui-order-error				{ background-position: -16em -26em; }
.rf-icon-ui-order-securities		{ background-position: -18em -26em; }
.rf-icon-ui-order-link				{ background-position: -20em -26em; }
.rf-icon-ui-order-blue				{ background-position: -22em -26em; }
.rf-icon-ui-order-price-up			{ background-position: -24em -26em; }
.rf-icon-ui-order-price-down		{ background-position: -26em -26em; }

/* Book */
.rf-icon-ui-book-red				{ background-position:  0    -28em; }
.rf-icon-ui-book-black				{ background-position: -2em  -28em; }
.rf-icon-ui-book-dimgray			{ background-position: -4em  -28em; }
.rf-icon-ui-book-gray				{ background-position: -6em  -28em; }
.rf-icon-ui-book-silver				{ background-position: -8em  -28em; }
.rf-icon-ui-book-gainsboro			{ background-position: -10em -28em; }
.rf-icon-ui-book-white				{ background-position: -12em -28em; }
.rf-icon-ui-book-disabled			{ background-position: -14em -28em; }
.rf-icon-ui-book-error				{ background-position: -16em -28em; }
.rf-icon-ui-book-securities			{ background-position: -18em -28em; }
.rf-icon-ui-book-link				{ background-position: -20em -28em; }
.rf-icon-ui-book-blue				{ background-position: -22em -28em; }
.rf-icon-ui-book-price-up			{ background-position: -24em -28em; }
.rf-icon-ui-book-gold				{ background-position: -26em -28em; }

/* Shortcut */
.rf-icon-ui-shortcut-red			{ background-position:  0    -30em; }
.rf-icon-ui-shortcut-black			{ background-position: -2em  -30em; }
.rf-icon-ui-shortcut-dimgray		{ background-position: -4em  -30em; }
.rf-icon-ui-shortcut-gray			{ background-position: -6em  -30em; }
.rf-icon-ui-shortcut-silver			{ background-position: -8em  -30em; }
.rf-icon-ui-shortcut-gainsboro		{ background-position: -10em -30em; }
.rf-icon-ui-shortcut-white			{ background-position: -12em -30em; }
.rf-icon-ui-shortcut-disabled		{ background-position: -14em -30em; }
.rf-icon-ui-shortcut-error			{ background-position: -16em -30em; }
.rf-icon-ui-shortcut-securities		{ background-position: -18em -30em; }
.rf-icon-ui-shortcut-link			{ background-position: -20em -30em; }
.rf-icon-ui-shortcut-blue			{ background-position: -22em -30em; }
.rf-icon-ui-shortcut-price-up		{ background-position: -24em -30em; }
.rf-icon-ui-shortcut-price-down		{ background-position: -26em -30em; }

/* Smartphone */
.rf-icon-ui-smartphone-red			{ background-position:  0    -32em; }
.rf-icon-ui-smartphone-black			{ background-position: -2em  -32em; }
.rf-icon-ui-smartphone-dimgray		{ background-position: -4em  -32em; }
.rf-icon-ui-smartphone-gray			{ background-position: -6em  -32em; }
.rf-icon-ui-smartphone-silver			{ background-position: -8em  -32em; }
.rf-icon-ui-smartphone-gainsboro		{ background-position: -10em -32em; }
.rf-icon-ui-smartphone-white			{ background-position: -12em -32em; }
.rf-icon-ui-smartphone-disabled		{ background-position: -14em -32em; }
.rf-icon-ui-smartphone-error			{ background-position: -16em -32em; }
.rf-icon-ui-smartphone-securities		{ background-position: -18em -32em; }
.rf-icon-ui-smartphone-link			{ background-position: -20em -32em; }
.rf-icon-ui-smartphone-blue			{ background-position: -22em -32em; }
.rf-icon-ui-smartphone-price-up		{ background-position: -24em -32em; }
.rf-icon-ui-smartphone-price-down		{ background-position: -26em -32em; }

/* Arrow up simple */
.rf-icon-ui-arrowup-s-red			{ background-position:  0    -34em; }
.rf-icon-ui-arrowup-s-black			{ background-position: -2em  -34em; }
.rf-icon-ui-arrowup-s-dimgray		{ background-position: -4em  -34em; }
.rf-icon-ui-arrowup-s-gray			{ background-position: -6em  -34em; }
.rf-icon-ui-arrowup-s-silver			{ background-position: -8em  -34em; }
.rf-icon-ui-arrowup-s-gainsboro		{ background-position: -10em -34em; }
.rf-icon-ui-arrowup-s-white			{ background-position: -12em -34em; }
.rf-icon-ui-arrowup-s-disabled		{ background-position: -14em -34em; }
.rf-icon-ui-arrowup-s-error			{ background-position: -16em -34em; }
.rf-icon-ui-arrowup-s-securities		{ background-position: -18em -34em; }
.rf-icon-ui-arrowup-s-link			{ background-position: -20em -34em; }
.rf-icon-ui-arrowup-s-blue			{ background-position: -22em -34em; }
.rf-icon-ui-arrowup-s-price-up		{ background-position: -24em -34em; }
.rf-icon-ui-arrowup-s-price-down		{ background-position: -26em -34em; }

/* Arrow right simple */
.rf-icon-ui-arrowright-s-red			{ background-position:  0    -36em; }
.rf-icon-ui-arrowright-s-black			{ background-position: -2em  -36em; }
.rf-icon-ui-arrowright-s-dimgray		{ background-position: -4em  -36em; }
.rf-icon-ui-arrowright-s-gray			{ background-position: -6em  -36em; }
.rf-icon-ui-arrowright-s-silver			{ background-position: -8em  -36em; }
.rf-icon-ui-arrowright-s-gainsboro		{ background-position: -10em -36em; }
.rf-icon-ui-arrowright-s-white			{ background-position: -12em -36em; }
.rf-icon-ui-arrowright-s-disabled		{ background-position: -14em -36em; }
.rf-icon-ui-arrowright-s-error			{ background-position: -16em -36em; }
.rf-icon-ui-arrowright-s-securities		{ background-position: -18em -36em; }
.rf-icon-ui-arrowright-s-link			{ background-position: -20em -36em; }
.rf-icon-ui-arrowright-s-blue			{ background-position: -22em -36em; }
.rf-icon-ui-arrowright-s-price-up		{ background-position: -24em -36em; }
.rf-icon-ui-arrowright-s-price-down		{ background-position: -26em -36em; }

/* Arrow down simple */
.rf-icon-ui-arrowdown-s-red			{ background-position:  0    -38em; }
.rf-icon-ui-arrowdown-s-black			{ background-position: -2em  -38em; }
.rf-icon-ui-arrowdown-s-dimgray		{ background-position: -4em  -38em; }
.rf-icon-ui-arrowdown-s-gray			{ background-position: -6em  -38em; }
.rf-icon-ui-arrowdown-s-silver			{ background-position: -8em  -38em; }
.rf-icon-ui-arrowdown-s-gainsboro		{ background-position: -10em -38em; }
.rf-icon-ui-arrowdown-s-white			{ background-position: -12em -38em; }
.rf-icon-ui-arrowdown-s-disabled		{ background-position: -14em -38em; }
.rf-icon-ui-arrowdown-s-error			{ background-position: -16em -38em; }
.rf-icon-ui-arrowdown-s-securities		{ background-position: -18em -38em; }
.rf-icon-ui-arrowdown-s-link			{ background-position: -20em -38em; }
.rf-icon-ui-arrowdown-s-blue			{ background-position: -22em -38em; }
.rf-icon-ui-arrowdown-s-price-up		{ background-position: -24em -38em; }
.rf-icon-ui-arrowdown-s-price-down		{ background-position: -26em -38em; }

/* Arrow left simple */
.rf-icon-ui-arrowleft-s-red			{ background-position:  0    -40em; }
.rf-icon-ui-arrowleft-s-black			{ background-position: -2em  -40em; }
.rf-icon-ui-arrowleft-s-dimgray		{ background-position: -4em  -40em; }
.rf-icon-ui-arrowleft-s-gray			{ background-position: -6em  -40em; }
.rf-icon-ui-arrowleft-s-silver			{ background-position: -8em  -40em; }
.rf-icon-ui-arrowleft-s-gainsboro		{ background-position: -10em -40em; }
.rf-icon-ui-arrowleft-s-white			{ background-position: -12em -40em; }
.rf-icon-ui-arrowleft-s-disabled		{ background-position: -14em -40em; }
.rf-icon-ui-arrowleft-s-error			{ background-position: -16em -40em; }
.rf-icon-ui-arrowleft-s-securities		{ background-position: -18em -40em; }
.rf-icon-ui-arrowleft-s-link			{ background-position: -20em -40em; }
.rf-icon-ui-arrowleft-s-blue			{ background-position: -22em -40em; }
.rf-icon-ui-arrowleft-s-price-up		{ background-position: -24em -40em; }
.rf-icon-ui-arrowleft-s-price-down		{ background-position: -26em -40em; }

/* Crown */
.rf-icon-ui-crown-gold					{ background-position:  0    -42em; }
.rf-icon-ui-crown-silver				{ background-position: -2em  -42em; }
.rf-icon-ui-crown-bronze				{ background-position: -4em  -42em; }

/* Clip */
.rf-icon-ui-clip-red			{ background-position:  0    -44em; }
.rf-icon-ui-clip-black			{ background-position: -2em  -44em; }
.rf-icon-ui-clip-dimgray		{ background-position: -4em  -44em; }
.rf-icon-ui-clip-gray			{ background-position: -6em  -44em; }
.rf-icon-ui-clip-silver			{ background-position: -8em  -44em; }
.rf-icon-ui-clip-gainsboro		{ background-position: -10em -44em; }
.rf-icon-ui-clip-white			{ background-position: -12em -44em; }
.rf-icon-ui-clip-disabled		{ background-position: -14em -44em; }
.rf-icon-ui-clip-error			{ background-position: -16em -44em; }
.rf-icon-ui-clip-securities		{ background-position: -18em -44em; }
.rf-icon-ui-clip-link			{ background-position: -20em -44em; }
.rf-icon-ui-clip-blue			{ background-position: -22em -44em; }
.rf-icon-ui-clip-price-up		{ background-position: -24em -44em; }
.rf-icon-ui-clip-price-down		{ background-position: -26em -44em; }

/* Bookmark */
.rf-icon-ui-bookmark-red			{ background-position:  0    -46em; }
.rf-icon-ui-bookmark-black			{ background-position: -2em  -46em; }
.rf-icon-ui-bookmark-dimgray		{ background-position: -4em  -46em; }
.rf-icon-ui-bookmark-gray			{ background-position: -6em  -46em; }
.rf-icon-ui-bookmark-silver			{ background-position: -8em  -46em; }
.rf-icon-ui-bookmark-gainsboro		{ background-position: -10em -46em; }
.rf-icon-ui-bookmark-white			{ background-position: -12em -46em; }
.rf-icon-ui-bookmark-disabled		{ background-position: -14em -46em; }
.rf-icon-ui-bookmark-error			{ background-position: -16em -46em; }
.rf-icon-ui-bookmark-securities		{ background-position: -18em -46em; }
.rf-icon-ui-bookmark-link			{ background-position: -20em -46em; }
.rf-icon-ui-bookmark-blue			{ background-position: -22em -46em; }
.rf-icon-ui-bookmark-price-up		{ background-position: -24em -46em; }
.rf-icon-ui-bookmark-price-down		{ background-position: -26em -46em; }

/* X */
.rf-icon-ui-x-red			{ background-position:  0    -48em; }
.rf-icon-ui-x-black			{ background-position: -2em  -48em; }
.rf-icon-ui-x-dimgray		{ background-position: -4em  -48em; }
.rf-icon-ui-x-gray			{ background-position: -6em  -48em; }
.rf-icon-ui-x-silver			{ background-position: -8em  -48em; }
.rf-icon-ui-x-gainsboro		{ background-position: -10em -48em; }
.rf-icon-ui-x-white			{ background-position: -12em -48em; }
.rf-icon-ui-x-disabled		{ background-position: -14em -48em; }
.rf-icon-ui-x-error			{ background-position: -16em -48em; }
.rf-icon-ui-x-securities		{ background-position: -18em -48em; }
.rf-icon-ui-x-link			{ background-position: -20em -48em; }
.rf-icon-ui-x-blue			{ background-position: -22em -48em; }
.rf-icon-ui-x-price-up		{ background-position: -24em -48em; }
.rf-icon-ui-x-price-down		{ background-position: -26em -48em; }

/* Search */
.rf-icon-ui-search-red			{ background-position:  0    -50em; }
.rf-icon-ui-search-black			{ background-position: -2em  -50em; }
.rf-icon-ui-search-dimgray		{ background-position: -4em  -50em; }
.rf-icon-ui-search-gray			{ background-position: -6em  -50em; }
.rf-icon-ui-search-silver			{ background-position: -8em  -50em; }
.rf-icon-ui-search-gainsboro		{ background-position: -10em -50em; }
.rf-icon-ui-search-white			{ background-position: -12em -50em; }
.rf-icon-ui-search-disabled		{ background-position: -14em -50em; }
.rf-icon-ui-search-error			{ background-position: -16em -50em; }
.rf-icon-ui-search-securities		{ background-position: -18em -50em; }
.rf-icon-ui-search-link			{ background-position: -20em -50em; }
.rf-icon-ui-search-blue			{ background-position: -22em -50em; }
.rf-icon-ui-search-price-up		{ background-position: -24em -50em; }
.rf-icon-ui-search-price-down		{ background-position: -26em -50em; }

/* Pencil */
.rf-icon-ui-pencil-red			{ background-position:  0    -52em; }
.rf-icon-ui-pencil-black			{ background-position: -2em  -52em; }
.rf-icon-ui-pencil-dimgray		{ background-position: -4em  -52em; }
.rf-icon-ui-pencil-gray			{ background-position: -6em  -52em; }
.rf-icon-ui-pencil-silver			{ background-position: -8em  -52em; }
.rf-icon-ui-pencil-gainsboro		{ background-position: -10em -52em; }
.rf-icon-ui-pencil-white			{ background-position: -12em -52em; }
.rf-icon-ui-pencil-disabled		{ background-position: -14em -52em; }
.rf-icon-ui-pencil-error			{ background-position: -16em -52em; }
.rf-icon-ui-pencil-securities		{ background-position: -18em -52em; }
.rf-icon-ui-pencil-link			{ background-position: -20em -52em; }
.rf-icon-ui-pencil-blue			{ background-position: -22em -52em; }
.rf-icon-ui-pencil-price-up		{ background-position: -24em -52em; }
.rf-icon-ui-pencil-price-down		{ background-position: -26em -52em; }
