/* Atoms: UI icons
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


[class*='rf-icon-cat']						{ display: inline-block; width: 1em; height: 1em; overflow: hidden;
												font-size: 50px; vertical-align: -.1ex;
												background-repeat: no-repeat; }
:lang(ja) [class*='rf-icon-cat']			{ vertical-align: -.1em; }

[class*='rf-icon-cat'] i,
[class*='rf-icon-cat'] em					{ display: inline-block; width: 0; height: 0; overflow: hidden;
												text-indent: 100%; white-space: nowrap; }

/* Background Images */

/* SVG A */
[class*='rf-icon-cat-search'], [class*='rf-icon-cat-fav'], [class*='rf-icon-cat-order'],
[class*='rf-icon-cat-more'], [class*='rf-icon-cat-holdings'], [class*='rf-icon-cat-withdraw'],
[class*='rf-icon-cat-domesticstock'], [class*='rf-icon-cat-investment'], [class*='rf-icon-cat-fx'],
[class*='rf-icon-cat-foreignstock'], [class*='rf-icon-cat-nisa'], [class*='rf-icon-cat-rakuwrap'],
[class*='rf-icon-cat-401k'], [class*='rf-icon-cat-credit'], [class*='rf-icon-cat-market'],
[class*='rf-icon-cat-settings'], [class*='rf-icon-cat-support'], [class*='rf-icon-cat-seminar'],
[class*='rf-icon-cat-pc'],
[class*='rf-icon-cat-logout']		{ background-image: url('../assets/icons/sprites/categories-icons-a.svg');
																	background-size: 14em 20em; }

/* SVG B */
[class*='rf-icon-cat-acct'], [class*='rf-icon-cat-recommend'], [class*='rf-icon-cat-fee'],
[class*='rf-icon-cat-invest-'], [class*='rf-icon-cat-latest'], [class*='rf-icon-cat-other'],
[class*='rf-icon-cat-balance'], [class*='rf-icon-cat-transfer'], [class*='rf-icon-cat-dividend'],
[class*='rf-icon-cat-trade'], [class*='rf-icon-cat-gains'], [class*='rf-icon-cat-purchase'],
[class*='rf-icon-cat-ranking'], [class*='rf-icon-cat-documents'], [class*='rf-icon-cat-total-return'],
[class*='rf-icon-cat-collat']		{ background-image: url('../assets/icons/sprites/categories-icons-b.svg');
																	background-size: 14em 20em; }

/* SVG C */
[class*='rf-icon-cat-open-interest'], [class*='rf-icon-cat-future-deposit'], [class*='rf-icon-cat-home'],
[class*='rf-icon-cat-close'], [class*='rf-icon-cat-alert'],
[class*='rf-icon-cat-menu'], [class*='rf-icon-cat-purchase-ftr'],
[class*='rf-icon-cat-bank']		{ background-image: url('../assets/icons/sprites/categories-icons-c.svg');
																	background-size: 14em 8em; }

/* PNG A */
.no-svg [class*='rf-icon-cat-search'], .no-svg [class*='rf-icon-cat-fav'],
.no-svg [class*='rf-icon-cat-order'], .no-svg [class*='rf-icon-cat-more'],
.no-svg [class*='rf-icon-cat-holdings'], .no-svg [class*='rf-icon-cat-withdraw'],
.no-svg [class*='rf-icon-cat-domesticstock'], .no-svg [class*='rf-icon-cat-investment'],
.no-svg [class*='rf-icon-cat-fx'], .no-svg [class*='rf-icon-cat-foreignstock'],
.no-svg [class*='rf-icon-cat-nisa'], .no-svg [class*='rf-icon-cat-rakuwrap'],
.no-svg [class*='rf-icon-cat-401k'], .no-svg [class*='rf-icon-cat-credit'],
.no-svg [class*='rf-icon-cat-market'], .no-svg [class*='rf-icon-cat-settings'],
.no-svg [class*='rf-icon-cat-support'], .no-svg [class*='rf-icon-cat-seminar'],
.no-svg [class*='rf-icon-cat-pc'],
.no-svg [class*='rf-icon-cat-logout']		{ background-image: url('../assets/icons/sprites/categories-icons-a.png'); }

/* PNG B */
.no-svg[class*='rf-icon-cat-acct'], .no-svg[class*='rf-icon-cat-recommend'],
.no-svg[class*='rf-icon-cat-fee'], .no-svg[class*='rf-icon-cat-invest-'],
.no-svg[class*='rf-icon-cat-latest'], .no-svg[class*='rf-icon-cat-other'],
.no-svg[class*='rf-icon-cat-balance'], .no-svg[class*='rf-icon-cat-transfer'],
.no-svg[class*='rf-icon-cat-dividend'], .no-svg[class*='rf-icon-cat-trade'],
.no-svg[class*='rf-icon-cat-gains'], .no-svg[class*='rf-icon-cat-purchase'],
.no-svg[class*='rf-icon-cat-ranking'], .no-svg[class*='rf-icon-cat-documents'],
.no-svg[class*='rf-icon-cat-total-return'],
.no-svg[class*='rf-icon-cat-collat']		{ background-image: url('../assets/icons/sprites/categories-icons-b.png'); }

/* PNG C */
.no-svg [class*='rf-icon-cat-open-interest'], .no-svg [class*='rf-icon-cat-future-deposit'],
.no-svg [class*='rf-icon-cat-home'], .no-svg [class*='rf-icon-cat-close'],
.no-svg [class*='rf-icon-cat-alert'], .no-svg [class*='rf-icon-cat-menu'],
.no-svg [class*='rf-icon-cat-purchase-ftr'],
.no-svg [class*='rf-icon-cat-bank']		{ background-image: url('../assets/icons/sprites/categories-icons-c.png'); }


/* Search */
.rf-icon-cat-search-red					{ background-position:  0    0; }
.rf-icon-cat-search-black				{ background-position: -1em  0; }
.rf-icon-cat-search-dimgray				{ background-position: -2em  0; }
.rf-icon-cat-search-gray				{ background-position: -3em  0; }
.rf-icon-cat-search-silver				{ background-position: -4em  0; }
.rf-icon-cat-search-gainsboro			{ background-position: -5em  0; }
.rf-icon-cat-search-white				{ background-position: -6em  0; }
.rf-icon-cat-search-disabled			{ background-position: -7em  0; }
.rf-icon-cat-search-error				{ background-position: -8em  0; }
.rf-icon-cat-search-securities			{ background-position: -9em  0; }
.rf-icon-cat-search-link				{ background-position: -10em 0; }
.rf-icon-cat-search-blue				{ background-position: -11em 0; }
.rf-icon-cat-search-price-up			{ background-position: -12em 0; }
.rf-icon-cat-search-price-down			{ background-position: -13em 0; }

/* Favorite */
.rf-icon-cat-fav-red					{ background-position:  0    -1em; }
.rf-icon-cat-fav-black					{ background-position: -1em  -1em; }
.rf-icon-cat-fav-dimgray				{ background-position: -2em  -1em; }
.rf-icon-cat-fav-gray					{ background-position: -3em  -1em; }
.rf-icon-cat-fav-silver					{ background-position: -4em  -1em; }
.rf-icon-cat-fav-gainsboro				{ background-position: -5em  -1em; }
.rf-icon-cat-fav-white					{ background-position: -6em  -1em; }
.rf-icon-cat-fav-disabled				{ background-position: -7em  -1em; }
.rf-icon-cat-fav-error					{ background-position: -8em  -1em; }
.rf-icon-cat-fav-securities				{ background-position: -9em  -1em; }
.rf-icon-cat-fav-link					{ background-position: -10em -1em; }
.rf-icon-cat-fav-blue					{ background-position: -11em -1em; }
.rf-icon-cat-fav-price-up				{ background-position: -12em -1em; }
.rf-icon-cat-fav-price-down				{ background-position: -13em -1em; }

/* Order */
.rf-icon-cat-order-red					{ background-position:  0    -2em; }
.rf-icon-cat-order-black				{ background-position: -1em  -2em; }
.rf-icon-cat-order-dimgray				{ background-position: -2em  -2em; }
.rf-icon-cat-order-gray					{ background-position: -3em  -2em; }
.rf-icon-cat-order-silver				{ background-position: -4em  -2em; }
.rf-icon-cat-order-gainsboro			{ background-position: -5em  -2em; }
.rf-icon-cat-order-white				{ background-position: -6em  -2em; }
.rf-icon-cat-order-disabled				{ background-position: -7em  -2em; }
.rf-icon-cat-order-error				{ background-position: -8em  -2em; }
.rf-icon-cat-order-securities			{ background-position: -9em  -2em; }
.rf-icon-cat-order-link					{ background-position: -10em -2em; }
.rf-icon-cat-order-blue					{ background-position: -11em -2em; }
.rf-icon-cat-order-price-up				{ background-position: -12em -2em; }
.rf-icon-cat-order-price-down			{ background-position: -13em -2em; }

/* More */
.rf-icon-cat-more-red					{ background-position:  0    -3em; }
.rf-icon-cat-more-black					{ background-position: -1em  -3em; }
.rf-icon-cat-more-dimgray				{ background-position: -2em  -3em; }
.rf-icon-cat-more-gray					{ background-position: -3em  -3em; }
.rf-icon-cat-more-silver				{ background-position: -4em  -3em; }
.rf-icon-cat-more-gainsboro				{ background-position: -5em  -3em; }
.rf-icon-cat-more-white					{ background-position: -6em  -3em; }
.rf-icon-cat-more-disabled				{ background-position: -7em  -3em; }
.rf-icon-cat-more-error					{ background-position: -8em  -3em; }
.rf-icon-cat-more-securities			{ background-position: -9em  -3em; }
.rf-icon-cat-more-link					{ background-position: -10em -3em; }
.rf-icon-cat-more-blue					{ background-position: -11em -3em; }
.rf-icon-cat-more-price-up				{ background-position: -12em -3em; }
.rf-icon-cat-more-price-down			{ background-position: -13em -3em; }

/* Holdings */
.rf-icon-cat-holdings-red				{ background-position:  0    -4em; }
.rf-icon-cat-holdings-black				{ background-position: -1em  -4em; }
.rf-icon-cat-holdings-dimgray			{ background-position: -2em  -4em; }
.rf-icon-cat-holdings-gray				{ background-position: -3em  -4em; }
.rf-icon-cat-holdings-silver			{ background-position: -4em  -4em; }
.rf-icon-cat-holdings-gainsboro			{ background-position: -5em  -4em; }
.rf-icon-cat-holdings-white				{ background-position: -6em  -4em; }
.rf-icon-cat-holdings-disabled			{ background-position: -7em  -4em; }
.rf-icon-cat-holdings-error				{ background-position: -8em  -4em; }
.rf-icon-cat-holdings-securities		{ background-position: -9em  -4em; }
.rf-icon-cat-holdings-link				{ background-position: -10em -4em; }
.rf-icon-cat-holdings-blue				{ background-position: -11em -4em; }
.rf-icon-cat-holdings-price-up			{ background-position: -12em -4em; }
.rf-icon-cat-holdings-price-down		{ background-position: -13em -4em; }

/* Withdraw */
.rf-icon-cat-withdraw-red				{ background-position:  0    -5em; }
.rf-icon-cat-withdraw-black				{ background-position: -1em  -5em; }
.rf-icon-cat-withdraw-dimgray			{ background-position: -2em  -5em; }
.rf-icon-cat-withdraw-gray				{ background-position: -3em  -5em; }
.rf-icon-cat-withdraw-silver			{ background-position: -4em  -5em; }
.rf-icon-cat-withdraw-gainsboro			{ background-position: -5em  -5em; }
.rf-icon-cat-withdraw-white				{ background-position: -6em  -5em; }
.rf-icon-cat-withdraw-disabled			{ background-position: -7em  -5em; }
.rf-icon-cat-withdraw-error				{ background-position: -8em  -5em; }
.rf-icon-cat-withdraw-securities		{ background-position: -9em  -5em; }
.rf-icon-cat-withdraw-link				{ background-position: -10em -5em; }
.rf-icon-cat-withdraw-blue				{ background-position: -11em -5em; }
.rf-icon-cat-withdraw-price-up			{ background-position: -12em -5em; }
.rf-icon-cat-withdraw-price-down		{ background-position: -13em -5em; }

/* Domestic stocks */
.rf-icon-cat-domesticstock-red			{ background-position:  0    -6em; }
.rf-icon-cat-domesticstock-black		{ background-position: -1em  -6em; }
.rf-icon-cat-domesticstock-dimgray		{ background-position: -2em  -6em; }
.rf-icon-cat-domesticstock-gray			{ background-position: -3em  -6em; }
.rf-icon-cat-domesticstock-silver		{ background-position: -4em  -6em; }
.rf-icon-cat-domesticstock-gainsboro	{ background-position: -5em  -6em; }
.rf-icon-cat-domesticstock-white		{ background-position: -6em  -6em; }
.rf-icon-cat-domesticstock-disabled		{ background-position: -7em  -6em; }
.rf-icon-cat-domesticstock-error		{ background-position: -8em  -6em; }
.rf-icon-cat-domesticstock-securities	{ background-position: -9em  -6em; }
.rf-icon-cat-domesticstock-link			{ background-position: -10em -6em; }
.rf-icon-cat-domesticstock-blue			{ background-position: -11em -6em; }
.rf-icon-cat-domesticstock-price-up		{ background-position: -12em -6em; }
.rf-icon-cat-domesticstock-price-down	{ background-position: -13em -6em; }

/* Investment */
.rf-icon-cat-investment-red				{ background-position:  0    -7em; }
.rf-icon-cat-investment-black			{ background-position: -1em  -7em; }
.rf-icon-cat-investment-dimgray			{ background-position: -2em  -7em; }
.rf-icon-cat-investment-gray			{ background-position: -3em  -7em; }
.rf-icon-cat-investment-silver			{ background-position: -4em  -7em; }
.rf-icon-cat-investment-gainsboro		{ background-position: -5em  -7em; }
.rf-icon-cat-investment-white			{ background-position: -6em  -7em; }
.rf-icon-cat-investment-disabled		{ background-position: -7em  -7em; }
.rf-icon-cat-investment-error			{ background-position: -8em  -7em; }
.rf-icon-cat-investment-securities		{ background-position: -9em  -7em; }
.rf-icon-cat-investment-link			{ background-position: -10em -7em; }
.rf-icon-cat-investment-blue			{ background-position: -11em -7em; }
.rf-icon-cat-investment-price-up		{ background-position: -12em -7em; }
.rf-icon-cat-investment-price-down		{ background-position: -13em -7em; }

/* FX */
.rf-icon-cat-fx-red						{ background-position:  0    -8em; }
.rf-icon-cat-fx-black					{ background-position: -1em  -8em; }
.rf-icon-cat-fx-dimgray					{ background-position: -2em  -8em; }
.rf-icon-cat-fx-gray					{ background-position: -3em  -8em; }
.rf-icon-cat-fx-silver					{ background-position: -4em  -8em; }
.rf-icon-cat-fx-gainsboro				{ background-position: -5em  -8em; }
.rf-icon-cat-fx-white					{ background-position: -6em  -8em; }
.rf-icon-cat-fx-disabled				{ background-position: -7em  -8em; }
.rf-icon-cat-fx-error					{ background-position: -8em  -8em; }
.rf-icon-cat-fx-securities				{ background-position: -9em  -8em; }
.rf-icon-cat-fx-link					{ background-position: -10em -8em; }
.rf-icon-cat-fx-blue					{ background-position: -11em -8em; }
.rf-icon-cat-fx-price-up				{ background-position: -12em -8em; }
.rf-icon-cat-fx-price-down				{ background-position: -13em -8em; }

/* Foreign stocks */
.rf-icon-cat-foreignstock-red			{ background-position:  0    -9em; }
.rf-icon-cat-foreignstock-black			{ background-position: -1em  -9em; }
.rf-icon-cat-foreignstock-dimgray		{ background-position: -2em  -9em; }
.rf-icon-cat-foreignstock-gray			{ background-position: -3em  -9em; }
.rf-icon-cat-foreignstock-silver		{ background-position: -4em  -9em; }
.rf-icon-cat-foreignstock-gainsboro		{ background-position: -5em  -9em; }
.rf-icon-cat-foreignstock-white			{ background-position: -6em  -9em; }
.rf-icon-cat-foreignstock-disabled		{ background-position: -7em  -9em; }
.rf-icon-cat-foreignstock-error			{ background-position: -8em  -9em; }
.rf-icon-cat-foreignstock-securities	{ background-position: -9em  -9em; }
.rf-icon-cat-foreignstock-link			{ background-position: -10em -9em; }
.rf-icon-cat-foreignstock-blue			{ background-position: -11em -9em; }
.rf-icon-cat-foreignstock-price-up		{ background-position: -12em -9em; }
.rf-icon-cat-foreignstock-price-down	{ background-position: -13em -9em; }

/* NISA */
.rf-icon-cat-nisa-red					{ background-position:  0    -10em; }
.rf-icon-cat-nisa-black					{ background-position: -1em  -10em; }
.rf-icon-cat-nisa-dimgray				{ background-position: -2em  -10em; }
.rf-icon-cat-nisa-gray					{ background-position: -3em  -10em; }
.rf-icon-cat-nisa-silver				{ background-position: -4em  -10em; }
.rf-icon-cat-nisa-gainsboro				{ background-position: -5em  -10em; }
.rf-icon-cat-nisa-white					{ background-position: -6em  -10em; }
.rf-icon-cat-nisa-disabled				{ background-position: -7em  -10em; }
.rf-icon-cat-nisa-error					{ background-position: -8em  -10em; }
.rf-icon-cat-nisa-securities			{ background-position: -9em  -10em; }
.rf-icon-cat-nisa-link					{ background-position: -10em -10em; }
.rf-icon-cat-nisa-blue					{ background-position: -11em -10em; }
.rf-icon-cat-nisa-price-up				{ background-position: -12em -10em; }
.rf-icon-cat-nisa-price-down			{ background-position: -13em -10em; }

/* Rakuwrap */
.rf-icon-cat-rakuwrap-red				{ background-position:  0    -11em; }
.rf-icon-cat-rakuwrap-black				{ background-position: -1em  -11em; }
.rf-icon-cat-rakuwrap-dimgray			{ background-position: -2em  -11em; }
.rf-icon-cat-rakuwrap-gray				{ background-position: -3em  -11em; }
.rf-icon-cat-rakuwrap-silver			{ background-position: -4em  -11em; }
.rf-icon-cat-rakuwrap-gainsboro			{ background-position: -5em  -11em; }
.rf-icon-cat-rakuwrap-white				{ background-position: -6em  -11em; }
.rf-icon-cat-rakuwrap-disabled			{ background-position: -7em  -11em; }
.rf-icon-cat-rakuwrap-error				{ background-position: -8em  -11em; }
.rf-icon-cat-rakuwrap-securities		{ background-position: -9em  -11em; }
.rf-icon-cat-rakuwrap-link				{ background-position: -10em -11em; }
.rf-icon-cat-rakuwrap-blue				{ background-position: -11em -11em; }
.rf-icon-cat-rakuwrap-price-up			{ background-position: -12em -11em; }
.rf-icon-cat-rakuwrap-price-down		{ background-position: -13em -11em; }

/* 401k */
.rf-icon-cat-401k-red					{ background-position:  0    -12em; }
.rf-icon-cat-401k-black					{ background-position: -1em  -12em; }
.rf-icon-cat-401k-dimgray				{ background-position: -2em  -12em; }
.rf-icon-cat-401k-gray					{ background-position: -3em  -12em; }
.rf-icon-cat-401k-silver				{ background-position: -4em  -12em; }
.rf-icon-cat-401k-gainsboro				{ background-position: -5em  -12em; }
.rf-icon-cat-401k-white					{ background-position: -6em  -12em; }
.rf-icon-cat-401k-disabled				{ background-position: -7em  -12em; }
.rf-icon-cat-401k-error					{ background-position: -8em  -12em; }
.rf-icon-cat-401k-securities			{ background-position: -9em  -12em; }
.rf-icon-cat-401k-link					{ background-position: -10em -12em; }
.rf-icon-cat-401k-blue					{ background-position: -11em -12em; }
.rf-icon-cat-401k-price-up				{ background-position: -12em -12em; }
.rf-icon-cat-401k-price-down			{ background-position: -13em -12em; }

/* Credit */
.rf-icon-cat-credit-red					{ background-position:  0    -13em; }
.rf-icon-cat-credit-black				{ background-position: -1em  -13em; }
.rf-icon-cat-credit-dimgray				{ background-position: -2em  -13em; }
.rf-icon-cat-credit-gray				{ background-position: -3em  -13em; }
.rf-icon-cat-credit-silver				{ background-position: -4em  -13em; }
.rf-icon-cat-credit-gainsboro			{ background-position: -5em  -13em; }
.rf-icon-cat-credit-white				{ background-position: -6em  -13em; }
.rf-icon-cat-credit-disabled			{ background-position: -7em  -13em; }
.rf-icon-cat-credit-error				{ background-position: -8em  -13em; }
.rf-icon-cat-credit-securities			{ background-position: -9em  -13em; }
.rf-icon-cat-credit-link				{ background-position: -10em -13em; }
.rf-icon-cat-credit-blue				{ background-position: -11em -13em; }
.rf-icon-cat-credit-price-up			{ background-position: -12em -13em; }
.rf-icon-cat-credit-price-down			{ background-position: -13em -13em; }

/* Market */
.rf-icon-cat-market-red					{ background-position:  0    -14em; }
.rf-icon-cat-market-black				{ background-position: -1em  -14em; }
.rf-icon-cat-market-dimgray				{ background-position: -2em  -14em; }
.rf-icon-cat-market-gray				{ background-position: -3em  -14em; }
.rf-icon-cat-market-silver				{ background-position: -4em  -14em; }
.rf-icon-cat-market-gainsboro			{ background-position: -5em  -14em; }
.rf-icon-cat-market-white				{ background-position: -6em  -14em; }
.rf-icon-cat-market-disabled			{ background-position: -7em  -14em; }
.rf-icon-cat-market-error				{ background-position: -8em  -14em; }
.rf-icon-cat-market-securities			{ background-position: -9em  -14em; }
.rf-icon-cat-market-link				{ background-position: -10em -14em; }
.rf-icon-cat-market-blue				{ background-position: -11em -14em; }
.rf-icon-cat-market-price-up			{ background-position: -12em -14em; }
.rf-icon-cat-market-price-down			{ background-position: -13em -14em; }

/* Settings */
.rf-icon-cat-settings-red				{ background-position:  0    -15em; }
.rf-icon-cat-settings-black				{ background-position: -1em  -15em; }
.rf-icon-cat-settings-dimgray			{ background-position: -2em  -15em; }
.rf-icon-cat-settings-gray				{ background-position: -3em  -15em; }
.rf-icon-cat-settings-silver			{ background-position: -4em  -15em; }
.rf-icon-cat-settings-gainsboro			{ background-position: -5em  -15em; }
.rf-icon-cat-settings-white				{ background-position: -6em  -15em; }
.rf-icon-cat-settings-disabled			{ background-position: -7em  -15em; }
.rf-icon-cat-settings-error				{ background-position: -8em  -15em; }
.rf-icon-cat-settings-securities		{ background-position: -9em  -15em; }
.rf-icon-cat-settings-link				{ background-position: -10em -15em; }
.rf-icon-cat-settings-blue				{ background-position: -11em -15em; }
.rf-icon-cat-settings-price-up			{ background-position: -12em -15em; }
.rf-icon-cat-settings-price-down		{ background-position: -13em -15em; }

/* Support */
.rf-icon-cat-support-red				{ background-position:  0    -16em; }
.rf-icon-cat-support-black				{ background-position: -1em  -16em; }
.rf-icon-cat-support-dimgray			{ background-position: -2em  -16em; }
.rf-icon-cat-support-gray				{ background-position: -3em  -16em; }
.rf-icon-cat-support-silver				{ background-position: -4em  -16em; }
.rf-icon-cat-support-gainsboro			{ background-position: -5em  -16em; }
.rf-icon-cat-support-white				{ background-position: -6em  -16em; }
.rf-icon-cat-support-disabled			{ background-position: -7em  -16em; }
.rf-icon-cat-support-error				{ background-position: -8em  -16em; }
.rf-icon-cat-support-securities			{ background-position: -9em  -16em; }
.rf-icon-cat-support-link				{ background-position: -10em -16em; }
.rf-icon-cat-support-blue				{ background-position: -11em -16em; }
.rf-icon-cat-support-price-up			{ background-position: -12em -16em; }
.rf-icon-cat-support-price-down			{ background-position: -13em -16em; }

/* Seminar */
.rf-icon-cat-seminar-red				{ background-position:  0    -17em; }
.rf-icon-cat-seminar-black				{ background-position: -1em  -17em; }
.rf-icon-cat-seminar-dimgray			{ background-position: -2em  -17em; }
.rf-icon-cat-seminar-gray				{ background-position: -3em  -17em; }
.rf-icon-cat-seminar-silver				{ background-position: -4em  -17em; }
.rf-icon-cat-seminar-gainsboro			{ background-position: -5em  -17em; }
.rf-icon-cat-seminar-white				{ background-position: -6em  -17em; }
.rf-icon-cat-seminar-disabled			{ background-position: -7em  -17em; }
.rf-icon-cat-seminar-error				{ background-position: -8em  -17em; }
.rf-icon-cat-seminar-securities			{ background-position: -9em  -17em; }
.rf-icon-cat-seminar-link				{ background-position: -10em -17em; }
.rf-icon-cat-seminar-blue				{ background-position: -11em -17em; }
.rf-icon-cat-seminar-price-up			{ background-position: -12em -17em; }
.rf-icon-cat-seminar-price-down			{ background-position: -13em -17em; }

/* PC */
.rf-icon-cat-pc-red				{ background-position:  0    -18em; }
.rf-icon-cat-pc-black				{ background-position: -1em  -18em; }
.rf-icon-cat-pc-dimgray			{ background-position: -2em  -18em; }
.rf-icon-cat-pc-gray				{ background-position: -3em  -18em; }
.rf-icon-cat-pc-silver				{ background-position: -4em  -18em; }
.rf-icon-cat-pc-gainsboro			{ background-position: -5em  -18em; }
.rf-icon-cat-pc-white				{ background-position: -6em  -18em; }
.rf-icon-cat-pc-disabled			{ background-position: -7em  -18em; }
.rf-icon-cat-pc-error				{ background-position: -8em  -18em; }
.rf-icon-cat-pc-securities			{ background-position: -9em  -18em; }
.rf-icon-cat-pc-link				{ background-position: -10em -18em; }
.rf-icon-cat-pc-blue				{ background-position: -11em -18em; }
.rf-icon-cat-pc-price-up			{ background-position: -12em -18em; }
.rf-icon-cat-pc-price-down			{ background-position: -13em -18em; }

/* Logout */
.rf-icon-cat-logout-red				{ background-position:  0    -19em; }
.rf-icon-cat-logout-black				{ background-position: -1em  -19em; }
.rf-icon-cat-logout-dimgray			{ background-position: -2em  -19em; }
.rf-icon-cat-logout-gray				{ background-position: -3em  -19em; }
.rf-icon-cat-logout-silver				{ background-position: -4em  -19em; }
.rf-icon-cat-logout-gainsboro			{ background-position: -5em  -19em; }
.rf-icon-cat-logout-white				{ background-position: -6em  -19em; }
.rf-icon-cat-logout-disabled			{ background-position: -7em  -19em; }
.rf-icon-cat-logout-error				{ background-position: -8em  -19em; }
.rf-icon-cat-logout-securities			{ background-position: -9em  -19em; }
.rf-icon-cat-logout-link				{ background-position: -10em -19em; }
.rf-icon-cat-logout-blue				{ background-position: -11em -19em; }
.rf-icon-cat-logout-price-up			{ background-position: -12em -19em; }
.rf-icon-cat-logout-price-down			{ background-position: -13em -19em; }

/* Account management */
.rf-icon-cat-acct-mng-red				{ background-position:  0    0; }
.rf-icon-cat-acct-mng-black				{ background-position: -1em  0; }
.rf-icon-cat-acct-mng-dimgray			{ background-position: -2em  0; }
.rf-icon-cat-acct-mng-gray				{ background-position: -3em  0; }
.rf-icon-cat-acct-mng-silver				{ background-position: -4em  0; }
.rf-icon-cat-acct-mng-gainsboro			{ background-position: -5em  0; }
.rf-icon-cat-acct-mng-white				{ background-position: -6em  0; }
.rf-icon-cat-acct-mng-disabled			{ background-position: -7em  0; }
.rf-icon-cat-acct-mng-error				{ background-position: -8em  0; }
.rf-icon-cat-acct-mng-securities			{ background-position: -9em  0; }
.rf-icon-cat-acct-mng-link				{ background-position: -10em 0; }
.rf-icon-cat-acct-mng-blue				{ background-position: -11em 0; }
.rf-icon-cat-acct-mng-price-up			{ background-position: -12em 0; }
.rf-icon-cat-acct-mng-price-down			{ background-position: -13em 0; }

/* Account Info */
.rf-icon-cat-acct-info-red				{ background-position:  0    -1em; }
.rf-icon-cat-acct-info-black				{ background-position: -1em  -1em; }
.rf-icon-cat-acct-info-dimgray			{ background-position: -2em  -1em; }
.rf-icon-cat-acct-info-gray				{ background-position: -3em  -1em; }
.rf-icon-cat-acct-info-silver				{ background-position: -4em  -1em; }
.rf-icon-cat-acct-info-gainsboro			{ background-position: -5em  -1em; }
.rf-icon-cat-acct-info-white				{ background-position: -6em  -1em; }
.rf-icon-cat-acct-info-disabled			{ background-position: -7em  -1em; }
.rf-icon-cat-acct-info-error				{ background-position: -8em  -1em; }
.rf-icon-cat-acct-info-securities			{ background-position: -9em  -1em; }
.rf-icon-cat-acct-info-link				{ background-position: -10em -1em; }
.rf-icon-cat-acct-info-blue				{ background-position: -11em -1em; }
.rf-icon-cat-acct-info-price-up			{ background-position: -12em -1em; }
.rf-icon-cat-acct-info-price-down			{ background-position: -13em -1em; }

/* Recommendations */
.rf-icon-cat-recommend-red				{ background-position:  0    -2em; }
.rf-icon-cat-recommend-black				{ background-position: -1em  -2em; }
.rf-icon-cat-recommend-dimgray			{ background-position: -2em  -2em; }
.rf-icon-cat-recommend-gray				{ background-position: -3em  -2em; }
.rf-icon-cat-recommend-silver				{ background-position: -4em  -2em; }
.rf-icon-cat-recommend-gainsboro			{ background-position: -5em  -2em; }
.rf-icon-cat-recommend-white				{ background-position: -6em  -2em; }
.rf-icon-cat-recommend-disabled			{ background-position: -7em  -2em; }
.rf-icon-cat-recommend-error				{ background-position: -8em  -2em; }
.rf-icon-cat-recommend-securities			{ background-position: -9em  -2em; }
.rf-icon-cat-recommend-link				{ background-position: -10em -2em; }
.rf-icon-cat-recommend-blue				{ background-position: -11em -2em; }
.rf-icon-cat-recommend-price-up			{ background-position: -12em -2em; }
.rf-icon-cat-recommend-price-down			{ background-position: -13em -2em; }

/* Fee */
.rf-icon-cat-fee-red				{ background-position:  0    -3em; }
.rf-icon-cat-fee-black				{ background-position: -1em  -3em; }
.rf-icon-cat-fee-dimgray			{ background-position: -2em  -3em; }
.rf-icon-cat-fee-gray				{ background-position: -3em  -3em; }
.rf-icon-cat-fee-silver				{ background-position: -4em  -3em; }
.rf-icon-cat-fee-gainsboro			{ background-position: -5em  -3em; }
.rf-icon-cat-fee-white				{ background-position: -6em  -3em; }
.rf-icon-cat-fee-disabled			{ background-position: -7em  -3em; }
.rf-icon-cat-fee-error				{ background-position: -8em  -3em; }
.rf-icon-cat-fee-securities			{ background-position: -9em  -3em; }
.rf-icon-cat-fee-link				{ background-position: -10em -3em; }
.rf-icon-cat-fee-blue				{ background-position: -11em -3em; }
.rf-icon-cat-fee-price-up			{ background-position: -12em -3em; }
.rf-icon-cat-fee-price-down			{ background-position: -13em -3em; }

/* Investment Report */
.rf-icon-cat-invest-report-red				{ background-position:  0    -4em; }
.rf-icon-cat-invest-report-black				{ background-position: -1em  -4em; }
.rf-icon-cat-invest-report-dimgray			{ background-position: -2em  -4em; }
.rf-icon-cat-invest-report-gray				{ background-position: -3em  -4em; }
.rf-icon-cat-invest-report-silver				{ background-position: -4em  -4em; }
.rf-icon-cat-invest-report-gainsboro			{ background-position: -5em  -4em; }
.rf-icon-cat-invest-report-white				{ background-position: -6em  -4em; }
.rf-icon-cat-invest-report-disabled			{ background-position: -7em  -4em; }
.rf-icon-cat-invest-report-error				{ background-position: -8em  -4em; }
.rf-icon-cat-invest-report-securities			{ background-position: -9em  -4em; }
.rf-icon-cat-invest-report-link				{ background-position: -10em -4em; }
.rf-icon-cat-invest-report-blue				{ background-position: -11em -4em; }
.rf-icon-cat-invest-report-price-up			{ background-position: -12em -4em; }
.rf-icon-cat-invest-report-price-down			{ background-position: -13em -4em; }

/* Latest information */
.rf-icon-cat-latest-info-red				{ background-position:  0    -5em; }
.rf-icon-cat-latest-info-black				{ background-position: -1em  -5em; }
.rf-icon-cat-latest-info-dimgray			{ background-position: -2em  -5em; }
.rf-icon-cat-latest-info-gray				{ background-position: -3em  -5em; }
.rf-icon-cat-latest-info-silver				{ background-position: -4em  -5em; }
.rf-icon-cat-latest-info-gainsboro			{ background-position: -5em  -5em; }
.rf-icon-cat-latest-info-white				{ background-position: -6em  -5em; }
.rf-icon-cat-latest-info-disabled			{ background-position: -7em  -5em; }
.rf-icon-cat-latest-info-error				{ background-position: -8em  -5em; }
.rf-icon-cat-latest-info-securities			{ background-position: -9em  -5em; }
.rf-icon-cat-latest-info-link				{ background-position: -10em -5em; }
.rf-icon-cat-latest-info-blue				{ background-position: -11em -5em; }
.rf-icon-cat-latest-info-price-up			{ background-position: -12em -5em; }
.rf-icon-cat-latest-info-price-down			{ background-position: -13em -5em; }

/* Other */
.rf-icon-cat-other-red				{ background-position:  0    -6em; }
.rf-icon-cat-other-black				{ background-position: -1em  -6em; }
.rf-icon-cat-other-dimgray			{ background-position: -2em  -6em; }
.rf-icon-cat-other-gray				{ background-position: -3em  -6em; }
.rf-icon-cat-other-silver				{ background-position: -4em  -6em; }
.rf-icon-cat-other-gainsboro			{ background-position: -5em  -6em; }
.rf-icon-cat-other-white				{ background-position: -6em  -6em; }
.rf-icon-cat-other-disabled			{ background-position: -7em  -6em; }
.rf-icon-cat-other-error				{ background-position: -8em  -6em; }
.rf-icon-cat-other-securities			{ background-position: -9em  -6em; }
.rf-icon-cat-other-link				{ background-position: -10em -6em; }
.rf-icon-cat-other-blue				{ background-position: -11em -6em; }
.rf-icon-cat-other-price-up			{ background-position: -12em -6em; }
.rf-icon-cat-other-price-down			{ background-position: -13em -6em; }

/* Balance */
.rf-icon-cat-balance-red				{ background-position:  0    -7em; }
.rf-icon-cat-balance-black				{ background-position: -1em  -7em; }
.rf-icon-cat-balance-dimgray			{ background-position: -2em  -7em; }
.rf-icon-cat-balance-gray				{ background-position: -3em  -7em; }
.rf-icon-cat-balance-silver				{ background-position: -4em  -7em; }
.rf-icon-cat-balance-gainsboro			{ background-position: -5em  -7em; }
.rf-icon-cat-balance-white				{ background-position: -6em  -7em; }
.rf-icon-cat-balance-disabled			{ background-position: -7em  -7em; }
.rf-icon-cat-balance-error				{ background-position: -8em  -7em; }
.rf-icon-cat-balance-securities			{ background-position: -9em  -7em; }
.rf-icon-cat-balance-link				{ background-position: -10em -7em; }
.rf-icon-cat-balance-blue				{ background-position: -11em -7em; }
.rf-icon-cat-balance-price-up			{ background-position: -12em -7em; }
.rf-icon-cat-balance-price-down			{ background-position: -13em -7em; }

/* Balance history */
.rf-icon-cat-balance-hist-red				{ background-position:  0    -8em; }
.rf-icon-cat-balance-hist-black				{ background-position: -1em  -8em; }
.rf-icon-cat-balance-hist-dimgray			{ background-position: -2em  -8em; }
.rf-icon-cat-balance-hist-gray				{ background-position: -3em  -8em; }
.rf-icon-cat-balance-hist-silver				{ background-position: -4em  -8em; }
.rf-icon-cat-balance-hist-gainsboro			{ background-position: -5em  -8em; }
.rf-icon-cat-balance-hist-white				{ background-position: -6em  -8em; }
.rf-icon-cat-balance-hist-disabled			{ background-position: -7em  -8em; }
.rf-icon-cat-balance-hist-error				{ background-position: -8em  -8em; }
.rf-icon-cat-balance-hist-securities			{ background-position: -9em  -8em; }
.rf-icon-cat-balance-hist-link				{ background-position: -10em -8em; }
.rf-icon-cat-balance-hist-blue				{ background-position: -11em -8em; }
.rf-icon-cat-balance-hist-price-up			{ background-position: -12em -8em; }
.rf-icon-cat-balance-hist-price-down			{ background-position: -13em -8em; }

/* Transfer margin */
.rf-icon-cat-transfer-marg-red				{ background-position:  0    -9em; }
.rf-icon-cat-transfer-marg-black				{ background-position: -1em  -9em; }
.rf-icon-cat-transfer-marg-dimgray			{ background-position: -2em  -9em; }
.rf-icon-cat-transfer-marg-gray				{ background-position: -3em  -9em; }
.rf-icon-cat-transfer-marg-silver				{ background-position: -4em  -9em; }
.rf-icon-cat-transfer-marg-gainsboro			{ background-position: -5em  -9em; }
.rf-icon-cat-transfer-marg-white				{ background-position: -6em  -9em; }
.rf-icon-cat-transfer-marg-disabled			{ background-position: -7em  -9em; }
.rf-icon-cat-transfer-marg-error				{ background-position: -8em  -9em; }
.rf-icon-cat-transfer-marg-securities			{ background-position: -9em  -9em; }
.rf-icon-cat-transfer-marg-link				{ background-position: -10em -9em; }
.rf-icon-cat-transfer-marg-blue				{ background-position: -11em -9em; }
.rf-icon-cat-transfer-marg-price-up			{ background-position: -12em -9em; }
.rf-icon-cat-transfer-marg-price-down			{ background-position: -13em -9em; }

/* Dividend distribution */
.rf-icon-cat-dividend-dist-red				{ background-position:  0    -10em; }
.rf-icon-cat-dividend-dist-black				{ background-position: -1em  -10em; }
.rf-icon-cat-dividend-dist-dimgray			{ background-position: -2em  -10em; }
.rf-icon-cat-dividend-dist-gray				{ background-position: -3em  -10em; }
.rf-icon-cat-dividend-dist-silver				{ background-position: -4em  -10em; }
.rf-icon-cat-dividend-dist-gainsboro			{ background-position: -5em  -10em; }
.rf-icon-cat-dividend-dist-white				{ background-position: -6em  -10em; }
.rf-icon-cat-dividend-dist-disabled			{ background-position: -7em  -10em; }
.rf-icon-cat-dividend-dist-error				{ background-position: -8em  -10em; }
.rf-icon-cat-dividend-dist-securities			{ background-position: -9em  -10em; }
.rf-icon-cat-dividend-dist-link				{ background-position: -10em -10em; }
.rf-icon-cat-dividend-dist-blue				{ background-position: -11em -10em; }
.rf-icon-cat-dividend-dist-price-up			{ background-position: -12em -10em; }
.rf-icon-cat-dividend-dist-price-down			{ background-position: -13em -10em; }

/* Trading history */
.rf-icon-cat-trade-hist-red				{ background-position:  0    -11em; }
.rf-icon-cat-trade-hist-black				{ background-position: -1em  -11em; }
.rf-icon-cat-trade-hist-dimgray			{ background-position: -2em  -11em; }
.rf-icon-cat-trade-hist-gray				{ background-position: -3em  -11em; }
.rf-icon-cat-trade-hist-silver				{ background-position: -4em  -11em; }
.rf-icon-cat-trade-hist-gainsboro			{ background-position: -5em  -11em; }
.rf-icon-cat-trade-hist-white				{ background-position: -6em  -11em; }
.rf-icon-cat-trade-hist-disabled			{ background-position: -7em  -11em; }
.rf-icon-cat-trade-hist-error				{ background-position: -8em  -11em; }
.rf-icon-cat-trade-hist-securities			{ background-position: -9em  -11em; }
.rf-icon-cat-trade-hist-link				{ background-position: -10em -11em; }
.rf-icon-cat-trade-hist-blue				{ background-position: -11em -11em; }
.rf-icon-cat-trade-hist-price-up			{ background-position: -12em -11em; }
.rf-icon-cat-trade-hist-price-down			{ background-position: -13em -11em; }

/* Gains and losses */
.rf-icon-cat-gains-loss-red				{ background-position:  0    -12em; }
.rf-icon-cat-gains-loss-black				{ background-position: -1em  -12em; }
.rf-icon-cat-gains-loss-dimgray			{ background-position: -2em  -12em; }
.rf-icon-cat-gains-loss-gray				{ background-position: -3em  -12em; }
.rf-icon-cat-gains-loss-silver				{ background-position: -4em  -12em; }
.rf-icon-cat-gains-loss-gainsboro			{ background-position: -5em  -12em; }
.rf-icon-cat-gains-loss-white				{ background-position: -6em  -12em; }
.rf-icon-cat-gains-loss-disabled			{ background-position: -7em  -12em; }
.rf-icon-cat-gains-loss-error				{ background-position: -8em  -12em; }
.rf-icon-cat-gains-loss-securities			{ background-position: -9em  -12em; }
.rf-icon-cat-gains-loss-link				{ background-position: -10em -12em; }
.rf-icon-cat-gains-loss-blue				{ background-position: -11em -12em; }
.rf-icon-cat-gains-loss-price-up			{ background-position: -12em -12em; }
.rf-icon-cat-gains-loss-price-down			{ background-position: -13em -12em; }

/* Available purchase amount */
.rf-icon-cat-purchase-amt-red				{ background-position:  0    -13em; }
.rf-icon-cat-purchase-amt-black				{ background-position: -1em  -13em; }
.rf-icon-cat-purchase-amt-dimgray			{ background-position: -2em  -13em; }
.rf-icon-cat-purchase-amt-gray				{ background-position: -3em  -13em; }
.rf-icon-cat-purchase-amt-silver				{ background-position: -4em  -13em; }
.rf-icon-cat-purchase-amt-gainsboro			{ background-position: -5em  -13em; }
.rf-icon-cat-purchase-amt-white				{ background-position: -6em  -13em; }
.rf-icon-cat-purchase-amt-disabled			{ background-position: -7em  -13em; }
.rf-icon-cat-purchase-amt-error				{ background-position: -8em  -13em; }
.rf-icon-cat-purchase-amt-securities			{ background-position: -9em  -13em; }
.rf-icon-cat-purchase-amt-link				{ background-position: -10em -13em; }
.rf-icon-cat-purchase-amt-blue				{ background-position: -11em -13em; }
.rf-icon-cat-purchase-amt-price-up			{ background-position: -12em -13em; }
.rf-icon-cat-purchase-amt-price-down			{ background-position: -13em -13em; }

/* Ranking */
.rf-icon-cat-ranking-red				{ background-position:  0    -14em; }
.rf-icon-cat-ranking-black				{ background-position: -1em  -14em; }
.rf-icon-cat-ranking-dimgray			{ background-position: -2em  -14em; }
.rf-icon-cat-ranking-gray				{ background-position: -3em  -14em; }
.rf-icon-cat-ranking-silver				{ background-position: -4em  -14em; }
.rf-icon-cat-ranking-gainsboro			{ background-position: -5em  -14em; }
.rf-icon-cat-ranking-white				{ background-position: -6em  -14em; }
.rf-icon-cat-ranking-disabled			{ background-position: -7em  -14em; }
.rf-icon-cat-ranking-error				{ background-position: -8em  -14em; }
.rf-icon-cat-ranking-securities			{ background-position: -9em  -14em; }
.rf-icon-cat-ranking-link				{ background-position: -10em -14em; }
.rf-icon-cat-ranking-blue				{ background-position: -11em -14em; }
.rf-icon-cat-ranking-price-up			{ background-position: -12em -14em; }
.rf-icon-cat-ranking-price-down			{ background-position: -13em -14em; }

/* Trading balance */
.rf-icon-cat-trade-balance-red				{ background-position:  0    -15em; }
.rf-icon-cat-trade-balance-black				{ background-position: -1em  -15em; }
.rf-icon-cat-trade-balance-dimgray			{ background-position: -2em  -15em; }
.rf-icon-cat-trade-balance-gray				{ background-position: -3em  -15em; }
.rf-icon-cat-trade-balance-silver				{ background-position: -4em  -15em; }
.rf-icon-cat-trade-balance-gainsboro			{ background-position: -5em  -15em; }
.rf-icon-cat-trade-balance-white				{ background-position: -6em  -15em; }
.rf-icon-cat-trade-balance-disabled			{ background-position: -7em  -15em; }
.rf-icon-cat-trade-balance-error				{ background-position: -8em  -15em; }
.rf-icon-cat-trade-balance-securities			{ background-position: -9em  -15em; }
.rf-icon-cat-trade-balance-link				{ background-position: -10em -15em; }
.rf-icon-cat-trade-balance-blue				{ background-position: -11em -15em; }
.rf-icon-cat-trade-balance-price-up			{ background-position: -12em -15em; }
.rf-icon-cat-trade-balance-price-down			{ background-position: -13em -15em; }

/* Documents */
.rf-icon-cat-documents-red				{ background-position:  0    -16em; }
.rf-icon-cat-documents-black				{ background-position: -1em  -16em; }
.rf-icon-cat-documents-dimgray			{ background-position: -2em  -16em; }
.rf-icon-cat-documents-gray				{ background-position: -3em  -16em; }
.rf-icon-cat-documents-silver				{ background-position: -4em  -16em; }
.rf-icon-cat-documents-gainsboro			{ background-position: -5em  -16em; }
.rf-icon-cat-documents-white				{ background-position: -6em  -16em; }
.rf-icon-cat-documents-disabled			{ background-position: -7em  -16em; }
.rf-icon-cat-documents-error				{ background-position: -8em  -16em; }
.rf-icon-cat-documents-securities			{ background-position: -9em  -16em; }
.rf-icon-cat-documents-link				{ background-position: -10em -16em; }
.rf-icon-cat-documents-blue				{ background-position: -11em -16em; }
.rf-icon-cat-documents-price-up			{ background-position: -12em -16em; }
.rf-icon-cat-documents-price-down			{ background-position: -13em -16em; }

/* Total return */
.rf-icon-cat-total-return-red				{ background-position:  0    -17em; }
.rf-icon-cat-total-return-black				{ background-position: -1em  -17em; }
.rf-icon-cat-total-return-dimgray			{ background-position: -2em  -17em; }
.rf-icon-cat-total-return-gray				{ background-position: -3em  -17em; }
.rf-icon-cat-total-return-silver				{ background-position: -4em  -17em; }
.rf-icon-cat-total-return-gainsboro			{ background-position: -5em  -17em; }
.rf-icon-cat-total-return-white				{ background-position: -6em  -17em; }
.rf-icon-cat-total-return-disabled			{ background-position: -7em  -17em; }
.rf-icon-cat-total-return-error				{ background-position: -8em  -17em; }
.rf-icon-cat-total-return-securities			{ background-position: -9em  -17em; }
.rf-icon-cat-total-return-link				{ background-position: -10em -17em; }
.rf-icon-cat-total-return-blue				{ background-position: -11em -17em; }
.rf-icon-cat-total-return-price-up			{ background-position: -12em -17em; }
.rf-icon-cat-total-return-price-down			{ background-position: -13em -17em; }

/* Collateral securities balance */
.rf-icon-cat-collat-balance-red				{ background-position:  0    -18em; }
.rf-icon-cat-collat-balance-black				{ background-position: -1em  -18em; }
.rf-icon-cat-collat-balance-dimgray			{ background-position: -2em  -18em; }
.rf-icon-cat-collat-balance-gray				{ background-position: -3em  -18em; }
.rf-icon-cat-collat-balance-silver				{ background-position: -4em  -18em; }
.rf-icon-cat-collat-balance-gainsboro			{ background-position: -5em  -18em; }
.rf-icon-cat-collat-balance-white				{ background-position: -6em  -18em; }
.rf-icon-cat-collat-balance-disabled			{ background-position: -7em  -18em; }
.rf-icon-cat-collat-balance-error				{ background-position: -8em  -18em; }
.rf-icon-cat-collat-balance-securities			{ background-position: -9em  -18em; }
.rf-icon-cat-collat-balance-link				{ background-position: -10em -18em; }
.rf-icon-cat-collat-balance-blue				{ background-position: -11em -18em; }
.rf-icon-cat-collat-balance-price-up			{ background-position: -12em -18em; }
.rf-icon-cat-collat-balance-price-down			{ background-position: -13em -18em; }

/* Collateral securities capacity */
.rf-icon-cat-collat-cap-red				{ background-position:  0    -19em; }
.rf-icon-cat-collat-cap-black				{ background-position: -1em  -19em; }
.rf-icon-cat-collat-cap-dimgray			{ background-position: -2em  -19em; }
.rf-icon-cat-collat-cap-gray				{ background-position: -3em  -19em; }
.rf-icon-cat-collat-cap-silver				{ background-position: -4em  -19em; }
.rf-icon-cat-collat-cap-gainsboro			{ background-position: -5em  -19em; }
.rf-icon-cat-collat-cap-white				{ background-position: -6em  -19em; }
.rf-icon-cat-collat-cap-disabled			{ background-position: -7em  -19em; }
.rf-icon-cat-collat-cap-error				{ background-position: -8em  -19em; }
.rf-icon-cat-collat-cap-securities			{ background-position: -9em  -19em; }
.rf-icon-cat-collat-cap-link				{ background-position: -10em -19em; }
.rf-icon-cat-collat-cap-blue				{ background-position: -11em -19em; }
.rf-icon-cat-collat-cap-price-up			{ background-position: -12em -19em; }
.rf-icon-cat-collat-cap-price-down			{ background-position: -13em -19em; }

/* Open interest list */
.rf-icon-cat-open-interest-red				{ background-position:  0    0; }
.rf-icon-cat-open-interest-black				{ background-position: -1em  0; }
.rf-icon-cat-open-interest-dimgray			{ background-position: -2em  0; }
.rf-icon-cat-open-interest-gray				{ background-position: -3em  0; }
.rf-icon-cat-open-interest-silver				{ background-position: -4em  0; }
.rf-icon-cat-open-interest-gainsboro			{ background-position: -5em  0; }
.rf-icon-cat-open-interest-white				{ background-position: -6em  0; }
.rf-icon-cat-open-interest-disabled			{ background-position: -7em  0; }
.rf-icon-cat-open-interest-error				{ background-position: -8em  0; }
.rf-icon-cat-open-interest-securities			{ background-position: -9em  0; }
.rf-icon-cat-open-interest-link				{ background-position: -10em 0; }
.rf-icon-cat-open-interest-blue				{ background-position: -11em 0; }
.rf-icon-cat-open-interest-price-up			{ background-position: -12em 0; }
.rf-icon-cat-open-interest-price-down			{ background-position: -13em 0; }

/* Future deposits */
.rf-icon-cat-future-deposit-red				{ background-position:  0    -1em; }
.rf-icon-cat-future-deposit-black				{ background-position: -1em  -1em; }
.rf-icon-cat-future-deposit-dimgray			{ background-position: -2em  -1em; }
.rf-icon-cat-future-deposit-gray				{ background-position: -3em  -1em; }
.rf-icon-cat-future-deposit-silver				{ background-position: -4em  -1em; }
.rf-icon-cat-future-deposit-gainsboro			{ background-position: -5em  -1em; }
.rf-icon-cat-future-deposit-white				{ background-position: -6em  -1em; }
.rf-icon-cat-future-deposit-disabled			{ background-position: -7em  -1em; }
.rf-icon-cat-future-deposit-error				{ background-position: -8em  -1em; }
.rf-icon-cat-future-deposit-securities			{ background-position: -9em  -1em; }
.rf-icon-cat-future-deposit-link				{ background-position: -10em -1em; }
.rf-icon-cat-future-deposit-blue				{ background-position: -11em -1em; }
.rf-icon-cat-future-deposit-price-up			{ background-position: -12em -1em; }
.rf-icon-cat-future-deposit-price-down			{ background-position: -13em -1em; }

/* Home */
.rf-icon-cat-home-red				{ background-position:  0    -2em; }
.rf-icon-cat-home-black				{ background-position: -1em  -2em; }
.rf-icon-cat-home-dimgray			{ background-position: -2em  -2em; }
.rf-icon-cat-home-gray				{ background-position: -3em  -2em; }
.rf-icon-cat-home-silver				{ background-position: -4em  -2em; }
.rf-icon-cat-home-gainsboro			{ background-position: -5em  -2em; }
.rf-icon-cat-home-white				{ background-position: -6em  -2em; }
.rf-icon-cat-home-disabled			{ background-position: -7em  -2em; }
.rf-icon-cat-home-error				{ background-position: -8em  -2em; }
.rf-icon-cat-home-securities			{ background-position: -9em  -2em; }
.rf-icon-cat-home-link				{ background-position: -10em -2em; }
.rf-icon-cat-home-blue				{ background-position: -11em -2em; }
.rf-icon-cat-home-price-up			{ background-position: -12em -2em; }
.rf-icon-cat-home-price-down			{ background-position: -13em -2em; }

/* Close */
.rf-icon-cat-close-red				{ background-position:  0    -3em; }
.rf-icon-cat-close-black				{ background-position: -1em  -3em; }
.rf-icon-cat-close-dimgray			{ background-position: -2em  -3em; }
.rf-icon-cat-close-gray				{ background-position: -3em  -3em; }
.rf-icon-cat-close-silver				{ background-position: -4em  -3em; }
.rf-icon-cat-close-gainsboro			{ background-position: -5em  -3em; }
.rf-icon-cat-close-white				{ background-position: -6em  -3em; }
.rf-icon-cat-close-disabled			{ background-position: -7em  -3em; }
.rf-icon-cat-close-error				{ background-position: -8em  -3em; }
.rf-icon-cat-close-securities			{ background-position: -9em  -3em; }
.rf-icon-cat-close-link				{ background-position: -10em -3em; }
.rf-icon-cat-close-blue				{ background-position: -11em -3em; }
.rf-icon-cat-close-price-up			{ background-position: -12em -3em; }
.rf-icon-cat-close-price-down			{ background-position: -13em -3em; }

/* Alert */
.rf-icon-cat-alert-red				{ background-position:  0    -4em; }
.rf-icon-cat-alert-black				{ background-position: -1em  -4em; }
.rf-icon-cat-alert-dimgray			{ background-position: -2em  -4em; }
.rf-icon-cat-alert-gray				{ background-position: -3em  -4em; }
.rf-icon-cat-alert-silver				{ background-position: -4em  -4em; }
.rf-icon-cat-alert-gainsboro			{ background-position: -5em  -4em; }
.rf-icon-cat-alert-white				{ background-position: -6em  -4em; }
.rf-icon-cat-alert-disabled			{ background-position: -7em  -4em; }
.rf-icon-cat-alert-error				{ background-position: -8em  -4em; }
.rf-icon-cat-alert-securities			{ background-position: -9em  -4em; }
.rf-icon-cat-alert-link				{ background-position: -10em -4em; }
.rf-icon-cat-alert-blue				{ background-position: -11em -4em; }
.rf-icon-cat-alert-price-up			{ background-position: -12em -4em; }
.rf-icon-cat-alert-price-down			{ background-position: -13em -4em; }

/* Menu */
.rf-icon-cat-menu-red				{ background-position:  0    -5em; }
.rf-icon-cat-menu-black				{ background-position: -1em  -5em; }
.rf-icon-cat-menu-dimgray			{ background-position: -2em  -5em; }
.rf-icon-cat-menu-gray				{ background-position: -3em  -5em; }
.rf-icon-cat-menu-silver				{ background-position: -4em  -5em; }
.rf-icon-cat-menu-gainsboro			{ background-position: -5em  -5em; }
.rf-icon-cat-menu-white				{ background-position: -6em  -5em; }
.rf-icon-cat-menu-disabled			{ background-position: -7em  -5em; }
.rf-icon-cat-menu-error				{ background-position: -8em  -5em; }
.rf-icon-cat-menu-securities			{ background-position: -9em  -5em; }
.rf-icon-cat-menu-link				{ background-position: -10em -5em; }
.rf-icon-cat-menu-blue				{ background-position: -11em -5em; }
.rf-icon-cat-menu-price-up			{ background-position: -12em -5em; }
.rf-icon-cat-menu-price-down			{ background-position: -13em -5em; }

/* Purchase future */
.rf-icon-cat-purchase-ftr-red				{ background-position:  0    -6em; }
.rf-icon-cat-purchase-ftr-black				{ background-position: -1em  -6em; }
.rf-icon-cat-purchase-ftr-dimgray			{ background-position: -2em  -6em; }
.rf-icon-cat-purchase-ftr-gray				{ background-position: -3em  -6em; }
.rf-icon-cat-purchase-ftr-silver				{ background-position: -4em  -6em; }
.rf-icon-cat-purchase-ftr-gainsboro			{ background-position: -5em  -6em; }
.rf-icon-cat-purchase-ftr-white				{ background-position: -6em  -6em; }
.rf-icon-cat-purchase-ftr-disabled			{ background-position: -7em  -6em; }
.rf-icon-cat-purchase-ftr-error				{ background-position: -8em  -6em; }
.rf-icon-cat-purchase-ftr-securities			{ background-position: -9em  -6em; }
.rf-icon-cat-purchase-ftr-link				{ background-position: -10em -6em; }
.rf-icon-cat-purchase-ftr-blue				{ background-position: -11em -6em; }
.rf-icon-cat-purchase-ftr-price-up			{ background-position: -12em -6em; }
.rf-icon-cat-purchase-ftr-price-down			{ background-position: -13em -6em; }

/* Bank */
.rf-icon-cat-bank-red				{ background-position:  0    -7em; }
.rf-icon-cat-bank-black				{ background-position: -1em  -7em; }
.rf-icon-cat-bank-dimgray			{ background-position: -2em  -7em; }
.rf-icon-cat-bank-gray				{ background-position: -3em  -7em; }
.rf-icon-cat-bank-silver				{ background-position: -4em  -7em; }
.rf-icon-cat-bank-gainsboro			{ background-position: -5em  -7em; }
.rf-icon-cat-bank-white				{ background-position: -6em  -7em; }
.rf-icon-cat-bank-disabled			{ background-position: -7em  -7em; }
.rf-icon-cat-bank-error				{ background-position: -8em  -7em; }
.rf-icon-cat-bank-securities			{ background-position: -9em  -7em; }
.rf-icon-cat-bank-link				{ background-position: -10em -7em; }
.rf-icon-cat-bank-blue				{ background-position: -11em -7em; }
.rf-icon-cat-bank-price-up			{ background-position: -12em -7em; }
.rf-icon-cat-bank-price-down			{ background-position: -13em -7em; }
