/* Atoms: Multi‐color icons
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


[class*='rf-icon-item'],
[class*='rf-icon-flag']						{ display: inline-block; width: 1em; height: 1em; overflow: hidden; vertical-align: -.1ex;
												background-repeat: no-repeat;}
[class*='rf-icon-item'] 					{ background-image: url('../assets/icons/sprites/multi-color.svg'); background-size: 7em 3em; }
[class*='rf-icon-flag'] 					{ background-image: url('../assets/icons/sprites/multi-color-flags.svg'); background-size: 7em 7em; }
:lang(ja) [class*='rf-icon-item'],
:lang(ja) [class*='rf-icon-flag']			{ vertical-align: -.1em; }
.no-svg [class*='rf-icon-item'] 			{ background-image: url('../assets/icons/sprites/multi-color.png'); }
.no-svg [class*='rf-icon-flag']				{ background-image: url('../assets/icons/sprites/multi-color-flags.png'); }
.no-backgroundsize [class*='rf-icon-item'],
.no-backgroundsize [class*='rf-icon-flag']	{ font-size: 14px; width: 14px; height: 14px; }

[class*='rf-icon-item'] i,
[class*='rf-icon-flag'] i,
[class*='rf-icon-item'] em,
[class*='rf-icon-flag'] em					{ display: inline-block; width: 0; height: 0; overflow: hidden;
												text-indent: 100%; white-space: nowrap; }

/* Items */
.rf-icon-item-pdf								{ background-position:  0    0; }
.rf-icon-item-help							{ background-position: -2em  0; }
.rf-icon-item-award							{ background-position: -4em  0; }
.rf-icon-item-selection					{ background-position: -6em  0; }
.rf-icon-item-help-callout			{ background-position:  0   -2em; }
.rf-icon-item-alert-blue				{ background-position: -2em -2em; }
.rf-icon-item-alert-red					{ background-position: -4em -2em; }
.rf-icon-item-piggy							{ background-position: -6em -2em; }

/* Flags */
.rf-icon-flag-us								{ background-position:  0    0; }
.rf-icon-flag-eu								{ background-position: -2em  0; }
.rf-icon-flag-uk								{ background-position: -4em  0; }
.rf-icon-flag-au								{ background-position: -6em  0; }
.rf-icon-flag-nz								{ background-position:  0   -2em; }
.rf-icon-flag-ca								{ background-position: -2em -2em; }
.rf-icon-flag-tr								{ background-position: -4em -2em; }
.rf-icon-flag-za								{ background-position: -6em -2em; }
.rf-icon-flag-ru								{ background-position:  0   -4em; }
.rf-icon-flag-mx								{ background-position: -2em -4em; }
.rf-icon-flag-sg								{ background-position: -4em -4em; }
.rf-icon-flag-hk								{ background-position: -6em -4em; }
.rf-icon-flag-my								{ background-position:  0   -6em; }
.rf-icon-flag-cn								{ background-position: -2em -6em; }
.rf-icon-flag-th								{ background-position: -4em -6em; }
.rf-icon-flag-id								{ background-position: -6em -6em; }
