/* Atoms: Lists
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Ordered/Unordered lists
─────────────────────────────────────────────────────────────────────────────────── */

ol							{ list-style-type: decimal; }
ul							{ list-style-type: disc; }
ul ul						{ list-style-type: circle; }
ul ul ul					{ list-style-type: none; }
ul ul ul li					{ position: relative; }
ul ul ul li:before			{ position: absolute; top: 0; left: -1.4em;
								content: '\25a0';
								font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Osaka, Meiryo, 'メイリオ', 'MS PGothic', 'MS Pゴシック', 'Hiragino Sans GB', 'Heiti TC', STHeiti, STHeiti, '华文细黑', STXihei, 'Helvetica Neue', 'Microsoft YaHei New', 'Microsoft Yahei', '微软雅黑', 'Lantinghei SC', Lantinghei, 'Arial Unicode MS', sans-serif; }


/* Custom unordered lists
─────────────────────────────────────────────────────────────────────────────────── */

.rf-list-circle li:before	{ content: '\25e6';
								font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Osaka, Meiryo, 'メイリオ', 'MS PGothic', 'MS Pゴシック', 'Hiragino Sans GB', 'Heiti TC', STHeiti, STHeiti, '华文细黑', STXihei, 'Helvetica Neue', 'Microsoft YaHei New', 'Microsoft Yahei', '微软雅黑', 'Lantinghei SC', Lantinghei, 'Arial Unicode MS', sans-serif; }


/* Data lists
─────────────────────────────────────────────────────────────────────────────────── */

.rf-list-data							{ margin: .5em 0 1em; border: 2px solid #8091b1; border-bottom: none; }
.rf-list-data--title,
.rf-list-data dl,
.rf-list-data dt						{ margin: 0; }
.rf-list-data--title					{ padding: 1em .714em; font-weight: bold; font-size: 1.071em;
											text-align: center; background-color: #cad7f3; color: #039; }
.rf-list-data .rf-list-data--title--gray
										{ color: #333333; background-color: #f7f7f7; }
.rf-list-data dl						{ border-bottom: 1px solid #8091b1; }
.rf-list-data dt,
.rf-list-data dd						{ padding: 1em .714em; }
.rf-list-data dt						{ text-align: center; background-color: #ebeff7; color: #039; }
.rf-list-data dd						{ background-color: #fff; border-bottom: 1px solid #8091b1; }


/* Checklist
─────────────────────────────────────────────────────────────────────────────────── */

.rf-list-check 				{ background-color: #f4f4f4; padding: .714em .857em .714em 1.143em; margin: .5em 0 .5em; }
.rf-list-check li 			{ position: relative; padding: 0 0 0 1.85em; margin: 0; list-style: none;
							  font-size: .786em; }
.rf-list-check li + li 		{ margin-top: .5em; }
.rf-list-check li:after 	{ position: absolute; top: .272em; left: 0; display: block; width: 1.181em;
							  height: .545em; background: none; border-left: .1em solid #335fb9;
							  border-bottom: .1em solid #335fb9; -webkit-transform: rotate(-45deg);
							  -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
							  -o-transform: rotate(-45deg); transform: rotate(-45deg); content: ''; };
