/* Atoms: Media
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Media objects
───────────────────────────────────────────────────────────────────────── */

.rf-media 								{ margin-top: 15px; }
.rf-media:first-child 		{ margin-top: 0; }

.rf-media,
.rf-media-body 						{ overflow: hidden; zoom: 1; }

.rf-media-body 						{ width: 10000px; }

.rf-media-object 					{ display: block; max-width: inherit; }

.rf-media-body,
.rf-media-left,
.rf-media-right 					{ display: table-cell; vertical-align: top; }

.rf-media-middle 					{ vertical-align: middle; }

.rf-media-bottom 					{ vertical-align: bottom; }

.rf-media-left 						{ padding-right: 10px; }

.rf-media-right 					{ padding-left: 10px; }