/* Atoms: Scroll to top
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


.rf-scroll-top							{ display: block; margin-top: -3.429em;
											-webkit-transition: opacity .75s;
											        transition: opacity .75s; }

/* Positioning */
.rf-scroll-top,
.rf-scroll-top.rf-js-scroll-pre			{ visibility: hidden; opacity: 0; position: absolute; }
.rf-scroll-top.rf-js-scroll-fixed,
.rf-scroll-top.rf-js-scroll-absolute,
.rf-scroll-top.rf-js-scroll-sticky		{ visibility: visible; opacity: 1; }
.rf-scroll-top.rf-js-scroll-pre,
.rf-scroll-top.rf-js-scroll-fixed,
.rf-scroll-top.rf-js-scroll-absolute	{ right: .5em; bottom: .5em; }
.rf-scroll-top.rf-js-scroll-fixed		{ position: fixed; right: .5em; }
.rf-scroll-top.rf-js-scroll-absolute	{ position: absolute; bottom: 0; }
.rf-scroll-top.rf-js-scroll-sticky		{ bottom: 1.2em;
											position: -webkit-sticky;
											position:         sticky;
											text-align: right;
											padding-left: 0.5em;
											padding-right: 0.5em; }


/* Scroll to top icon */
.rf-scroll-top--inner,
.rf-scroll-top--inner:hover .rf-scroll-top--text,
.rf-scroll-top--inner:focus .rf-scroll-top--text,
.rf-scroll-top--inner:active .rf-scroll-top--text
										{ text-decoration: none; color: #b5bcc7; }
.rf-scroll-top--inner img 				{ display: inline-block; }
.rf-scroll-top--text 					{ font-size: 0; position: absolute; }