/* Atoms: Tables
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Main table
─────────────────────────────────────────────────────────────────────────────────── */

.rf-table							{ margin: .5em 0; min-width: 100%; width: 100%;
										background-color: #fff;
										border: 2px solid #039; border-collapse: collapse; border-spacing: 0; }
.rf-table caption					{ margin-right: -2px;
										margin-right: -webkit-calc(0px);
										margin-right:         calc(0px);
										margin-bottom: -2px; padding: 1em .714em;
										font-weight: bold; font-size: 1.071em; color: #039;
										background-color: #cad7f3;
										border: 2px solid #039; }
.rf-table caption::-moz-selection	{ color: #fff; background-color: #039; }
.rf-table caption::selection		{ color: #fff; background-color: #039; }
.rf-table > thead > tr > th			{ vertical-align: bottom; }
.rf-table th						{ color: #039; text-align: left; }
.rf-table th,
.rf-table td						{ padding: 1em .714em; vertical-align: top;
										border-bottom: 1px solid #039; }
.rf-table th						{ background-color: #ebeff7; }
.rf-table td						{ background-color: #fff; }
.rf-table th.rf-bg-gainsboro		{ background-color: #f7f7f7; }


/* Vertical table */

.rf-table-vertical th { border-bottom: none; text-align: center; }
.rf-table-vertical th,
.rf-table-vertical td { border-right: 1px solid #039; }


/* Light table */

.rf-table-light 	  { border: none; border-top: 1px solid #ddd; }
.rf-table-light th,
.rf-table-light td { border-bottom: 1px solid #ddd; vertical-align: middle; }
.rf-table-light th { color: #333; font-weight: normal; }


/* Gray border table */

.rf-table-gray 	  { border: 1px solid #e6e6e6; }
.rf-table-gray th,
.rf-table-gray td { background: none; vertical-align: middle; border: 1px solid #e6e6e6;
					padding-top: .5em; padding-bottom: .5em; }
.rf-table-gray th { color: #333; font-weight: normal; }
