/* Atoms: Typography
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Default (paragraph‐level) font size
───────────────────────────────────────────────────────────────────────── */

html						{ font-size: 87.5%; }		/* 14 pixels */


/* Text & Headers’ sizes
───────────────────────────────────────────────────────────────────────── */


.rf-pico,
.rf-lambda 					{ font-size: .571em; }		/* 8 pixels */
.rf-nano,
.rf-kappa					{ font-size: .643em; }		/* 9 pixels */
.rf-tiny,
.rf-iota					{ font-size: .714em; }		/* 10 pixels */
.rf-mini,
.rf-theta					{ font-size: .786em; }		/* 11 pixels */
.rf-small,
.rf-zeta,
h6[class*='rf-title']		{ font-size: .929em; }		/* 13 pixels */
.rf-normal,
.rf-epsilon,
p,
h5[class*='rf-title']		{ font-size: 1em; }			/* 14 pixels */
.rf-medium,
.rf-delta,
h4[class*='rf-title']		{ font-size: 1.071em; }		/* 15 pixels */
.rf-large,
.rf-gamma,
h3[class*='rf-title']		{ font-size: 1.143em; }		/* 16 pixels */
.rf-xlarge,
.rf-beta,
h2[class*='rf-title']		{ font-size: 1.286em; }		/* 18 pixels */
.rf-jumbo,
.rf-alpha,
h1[class*='rf-title']		{ font-size: 1.357em; }		/* 19 pixels */
.rf-mega,
.rf-massive 				{ font-size: 1.643em; line-height: 1.5; }	/* 23 pixels */


/* Headers
───────────────────────────────────────────────────────────────────────── */

h1, h2							{ font-weight: 600; }

/* Headers with side bar - deprecated
───────────────────────────────────────────────────────────────────────── */

.rf-title-bar				{ position: relative; text-indent: 0; border-left: .33em solid #52a0e2; }
.rf-title-bar--txt			{ display: inline-block; margin-left: .5em; }


/* Headers with colored highlight - deprecated
───────────────────────────────────────────────────────────────────────── */

[class*='rf-title-highlight']	{ padding: .29em .59em; font-weight: normal; color: inherit; background-color: #ebeff7; }
.rf-title-highlight-gray		{ color: #fff; background-color: #818181; }
.rf-title-highlight-brand		{ color: #fff; background-color: #003399; }


/* Headers with brand color text - deprecated
───────────────────────────────────────────────────────────────────────── */

.rf-title-brand 			{ color: #003399; }


/* Section title - large
───────────────────────────────────────────────────────────────────────── */

.rf-title-section				{ color: #fff; background-color: #039; font-size: 1.071em !important; font-weight: normal;
													margin: 0; padding: .4em .666em; }
.rf-title-section + .rf-title-section { margin-top: 1px; }


/* Section title - small
───────────────────────────────────────────────────────────────────────── */

.rf-title-section-sub				{ display: table; width: 100%; color: #fff;
															background-color: #818181; font-size: .929em !important; font-weight: normal;
															margin: 0; }
.rf-title-section-sub .rf-title { display: table-cell; vertical-align: middle; padding: .769em; }
.rf-title-section-sub .rf-title-tiny { display: table-cell; vertical-align: top; padding: 0 .769em; }
.rf-title-section-sub .rf-title-sub { display: table-cell; vertical-align: middle; text-align: right; padding: .286em;
																			font-size: .769em; padding-right: 1em; }
.rf-title-section-sub + .rf-title-section-sub { margin-top: 1px; }


/* Links
───────────────────────────────────────────────────────────────────────── */

a							{ text-decoration: underline; color: #335fb9;
								-webkit-tap-highlight-color: rgba(29, 84, 167, .1);
								-webkit-text-decoration-color: #99afdc;
								   -moz-text-decoration-color: #99afdc;
								        text-decoration-color: #99afdc; }
nav a,
nav a:hover,
nav a:focus,
nav a:active,
a:hover,
a:focus						{ text-decoration: none; color: #335fb9;}
nav a:hover,
nav a:focus				{ border-bottom-color:#335fb9; }
a:active					{ color: #777; }
a:focus						{ outline-color: #ffbdbd; }
a:focus:active,
a:focus:hover				{ outline-color: #eecdcd; }
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {							-webkit-text-decoration-color: #99afdc;
								   -moz-text-decoration-color: #99afdc;
								        text-decoration-color: #99afdc; }

/* Block links with icons */

.rf-link-block							{ display: block; margin: .25em 0; text-decoration: none; }
.rf-link-icon-right 				{ text-decoration: none; margin-left: .2em; }
.rf-link-icon-left 					{ text-decoration: none; margin-right: .2em; }
.rf-link-icon-inline 				{ text-decoration: none; margin: 0 .2em; }


/* Labels
───────────────────────────────────────────────────────────────────────── */

mark.rf-label							{ display: inline-block; padding: .1em .5em;
											border-width: 1px; border-style: solid; }
p > mark.rf-label						{ margin-top: -.1em; margin-bottom: -.1em; }
mark.rf-label.rf-bg-color-securities	{ color: #fff; }  /* deprecated */
mark.rf-label.rf-outline-lightblue		{ color: #78a7e2; border-color: #78a7e2; background-color: #fff; }  /* deprecated */
mark.rf-label.rf-blue			{ color: #4086de; border-color: #ebeff7; background-color: #ebeff7; }  /* deprecated */
mark.rf-label.rf-outline-lightgray		{ color: #333; border-color: #666; background-color: #fff; }  /* deprecated */
mark.rf-label.rf-outline-blue 			{ color: #335fb9; border-color: #335fb9; background-color: #fff; }
mark.rf-label.rf-outline-muted 			{ color: #848fa4; border-color: #848fa4; background-color: #fff; }
mark.rf-label.rf-disabled { opacity: .3; }

mark.rf-label.rf-bg-black::-moz-selection				{ background-color: #000; }  /* deprecated */
mark.rf-label.rf-bg-black::selection					{ background-color: #000; }  /* deprecated */
mark.rf-label.rf-bg-dimgray::-moz-selection				{ background-color: #000; }  /* deprecated */
mark.rf-label.rf-bg-dimgray::selection					{ background-color: #000; }  /* deprecated */
mark.rf-label.rf-bg-gray::-moz-selection				{ background-color: #404040; }  /* deprecated */
mark.rf-label.rf-bg-gray::selection						{ background-color: #404040; }  /* deprecated */
mark.rf-label.rf-bg-silver::-moz-selection				{ background-color: #666; }  /* deprecated */
mark.rf-label.rf-bg-silver::selection					{ background-color: #666; }  /* deprecated */
mark.rf-label.rf-bg-gainsboro							{ color: #333; }  /* deprecated */
mark.rf-label.rf-bg-gainsboro::-moz-selection			{ color: #000; background-color: #dbdbdb; }  /* deprecated */
mark.rf-label.rf-bg-gainsboro::selection				{ color: #000; background-color: #dbdbdb; }  /* deprecated */
mark.rf-label.rf-bg-color-securities::-moz-selection	{ background-color: #00066e; }  /* deprecated */
mark.rf-label.rf-bg-color-securities::selection			{ background-color: #00066e; }  /* deprecated */
mark.rf-label.rf-bg-color-pink::-moz-selection			{ background-color: #932f53; }
mark.rf-label.rf-bg-color-pink::selection				{ background-color: #932f53; }
mark.rf-label.rf-outline-lightblue::-moz-selection		{ background-color: #78a7e2; }  /* deprecated */
mark.rf-label.rf-outline-lightblue::selection			{ background-color: #78a7e2; }  /* deprecated */
mark.rf-label.rf-blue::-moz-selection			{ background-color: #039; }  /* deprecated */
mark.rf-label.rf-blue::selection				{ background-color: #039; }  /* deprecated */
mark.rf-label.rf-outline-lightgray::-moz-selection		{ background-color: #666; }  /* deprecated */
mark.rf-label.rf-outline-lightgray::selection			{ background-color: #666; }  /* deprecated */

/* Seminar labels */
mark[class*='rf-label-seminar']			{ display: inline-block; padding: .15em 1em;
											border: none; border-radius: 1.5em; background-color: #fff; font-size: .857em; }
mark.rf-label-seminar					{ background-color: #ffe19a; background-color: rgba(236, 173, 19, 0.3); }
mark.rf-label-seminar-accepted			{ color: #fff;    background-color: #ecad14; }
mark.rf-label-seminar-lottery			{ color: #fc9b28; background-color: #feebd4; }
mark.rf-label-seminar-lottery-accepted	{ color: #ecad14; border: 1px solid #ecad14; }
mark.rf-label-seminar-end				{ color: #666;    background-color: #ddd; }

mark.rf-label-seminar::-moz-selection		{ background-color: #553001; }
mark.rf-label-seminar::selection			{ background-color: #553001; }
mark.rf-label-seminar-end::-moz-selection	{ background-color: #454545; }  /* deprecated */
mark.rf-label-seminar-end::selection		{ background-color: #454545; }  /* deprecated */

/* Pill labels */
mark.rf-label-pill 						{ display: inline-block; padding: .15em 1em;
											border: none; border-radius: 1.5em; font-size: .857em; }
