/* Atoms: Utilities
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Visibility
───────────────────────────────────────────────────────────────────────── */

/* Visible on portrait smartphones — Narrow viewport: 0–479 pixels */
@media screen and (min-width: 30em) {
	.rf-visible-narrow		{ display: none; }
}

/* Visible on landscape smartphones — Normal viewport: 480+ pixels */
@media screen and (max-width: 29.999em) {
	.rf-visible-normal		{ display: none; }
}


/* Display
───────────────────────────────────────────────────────────────────────── */

/* Full‐width ‘block’ */
.rf-block							{ display: block; width: 100%; max-width: 100%;
										-webkit-box-sizing: border-box;
										        box-sizing: border-box; }
.no-boxsizing .rf-block				{ width: 100%; }

/* Inline */
.rf-inline,
.rf-inline select					{ display: inline-block; width: auto; }
.rf-inline.rf-radio-button			{ display: table; width: auto; }


/* Spacing (margin & padding)
───────────────────────────────────────────────────────────────────────── */

/* Margin top (relative) */
.rf-mt-0		{ margin-top:    0       !important; }
.rf-mt-5		{ margin-top:     .385em !important; }
.rf-mt-10		{ margin-top:     .769em !important; }
.rf-mt-15		{ margin-top:    1.154em !important; }
.rf-mt-20		{ margin-top:    1.538em !important; }
.rf-mt-25		{ margin-top:    1.923em !important; }
.rf-mt-30		{ margin-top:    2.308em !important; }
.rf-mt-35		{ margin-top:    2.692em !important; }
.rf-mt-40		{ margin-top:    3.077em !important; }
.rf-mt-45		{ margin-top:    3.462em !important; }
.rf-mt-50		{ margin-top:    3.846em !important; }

/* Margin right (relative) */
.rf-mr-0		{ margin-right:  0       !important; }
.rf-mr-5		{ margin-right:   .385em !important; }
.rf-mr-10		{ margin-right:   .769em !important; }
.rf-mr-15		{ margin-right:  1.154em !important; }
.rf-mr-20		{ margin-right:  1.538em !important; }
.rf-mr-25		{ margin-right:  1.923em !important; }
.rf-mr-30		{ margin-right:  2.308em !important; }
.rf-mr-35		{ margin-right:  2.692em !important; }
.rf-mr-40		{ margin-right:  3.077em !important; }
.rf-mr-45		{ margin-right:  3.462em !important; }
.rf-mr-50		{ margin-right:  3.846em !important; }

/* Margin bottom (relative) */
.rf-mb-0		{ margin-bottom: 0       !important; }
.rf-mb-5		{ margin-bottom:  .385em !important; }
.rf-mb-10		{ margin-bottom:  .769em !important; }
.rf-mb-15		{ margin-bottom: 1.154em !important; }
.rf-mb-20		{ margin-bottom: 1.538em !important; }
.rf-mb-25		{ margin-bottom: 1.923em !important; }
.rf-mb-30		{ margin-bottom: 2.308em !important; }
.rf-mb-35		{ margin-bottom: 2.692em !important; }
.rf-mb-40		{ margin-bottom: 3.077em !important; }
.rf-mb-45		{ margin-bottom: 3.462em !important; }
.rf-mb-50		{ margin-bottom: 3.846em !important; }

/* Margin left (relative) */
.rf-ml-0		{ margin-left:   0       !important; }
.rf-ml-5		{ margin-left:    .385em !important; }
.rf-ml-10		{ margin-left:    .769em !important; }
.rf-ml-15		{ margin-left:   1.154em !important; }
.rf-ml-20		{ margin-left:   1.538em !important; }
.rf-ml-25		{ margin-left:   1.923em !important; }
.rf-ml-30		{ margin-left:   2.308em !important; }
.rf-ml-35		{ margin-left:   2.692em !important; }
.rf-ml-40		{ margin-left:   3.077em !important; }
.rf-ml-45		{ margin-left:   3.462em !important; }
.rf-ml-50		{ margin-left:   3.846em !important; }

/* Margin top (absolute pixels) */
.rf-mt-5px		{ margin-top:     5px !important; }
.rf-mt-10px		{ margin-top:    10px !important; }
.rf-mt-15px		{ margin-top:    15px !important; }
.rf-mt-20px		{ margin-top:    20px !important; }
.rf-mt-25px		{ margin-top:    25px !important; }
.rf-mt-30px		{ margin-top:    30px !important; }
.rf-mt-35px		{ margin-top:    35px !important; }
.rf-mt-40px		{ margin-top:    40px !important; }
.rf-mt-45px		{ margin-top:    45px !important; }
.rf-mt-50px		{ margin-top:    50px !important; }

/* Margin right (absolute pixels) */
.rf-mr-5px		{ margin-right:   5px !important; }
.rf-mr-10px		{ margin-right:  10px !important; }
.rf-mr-15px		{ margin-right:  15px !important; }
.rf-mr-20px		{ margin-right:  20px !important; }
.rf-mr-25px		{ margin-right:  25px !important; }
.rf-mr-30px		{ margin-right:  30px !important; }
.rf-mr-35px		{ margin-right:  35px !important; }
.rf-mr-40px		{ margin-right:  40px !important; }
.rf-mr-45px		{ margin-right:  45px !important; }
.rf-mr-50px		{ margin-right:  50px !important; }

/* Margin right (absolute pixels) */
.rf-mb-5px		{ margin-bottom:  5px !important; }
.rf-mb-10px		{ margin-bottom: 10px !important; }
.rf-mb-15px		{ margin-bottom: 15px !important; }
.rf-mb-20px		{ margin-bottom: 20px !important; }
.rf-mb-25px		{ margin-bottom: 25px !important; }
.rf-mb-30px		{ margin-bottom: 30px !important; }
.rf-mb-35px		{ margin-bottom: 35px !important; }
.rf-mb-40px		{ margin-bottom: 40px !important; }
.rf-mb-45px		{ margin-bottom: 45px !important; }
.rf-mb-50px		{ margin-bottom: 50px !important; }

/* Margin left (absolute pixels) */
.rf-ml-5px		{ margin-left:    5px !important; }
.rf-ml-10px		{ margin-left:   10px !important; }
.rf-ml-15px		{ margin-left:   15px !important; }
.rf-ml-20px		{ margin-left:   20px !important; }
.rf-ml-25px		{ margin-left:   25px !important; }
.rf-ml-30px		{ margin-left:   30px !important; }
.rf-ml-35px		{ margin-left:   35px !important; }
.rf-ml-40px		{ margin-left:   40px !important; }
.rf-ml-45px		{ margin-left:   45px !important; }
.rf-ml-50px		{ margin-left:   50px !important; }

/* Margin all */
.rf-ma-0		{ margin: 0      !important; }
.rf-ma-0-center	{ margin: 0 auto !important; }

/* Margin horizontal */
.rf-mh-0		{ margin-left: 0    !important; margin-right:  0    !important; }
.rf-mh-center	{ margin-left: auto !important; margin-right:  auto !important; }

/* Margin vertical */
.rf-mv-0		{ margin-top:  0    !important; margin-bottom: 0    !important; }

/* Padding top (relative) */
.rf-pt-0		{ padding-top:    0       !important; }
.rf-pt-5		{ padding-top:     .385em !important; }
.rf-pt-10		{ padding-top:     .769em !important; }
.rf-pt-15		{ padding-top:    1.154em !important; }
.rf-pt-20		{ padding-top:    1.538em !important; }
.rf-pt-25		{ padding-top:    1.923em !important; }
.rf-pt-30		{ padding-top:    2.308em !important; }
.rf-pt-35		{ padding-top:    2.692em !important; }
.rf-pt-40		{ padding-top:    3.077em !important; }
.rf-pt-45		{ padding-top:    3.462em !important; }
.rf-pt-50		{ padding-top:    3.846em !important; }

/* Padding right (relative) */
.rf-pr-0		{ padding-right:  0       !important; }
.rf-pr-5		{ padding-right:   .385em !important; }
.rf-pr-10		{ padding-right:   .769em !important; }
.rf-pr-15		{ padding-right:  1.154em !important; }
.rf-pr-20		{ padding-right:  1.538em !important; }
.rf-pr-25		{ padding-right:  1.923em !important; }
.rf-pr-30		{ padding-right:  2.308em !important; }
.rf-pr-35		{ padding-right:  2.692em !important; }
.rf-pr-40		{ padding-right:  3.077em !important; }
.rf-pr-45		{ padding-right:  3.462em !important; }
.rf-pr-50		{ padding-right:  3.846em !important; }

/* Padding bottom (relative) */
.rf-pb-0		{ padding-bottom: 0       !important; }
.rf-pb-5		{ padding-bottom:  .385em !important; }
.rf-pb-10		{ padding-bottom:  .769em !important; }
.rf-pb-15		{ padding-bottom: 1.154em !important; }
.rf-pb-20		{ padding-bottom: 1.538em !important; }
.rf-pb-25		{ padding-bottom: 1.923em !important; }
.rf-pb-30		{ padding-bottom: 2.308em !important; }
.rf-pb-35		{ padding-bottom: 2.692em !important; }
.rf-pb-40		{ padding-bottom: 3.077em !important; }
.rf-pb-45		{ padding-bottom: 3.462em !important; }
.rf-pb-50		{ padding-bottom: 3.846em !important; }

/* Padding left (relative) */
.rf-pl-0		{ padding-left:   0       !important; }
.rf-pl-5		{ padding-left:    .385em !important; }
.rf-pl-10		{ padding-left:    .769em !important; }
.rf-pl-15		{ padding-left:   1.154em !important; }
.rf-pl-20		{ padding-left:   1.538em !important; }
.rf-pl-25		{ padding-left:   1.923em !important; }
.rf-pl-30		{ padding-left:   2.308em !important; }
.rf-pl-35		{ padding-left:   2.692em !important; }
.rf-pl-40		{ padding-left:   3.077em !important; }
.rf-pl-45		{ padding-left:   3.462em !important; }
.rf-pl-50		{ padding-left:   3.846em !important; }

/* Padding top (absolute pixels) */
.rf-pt-5px		{ padding-top:     5px !important; }
.rf-pt-10px		{ padding-top:    10px !important; }
.rf-pt-15px		{ padding-top:    15px !important; }
.rf-pt-20px		{ padding-top:    20px !important; }
.rf-pt-25px		{ padding-top:    25px !important; }
.rf-pt-30px		{ padding-top:    30px !important; }
.rf-pt-35px		{ padding-top:    35px !important; }
.rf-pt-40px		{ padding-top:    40px !important; }
.rf-pt-45px		{ padding-top:    45px !important; }
.rf-pt-50px		{ padding-top:    50px !important; }

/* Padding right (absolute pixels) */
.rf-pr-5px		{ padding-right:   5px !important; }
.rf-pr-10px		{ padding-right:  10px !important; }
.rf-pr-15px		{ padding-right:  15px !important; }
.rf-pr-20px		{ padding-right:  20px !important; }
.rf-pr-25px		{ padding-right:  25px !important; }
.rf-pr-30px		{ padding-right:  30px !important; }
.rf-pr-35px		{ padding-right:  35px !important; }
.rf-pr-40px		{ padding-right:  40px !important; }
.rf-pr-45px		{ padding-right:  45px !important; }
.rf-pr-50px		{ padding-right:  50px !important; }

/* Padding right (absolute pixels) */
.rf-pb-5px		{ padding-bottom:  5px !important; }
.rf-pb-10px		{ padding-bottom: 10px !important; }
.rf-pb-15px		{ padding-bottom: 15px !important; }
.rf-pb-20px		{ padding-bottom: 20px !important; }
.rf-pb-25px		{ padding-bottom: 25px !important; }
.rf-pb-30px		{ padding-bottom: 30px !important; }
.rf-pb-35px		{ padding-bottom: 35px !important; }
.rf-pb-40px		{ padding-bottom: 40px !important; }
.rf-pb-45px		{ padding-bottom: 45px !important; }
.rf-pb-50px		{ padding-bottom: 50px !important; }

/* Padding left (absolute pixels) */
.rf-pl-5px		{ padding-left:    5px !important; }
.rf-pl-10px		{ padding-left:   10px !important; }
.rf-pl-15px		{ padding-left:   15px !important; }
.rf-pl-20px		{ padding-left:   20px !important; }
.rf-pl-25px		{ padding-left:   25px !important; }
.rf-pl-30px		{ padding-left:   30px !important; }
.rf-pl-35px		{ padding-left:   35px !important; }
.rf-pl-40px		{ padding-left:   40px !important; }
.rf-pl-45px		{ padding-left:   45px !important; }
.rf-pl-50px		{ padding-left:   50px !important; }

/* Padding all */
.rf-pa-0		{ padding: 0 !important; }

/* Padding horizontal */
.rf-ph-0		{ padding-left: 0 !important; padding-right:  0 !important; }

/* Padding vertical */
.rf-pv-0		{ padding-top:  0 !important; padding-bottom: 0 !important; }


/* Flow (floats & clears)
───────────────────────────────────────────────────────────────────────── */

/* Floats */
.rf-float-l			{ float: left; }
.rf-float-r			{ float: right; }
.rf-float-n			{ float: none; }

/* Float with margin spaces */
.rf-float-space-l	{ float: left;  margin-right: .714em; margin-bottom: .25em; }
.rf-float-space-r	{ float: right; margin-left:  .714em; margin-bottom: .25em; }

/* Clear flow */
.rf-clear-l			{ clear: left; }
.rf-clear-r			{ clear: right; }
.rf-clear-b			{ clear: both; }
.rf-clear-n			{ clear: none; }

/* Clear fix */
.rf-clear-fix:before,
.rf-clear-fix:after	{ content: ''; display: block; height: 0; overflow: hidden; }
.rf-clear-fix:after	{ clear: both; }


/* Vertical align
───────────────────────────────────────────────────────────────────────── */

/* Vertical align top */
.rf-va-top 		{ vertical-align: top !important; }

/* Vertical align middle */
.rf-va-middle { vertical-align: middle !important; }

/* Vertical align bottom */
.rf-va-bottom { vertical-align: bottom !important; }


/* Whitespace
───────────────────────────────────────────────────────────────────────── */

/* Stops text from wrapping */
.rf-nowrap { white-space: nowrap; }