/*-----------------------------------------------------------------------------------------------------------
Rakuten Styling Foundation: Custom CSS Styles Here
-----------------------------------------------------------------------------------------------------------*/
/*
 * Animations
 */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/*
 * Colors
 */

.m1-gold-color-txt {
     color: #ecad14;
}

.m1-silver-color-txt {
     color: #848fa4;
}

.m1-bronze-color-txt {
     color: #c97a34;
}

/*
 * Navigation
 */

/* Fixed nav */

.nav-fixed-top {
    position: fixed;
    top: 0;
    margin: 0!important;
    background: #fff;
    z-index: 999;
    left: 0;
}

/* Arrow tab navigation */

a.m1-mover {
   /* position: absolute;*/
    text-decoration: none;
    z-index: 99999999;
}
.m1-next-tab {
    border-top-left-radius: 10px;
    height: 25px;
    right: 0px;
    width: 30px;
}
.m1-prev-tab {
    left: 0px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

 .numWrap {
  height: 40px;
  line-height: 64px;
  width: 100%;
  vertical-align: middle;
  overflow: auto;
  position: relative;
 }
 .strip {
  position: relative;
  left: 0px;
  width: auto;
  white-space: nowrap;
  transition: left 1s;
 }
/*
 * Block elements
 */

/* Textbox with border */

.m1-textbox-border {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #ffffff;
    border: solid 1px #335fb9;
    position: relative;
    float: left;
}

/* Special table-layout for accordions */

.m1-block-accordion-percent {
    table-layout: fixed;
}
.m1-block-accordion-percent div:first-child {
    width: 36.8%;
}
.m1-block-accordion-percent div:nth-child(2) {
    width: 37.2%;
}
.m1-block-accordion-percent div:last-child {
    width: 26%;
}

/*
 * Tables
 */

.m1-table-slim th,
.m1-table-slim td {
    padding-top: .5em;
    padding-bottom: .5em;
}

/*
 * Modal
 */

body.m1-modal-open {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
}

.modal-body>.m1-search-modal-dialog {
    background: #fefefe;
    border: #333333 solid 1px;
    margin-left: -140px;
    position: fixed;
    left: 50%;
    bottom: -100%;
    z-index: 11;
    width: 400px;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    padding: 20px 0px 0px;
}
.m1-search-modal-body {
    text-align: left;
}
.m1-search-modal {
    -webkit-overflow-scrolling: touch
}
.m1-search-modal:before {
    -webkit-overflow-scrolling: touch;
    content: "";
    display: none;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
.m1-search-modal:target:before {
    -webkit-overflow-scrolling: touch;
    display: block;
}
.m1-search-modal:target .m1-search-modal-dialog {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate(0, 0)!important;
    -moz-transform: translate(0, 0)!important;
    -ms-transform: translate(0, 0)!important;
    -o-transform: translate(0, 0)!important;
    transform: translate(0, 0)!important;
    display: block;
    background: transparent;
    z-index: 999999;
}


.m1-search-modal-dialog {
    background-color: rgba(0, 0, 0, 0.4);
    border: #333333 solid 1px;
    width: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    position: fixed;
    bottom: 0%;
    z-index: 1111;
/*     -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%); */
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.m1-modal-bg {
    background: rgba(0, 0, 0, 0.15);
}
.m1-termination-modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
}
.m1-termination-modal:target:before {
    display: block;
}
.m1-termination-modal:target .m1-modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    display: inline-table;
    top: 0%;
    height: auto;
}
.m1-termination-modal:target .m1-switching-modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    bottom: 15%;
    display: block;
    top: 10%;
    height: 350px;
}

.m1-switching-modal-body {
    min-height: 350px;
    overflow-y: auto;
    text-align: left;
}
.m1-switching-modal-dialog {
    background: #fff;
    border: #333333 solid 1px;
    border-radius: 0px;
    margin-left: -140px;
    position: fixed;
    left: 50%;
    bottom: -100%;
    z-index: 99999999;
    width: 280px;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    padding: 10px 10px 0px;
}
.m1-switching-modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 5px 0px;
    margin-top: 10px;
    line-height: 30px;
}
.m1-modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 5px 0px;
    border-top: 0px solid #333;
    margin-top: 10px;
    line-height: 30px;
}
.m1-dark-blue-line-modal {
    background: #067dff;
    width: 18px;
    height: 3px;
    margin: 10px 10px 10px 0;
    padding: 0 9px;
}
.m1-dark-blue-line-modal.line,
.m1-dark-red-line-modal.line,
.m1-dark-brown-line-modal.line,
.m1-dark-red-line-modal.line {
    margin-top: 8px;
}
.m1-dark-green-square-modal.line,
.m1-dark-blue-square-modal.line {
    margin-top: 2px!important;
}
.m1-dark-red-line-modal {
    background: #ff5e00;
    width: 18px;
    height: 3px;
    margin: 10px 10px 10px 0;
    padding: 0 9px;
}
.m1-dark-green-square-modal {
    width: 18px;
    height: 14px;
    background-color: #8abe00;
    margin: 4px 10px 4px 0;
    padding: 7px;
}
.m1-dark-blue-square-modal {
    width: 18px;
    height: 14px;
    background-color: #05cbe7;
    margin: 4px 10px 4px 0;
    padding: 7px;
}
.m1-dark-brown-line-modal {
    width: 18px;
    height: 3px;
    background-color: #a83c37;
    margin: 10px 10px 10px 0;
    padding: 0 9px;
}
.m1-switching-modal-dialog.border {
    border-radius: 4px!important;
    border: 0px!important;
}
.m1-reg-modal-content.reg-modal {
    padding: 10px;
    background: transparent;
    width: 90%;
    margin: 0 auto;
}
.m1-reg-modal-label label {
    margin-bottom: 0.05em;
    margin-top: 0px;
}
.m1-reg-modal-title {
    color: #003399;
    font-size: 14px;
    font-weight: bolder;
}
.m1-modal-bg.reg-modal-bg {
    background: none;
}
#chartTab,
#chartTab1,
#chartTab2,
#chartTab3,
#chartTab4,
#chartTab5,
#chartTab6,
#chartTab7,
#chartTab8 {
    opacity: 0;
    display: none;
}
#chartTab::before,
#chartTab1::before,
#chartTab2::before,
#chartTab3::before,
#chartTab4::before,
#chartTab5::before,
#chartTab6::before,
#chartTab7::before,
#chartTab8::before {
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.m1-search-modal.serach-result::before {
    background: rgba(0, 0, 0, 0.5);
}
.m1-search-modal-dialog:target.reg-modal-bg,
.modal-body>.m1-search-modal-dialog {
    background: red!important
}
.m1-modal-wrapper.change-condition-modal {
    height: 100%;
    overflow: auto;
}

/* The Modal (background) */


.m1-modal-open {
  overflow: hidden;
}
.m1-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  /* -webkit-overflow-scrolling: touch; */
  outline: 0;
  height: 100%;
}
.m1-modal-open .m1-modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.m1-modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.m1-modal-dialog-favorite{
  position: relative;
  width: auto;
  margin: 0px auto;
}
.m1-modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px 0 rgba(45, 45, 45, 0.6);
  box-shadow: 0 0 20px 0 rgba(45, 45, 45, 0.6);
  background-clip: padding-box;
  outline: 0;
  height: 100%;
  display: inline-table;
  width:100%;
}
.m1-modal-body {
  position: relative;
  padding: 15px;
}
.m1-modal-open .m1-modal-overlay {
    background-color: rgba(131, 143, 163, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index:999;
}

.m1-modal-select {
    color: #373a3c !important;
}
.m1-modal-link {
    width: 55px!important;
}
.m1-modal-link-height {
    height: 35px;
}

/*
 * Icon / Decorative
 */

.m1-blue-oval {
    margin: 0 auto;
    width: 200px;
}

.m1-down-arrow {
    width: 0px;
    height: 0px;
    border-top: 14px solid #003399;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    display: inline-block;
}

/* Icons for graph legend */

.m1-dark-blue-line {
    display: inline-block;
    background: #067dff;
    width: 1em;
    height: .214em;
    vertical-align: middle;
}
.m1-dark-red-line {
    display: inline-block;
    background: #ff5e00;
    width: 1em;
    height: .214em;
    vertical-align: middle;
}
.m1-dark-green-square {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #8abe00;
    vertical-align: middle;
}
.m1-dark-blue-square {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #05cbe7;
    vertical-align: middle;
}
.m1-dark-brown-line {
    display: inline-block;
    width: 1em;
    height: .214em;
    background-color: #a83c37;
    vertical-align: middle;
}

/*
 * Forms
 */

.m1-chkbox-height {
    height: 42px;
    text-align: left!important;
    line-height: 25px;
    font-size: 12px;
}
.m1-arrow-right {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 18px solid black;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}
.m1-arrowline-right {
    width: 15px;
    height: 0.1px;
    background-color: #333333;
    border: solid 1px #333333;
    margin-left: -9px;
    margin-top: 8px;
    float: right;
}
.m1-arrow-left {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 18px solid black;
    margin-top: 5px;
    margin-left: -8px;
}
.m1-arrowline-left {
    width: 15px;
    height: 0.1px;
    background-color: #333333;
    border: solid 1px #333333;
    margin-left: 10px;
    margin-top: -5px;
}
.m1-right-arrow-tab {
    position: relative;
    right: 3%;
}

/* Buttons with special icons */

.m1-blue-circle-chkbtn {
    position: absolute;
    top: 50%;
    left: 14px;
    margin-top: -6px;
    display: inline-block;
    width: 11px;
    height: 11px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #007eff;
}
.m1-blue-rectangle-chkbtn,
.m1-orange-rectangle-chkbtn,
.m1-red-rectangle-chkbtn,
.m1-green-rectangle-chkbtn {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 9px;
    width: 21px;
    height: 4px;
    background: #007eff;
    display: inline-block;
}
.m1-orange-diamond-chkbtn {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 11px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #ff6602;
}
.m1-orange-diamond-chkbtn:after {
    content: ;
    position: absolute;
    left: -7px;
    top: 7px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #ff6602;
}
.m1-orange-rectangle-chkbtn {
    background: #ff6602;
}
.m1-red-square-chkbtn {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 14px;
    width: 11px;
    height: 12px;
    background: #aa4643;
    display: inline-block;
}
.m1-green-triangle-chkbtn {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 13px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 13px solid #8bbc22;
    display: inline-block;
}
.m1-red-rectangle-chkbtn {
    background: #aa4643;
}
.m1-green-rectangle-chkbtn {
    background: #8bbc22;
}

/* Checkbox button with icon */

.m1-checkbox-button-s-icon [class*='rf-icon-'] {
    margin-top: -2px;
    float: left;
    margin-left: -5px;
    margin-right: 2px;
}
.m1-checkbox-button-s-icon .rf-checkbox-button-s--inner {
    text-align: center;
    padding: 11px;
}
.m1-checkbox-button-s-icon input:checked + .rf-checkbox-button-s--inner {
    padding: 10px;
}

/* Checkbox button with blank icon */

.m1-checkbox-button-s-icon .rf-icon-blank {
    width: 1.2em;
    height: 1em;
}

/* Tooltip-style button group */

.m1-form-button-group-tooltip {
    position: relative;
    padding: .714em;
    background-color: #f4f4f4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.m1-form-button-group-tooltip:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    margin-left: -.5em;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-bottom: .5em solid #f4f4f4;
    content: '';
}

/* Document read status button */

.m1-link-status {
    position: relative;
    display: block;
    border: 1px solid #1d54a7;
    padding: .714em .714em .714em 2.714em;
}
.m1-link-status,
.m1-link-status:hover,
.m1-link-status:focus,
.m1-link-status:visited {
    text-decoration: none;
}
.m1-link-status [class*='rf-icon-'] {
    position: absolute;
    font-size: 1.643em;
    top: .435em;
    left: .435em;
}
.m1-link-status-content {
    display: inline-block;
    vertical-align: top;
    width: 76%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.m1-link-status-text {
    float: right;
    color: #ec2d2d;
}
.m1-link-status + .m1-link-status {
    border-top: none;
}

/* Calendar input */

.m1-calendar-main {
    background-color: #f4f4f4;
    padding: 10px;
    position: relative;
    min-height: 50px;
}
.m1-calendar-main {
    position: relative;
    height: 50px;
    padding-top: 30px;
    background-color: #f4f4f4;
    padding: 10px;
    position: relative;
}
.m1-calendar-main:after,
.m1-calendar-main:before {
    bottom: 100%;
    left: 24%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.m1-calendar-main2:after,
.m1-calendar-main2:before {
    bottom: 100%;
    left: 76% !important;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.m1-calendar-main3:after,
.m1-calendar-main3:before {
    bottom: 100%;
    left: 50% !important;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.m1-calendar-main:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f4f4f4;
    border-width: 10px;
    margin-left: -10px;
}
.m1-calendar-main:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
}

.m1-calendar-main .m1-right-calendar {
    float: right !important;
}
.m1-textbox {
    width: 45%;
    float: left;
    position: relative;
}
.m1-calendar-middle {
    width: 10%;
    float: left;
    position: relative;
    font-size: 13px;
}
.m1-calendar-main input[placeholder],
[placeholder],
*[placeholder] {
    color: #333 !important;
}
.m1-calendar-hide {
    display: none;
}

/*
 * Tooltips
 */

.m1-tooltip {
    position: relative;
    display: inline-block;
}
.m1-tooltip .m1-tooltiptext.one {
    width: 92px!important;
}
.m1-tooltip .m1-tooltiptext.three {
    width: 80px!important;
}
.m1-tooltip .m1-tooltiptext,
.m1-tooltip .m1-tooltiptext.one,
.m1-tooltip .m1-tooltiptext.three {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -20px;
    opacity: 0;
    transition: opacity 1s;
    font-size: 11px;
    padding: 5px;
}
.m1-tooltip .m1-tooltiptext::after,
.m1-tooltip .m1-tooltiptext.one::after,
.m1-tooltip .m1-tooltiptext.three::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.m1-tooltip .m1-tooltiptext::after {
    left: 13%;
}
.m1-tooltip .m1-tooltiptext.one::after {
    left: 20%;
}
.m1-tooltip .m1-tooltiptext.three::after {
    left: 25%;
}
.m1-tooltip:hover .m1-tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*
 * Utilities
 */

.m1-margin-2 {
    margin: 2px;
}
.m1-solid-border {
    border-top: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc!important;
}
.m1-no-border {
    border: none!important;
}

/*
 * Calendar
 */

.m1-calendar {
    border: 1px solid #d8d7d7;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.m1-calendar table {
    border: 1px solid #f7f7f7;
    background-color: #fff;
    border-collapse: collapse !important;
    border-spacing: 0;
    min-width: 100%;
    color: #4a4a4a;
}
.m1-calendar-header {
    background-color: #ccc !important;
    border: 1px solid #f8f8f8;
}
.m1-calendar-header td,
caption {
    background-color: #f8f8f8 !important;
    font-size: 9px;
    padding-top: 3px;
}
.m1-calendar table td {
    font-size: 9px;
    padding: 3.5px;
    text-align: center;
    border-collapse: collapse !important;
    border-spacing: 0;
    line-height: 10px;
    height: 12px;
}
.m1-calendar-header td {
    border-color: #f8f8f8 !important;
}
.m1-calendar .m1-calendar-select-bdr-green {
    border: solid 2px #5fa711;
    width: 94% !important;
    display: table;
    vertical-align: center;
}
.m1-calendar .m1-calendar-select-bdr-blue {
    border: solid 2px #305cbc;
    width: 94% !important;
    display: table;
    vertical-align: center;
}
.m1-calendar .m1-calendar-select-bdr-red {
    border: solid 2px #d3000d;
    width: 94% !important;
    display: table;
    vertical-align: center;
}
.m1-calendar {
    color: #d3000d !important;
}

/* Calendar date highlight styles */

.m1-color-box {
    width: 14px;
    height: 14px;
    background-color: #ffccb1;
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 50%;
}
.m1-color-box-orange {
    background-color: #ffccb1;
}
.m1-color-box-red {
    background-color: #ffb3b2;
}
.m1-color-box-blue {
    background-color: #96e6ff;
}
.m1-color-box-green {
    background-color: #62cdb3;
}
.m1-color-box-mint {
    background-color: #cbe7cb;
}
.m1-color-box-purple {
    background-color: #98b2e8;
}

/* Calendar legend styles */

.m1-color-ref-blue {
    background-color: #eaeff8;
    width: 16px;
    height: 16px;
    float: left;
}
.m1-color-ref-bdr-green {
    border: 2px solid #5fa711;
    width: 12px;
    height: 12px;
    float: left;
}
.m1-color-ref-bdr-red {
    border: 2px solid #d3000d;
    width: 12px;
    height: 12px;
    float: left;
}
.m1-color-ref-bdr-blue {
    border: 2px solid #305cbc;
    width: 12px;
    height: 12px;
    float: left;
}

/*
 * Javascript elements
 */

#mcOverlay {
    display: none;
}
#m1-bonus-panel {
    display: block;
}

/* Tabs */

.tab-content.active {
    display: block;
}
.tab-content.hide {
    display: none;
}

/* Read more link */

a.morelink {
    text-decoration: none;
    outline: none;
}
.morecontent span {
    display: none;
}

/* Custom margins */

.m1-sort-order-btn {
    margin-bottom: 40px;
}

/* Sticky Footer Floating Buttons */

.m1-sticky-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 15;
	padding: 10px 10px 30px 10px;
	box-sizing: border-box;
}

.m1-sticky-footer-margin-bottom-60{
	margin-bottom: 4.286em ;
}

.m1-border-bottom-1 {
	border-bottom-width: 1px;
}

.m1-search-result-nav a.active {
    background: #335fb9;
    color: #fff;
}

.m1-calendar-input {
    position: relative;
}

.m1-calendar-input-char {
     position: absolute;
     left: 50%;
     top: 50%;
     margin-top: -1em;
     margin-left: -.5em;
}

.m1-calendar-input > .rf-grid > div:first-child {
     padding-right: 1.286em;
}

.m1-calendar-input > .rf-grid > div:last-child {
     padding-left: 1.286em;
}

.m1-modal-slide-up{
     -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.25s;
    animation-name: slideIn;
    animation-duration: 0.25s;
}

.m1-hr-white {
    border-bottom:1px solid #fff;
}
#sticky {
    color: #fff;
}

#sticky.stick {
    padding-top: 0 ;
    position: fixed;
    top: 0;
    z-index: 20;
    height: auto;
    left: 0px;
    width:100%;
}

#amountNotExpressed,#numberMarketvaluation{
    min-height: 35px;
}

.m1-easy-fund-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.m1-arrow-next {
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-top-left-radius: .55em !important;
    border-top-left-radius:2em !important;
    -webkit-border-bottom-left-radius: .55em !important;
    border-bottom-left-radius:2em !important;
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
}

.m1-arrow-back {
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-top-right-radius: .55em !important;
    border-top-right-radius:2em !important;
    -webkit-border-bottom-right-radius: .55em !important;
    border-bottom-right-radius:2em !important;
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
}

.m1-arrow.is-show-left{
 -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.m1-arrow.is-show-right{
 -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.m1-arrow {
    position: fixed;
    z-index: 320;
    top: 50%;
    -webkit-transition: .1s;
    transition: .1s;
    color: #fff;
}
.m1-arrow.is-show-back{
   -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.m1-arrow.is-show-next{
   -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.m1-arrow.is-show-next-transition{
   -webkit-transform: translateX(80px);
    transform: translateX(80px);
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}
.m1-arrow.is-show-back-transition{
   -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

.m1-arrow-next>.rf-icon-ui-arrowright-s-white,.m1-arrow-back>.rf-icon-ui-arrowleft-s-white{
    margin-right:-7px;
}
.sticky {
    color: #fff;
}
.sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 19;
    height: auto;
    left:0;
    width: 100%;
}

.m1-modal-open-small .m1-modal-overlay {
    background-color: rgba(131, 143, 163, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index:999;
}
body.m1-modal-open-small{
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}
.m1-see-more-text {
    text-decoration: none;
    outline: none;
     }
.m1-see-more-content span {
    display: none;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .m1-modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .m1-modal-dialog-favorite{
    width: 600px;
    margin: 0px auto;
  }
  .m1-modal-content {
    -webkit-box-shadow: 0 0 20px 0 rgba(45, 45, 45, 0.6);
  box-shadow: 0 0 20px 0 rgba(45, 45, 45, 0.6);
  }
  .m1-modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .m1-modal-lg {
    width: 900px;
  }
}
/* Modal Dialog center css */
	.m1-modal-dialog-center {
	  position: fixed;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  width: 100%;
	}
@media (max-width: 767px) {
  	.m1-modal-dialog-center {
	max-width: 90%;
    margin: 0 auto;
	}
	.m1-modal-dialog-favorite {
    max-width: 600px;
    margin: 0px auto;
   } 
}
@media (min-width: 768px) {
	.m1-modal-dialog-center {
	  position: fixed;
	  left: 50%;
	  top: 40%;
	  transform: translate(-50%, -50%);
	  width: auto;
	}
}



