/* Placeholder */

input:focus::-webkit-input-placeholder { /* Safari, Chrome, Opera */
	color: transparent;
}
input:focus:-moz-placeholder { /* Firefox 18- */
	color: transparent;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
	color: transparent;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
	color: transparent;
}

/* Validator */

label.error {
	display: none !important;
}

/* Sticky Footer */

.m1-html-sticky {
	min-height: 100%;
	position: relative;
}

/* Sticky Footer Only */

.m1-body-sticky-only {
	margin-bottom: 58px;
}

.m1-footer-sticky-only {
	bottom: 0;
	height: 58px;
	position: absolute;
	width: 100%;
}

/* Sticky Footer with Progress Bar */

.m1-body-sticky-progress {
	margin-bottom: 174px;
}

.m1-footer-sticky-progress {
	bottom: 0;
	height: 174px;
	position: absolute;
	width: 100%;
}

/* Sticky Footer at Home */

.m1-body-sticky-home {
	margin-bottom: 103px;
}

.m1-footer-sticky-home {
	background-color: #039;
	bottom: 0;
	height: 103px;
	position: absolute;
	width: 100%;
}

/* Accordion */

.m1-accordion-title {
	font-size: .929em !important;
}

/* Enquiry */

.m1-enquiry {
	margin-top: -20px;
}

.m1-enquiry-icon {
	margin-bottom: -10px;
	margin-left: -15px;
}

.m1-enquiry-title {
	margin-left: -10px;
}

/* Alignment */

.m1-center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Description */

.m1-dl-horizontal {
	margin: 0;
	overflow: hidden;
	padding: 10px 0;
}

.m1-dl-horizontal dt {
	clear: both;
	float: left;
	font-weight: normal;
	margin: 5px 0 0;
}

.m1-dl-horizontal dd {
	margin: 5px 0 0;
}

.m1-dl-6em dt {
	width: 6em;
}

.m1-dl-6em dd {
	padding-left: 6em;
}

.m1-dl-5em dt {
	width: 5em;
}

.m1-dl-5em dd {
	padding-left: 5em;
}

.m1-dl-4em dt {
	width: 4em;
}

.m1-dl-4em dd {
	padding-left: 4em;
}

.m1-dl-3em dt {
	width: 3em;
}

.m1-dl-3em dd {
	padding-left: 3em;
}

.m1-dl-2em dt {
	width: 2em;
}

.m1-dl-2em dd {
	padding-left: 2em;
}

/* Steps */

.m1-steps {
	counter-reset: step;
	display: block;
	margin: 0;
	padding: 20px 0 30px;
	width: 100%;
}

.m1-steps li {
	color: #999;
	float: left;
	list-style: none;
	position: relative;
	text-align: center;
	z-index: 0;
}

.m1-steps .m1-steps-1 {
	width: 100%;
}

.m1-steps .m1-steps-2 {
	width: 50%;
}

.m1-steps .m1-steps-3 {
	width: 33.33333333%;
}

.m1-steps .m1-steps-4 {
	width: 25%;
}

.m1-steps .m1-steps-5 {
	width: 20%;
}

.m1-steps li:before {
	background: #999;
	border-radius: 50%;
	content: counter(step);
	counter-increment: step;
	display: block;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 0 auto 4px auto;
	text-align: center;
	width: 16px;
}

.m1-steps li:after {
	background: #999;
	content: '';
	height: 1px;
	left: -50%;
	position: absolute;
	top: 25%;
	width: 100%;
	z-index: -1;
}

.m1-steps li:first-child:after {
	content: none;
}

.m1-steps li.m1-steps-active {
	color: #ecad14;
}

.m1-steps li.m1-steps-active:before {
	background: #ecad14;
}

.m1-steps li.m1-steps-active + li:after {
	background: #ecad14;
}

/* Panel */

.m1-panel-white {
	background: #fff;
	border: solid 1px #ddd;
}

/* Border */

.m1-border-silver {
	border: 1px solid #ddd;
}

/* Block List with buttons */

.m1-block-list-button {
	width: 50px;
}

/* Button group with hidden tooltips */

.rf-tooltip-area {
	height: auto;
	min-height: auto;
}

/* Preview */

.display-none {
	display: none;
}

.preview1,
.preview2 {
	position: relative;
}

.delete1,
.delete2 {
	position: absolute;
	right: 0;
	top: 0;
}

/* Validator */

.form-error {
	font-size: 11px;
}

/*郵便番号と電話番号*/
.m1-postal-code.rf-label-hyphen .rf-field {
	display: inline-block;
	width: 5.625em;
}
.m1-telephone.rf-label-hyphen--full .rf-grid-column{
position:relative;
}
.m1-telephone.rf-label-hyphen--full .rf-grid-column:after{
position:absolute;
display:block;
left:100%;
top:50%;
margin-top:-.8em;
content:'-';
color:#999
}
.m1-telephone.rf-label-hyphen--full .rf-grid-column:last-child:after{
content:'';
display:none
}

.no-under{
	text-decoration: none;
}
.js-setting-corporate{
	position: fixed;
	top: -2000px;
}

select:disabled {
	background: #f4f4f4;
	color: #bbb;
}
