/* Layout styles for the Rakuten CSS Framework
   ──────────────────────────────────────────────────────────────────────
   Author: Chris Gkilitsas | CWD Strategy Section | Rakuten Inc.
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Header & Footer
───────────────────────────────────────────────────────────────────────── */

#fw-header							{ padding: .25em 0 0; border-bottom-color: #039; }
#fw-header-title h1					{ margin-left: .5em; }
#fw-header-title,
#fw-header-title h1 strong			{ color: #039; }
#fw-header-logo						{ margin-top: 0; margin-bottom: 0; width: 9em; height: 2.536em;
										background-image: url('main/assets/logo/logo.svg');
										background-size: auto 2.536em; }
.no-svg #fw-header-logo				{ background-image: url('main/assets/logo/logo.png'); }
.no-backgroundsize #fw-header-logo	{ width: 64px; height: 35.5px; }
#fw-header a:hover #fw-header-logo,
#fw-header a:focus #fw-header-logo	{ background-position: 0 0; }


/* Header navigation
───────────────────────────────────────────────────────────────────────── */

#fw-nav								{ border-bottom-color: #039; }


/* Main viewport
───────────────────────────────────────────────────────────────────────── */

.fw-viewport						{ margin-left: auto; margin-right: auto; max-width: 800px; }


/* Captions
───────────────────────────────────────────────────────────────────────── */

.fw-caption							{ border: none; }
.fw-caption h1						{ padding: .25em .5em; font-weight: 200; color: #039; background-color: #ececec; }
.fw-caption h1 small,
.fw-caption p						{ font-weight: 300; }


/* Section Headers
───────────────────────────────────────────────────────────────────────── */

.fw-title-section 					{ border-top: 1px solid #666; margin-top: 3em; padding-top: 1em; }