/* Organism: Accordion
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.rf-accordion										{ margin: .25em 0 1em; background-color: #fff;
														border-top-width:    1px; border-top-style:    solid;
														border-bottom-width: 1px; border-bottom-style: solid; }
.rf-accordion.rf-ma-0 + .rf-accordion.rf-ma-0 	{ border-top: none; }
.rf-accordion dl									{ border-top-width: 1px; border-top-style: solid; }
.rf-accordion,
.rf-accordion dl									{ border-color: #ddd; }
.rf-accordion dl:first-child						{ border-top: none; }
.rf-accordion dl,
.rf-accordion dt									{ margin: 0; }
.rf-accordion dt									{ font-weight: normal; }
.rf-accordion dt a									{ display: table; width: 100%;
														text-decoration: none; color: #333; }
.rf-accordion dt a *								{ pointer-events: none; }
.rf-accordion dt .rf-title,
.rf-accordion--arrows								{ display: table-cell; vertical-align: middle; }
.rf-accordion dt .rf-title							{ padding: 1em 0 1em 1em; font-size: 1.143em; text-align: center; }
.rf-accordion--arrows								{ width: 2.5em; font-size: 1.25em; line-height: 1; text-align: center; color: #666; }
.rf-accordion dt a:hover .rf-accordion--arrows,
.rf-accordion dt a:focus .rf-accordion--arrows		{ color: #335fb9; }
.rf-accordion dt a:active .rf-accordion--arrows		{ color: #333; }
.rf-accordion--anim {
														-webkit-transition: height .25s ease-in-out;
														        transition: height .25s ease-in-out; }
.rf-accordion--content							{ padding: 1em .714em; background-color: #ebeff7; }

.rf-accordion dt a .rf-icon-ui-arrowdown-link,
.rf-accordion dt a .rf-icon-ui-arrowup-s-link,
.rf-accordion dt a .rf-icon-ui-arrowdown-gray,
.rf-accordion dt a .rf-icon-ui-arrowup-s-gray,
.rf-accordion dt a.rf-is-expanded .rf-icon-ui-arrowup-link,
.rf-accordion dt a.rf-is-expanded .rf-icon-ui-arrowdown-s-link,
.rf-accordion dt a.rf-is-expanded .rf-icon-ui-arrowdown-s-gray
													{ display: none; }
.rf-accordion dt a.rf-is-expanded .rf-icon-ui-arrowdown-link,
.rf-accordion dt a.rf-is-expanded .rf-icon-ui-arrowup-s-link,
.rf-accordion dt a.rf-is-expanded .rf-icon-ui-arrowup-s-gray
													{ display: inline-block; }
.rf-accordion dd									{ overflow: hidden; }
.rf-accordion dd.rf-is-collapsed					{ height: 0; }
.rf-accordion dd.rf-is-expanded,
.rf-accordion.rf-accordion-no-js dd					{ height: auto; }
.rf-is-expanded 										{ position: relative; }
.rf-accordion--trigger:before				{ position: absolute; left: 50%; bottom: 0; opacity: 0; height: 0;
																			margin-left: -1em;
																			border-left: .5em solid transparent; border-right: .5em solid transparent;
																			border-bottom: .5em solid #ebeff7; content: ''; }
.rf-is-expanded:before 							{ opacity: 1; }


/* Seminar accordions */
.rf-accordion-seminar 							{ border: 2px solid #e6e6e6; margin: 10px 10px 10px; }
.rf-accordion-seminar dt a					{ padding: .714em .714em .5em; width: auto; }
.rf-accordion-seminar dt a,
.rf-accordion-seminar dt .rf-title,
.rf-accordion-seminar .rf-accordion--arrows	{ display: block; }
.rf-accordion-seminar dt .rf-title				{ margin: 0; padding: 0; }
.rf-accordion-seminar .rf-icon-ui-arrowup-s-link,
.rf-accordion-seminar .rf-icon-ui-arrowdown-s-link { font-size: .8em; }
.rf-accordion-seminar .rf-accordion--arrows	{ margin: 0 auto; }
.rf-accordion-seminar .rf-accordion--content { padding: 0 .714em .714em; background-color: #fff; }
.rf-accordion-seminar .rf-accordion--content p { margin-top: 0; margin-bottom: .5em; }
.rf-accordion-seminar .rf-accordion--content p:last-child { margin-bottom: 0; }
.rf-accordion-seminar .rf-frame-head { margin-bottom: .4em; }
.rf-accordion-seminar .rf-frame-label { margin-top: 0; }
.rf-accordion-seminar .rf-frame-title { margin: .3em 0; font-size: 1em; }
.rf-accordion-seminar .rf-frame-subtext { font-size: .786em; }
.rf-accordion-seminar .rf-accordion--trigger:before { display: none; }

/* Simple accordions */
.rf-accordion-s dt a 									{ padding-top: .714em; padding-bottom: .714em; }
.rf-accordion-s dt .rf-title 					{ display: block; padding: 0; text-align: left; margin: 0 0 0 .625em;
																				font-size: 1.143em; }
.rf-accordion-s dt p 									{ display: block; margin: 0; font-size: .786em; margin: 0 0 0 .909em; }
.rf-accordion-s .rf-accordion--content { background-color: #f4f4f4; padding: .714em; }
.rf-accordion-s .rf-accordion--content p { margin: 0; }
.rf-accordion-s .rf-accordion--content p + p { margin-top: .1em; }
.rf-accordion-s .rf-accordion--trigger:before	{ position: absolute; left: 50%; bottom: 0; opacity: 0;
																			height: 0; margin-left: -1em;
																			border-left: .5em solid transparent; border-right: .5em solid transparent;
																			border-bottom: .5em solid #f4f4f4; content: ''; }
.rf-accordion-s .rf-is-expanded:before 							{ opacity: 1; }

/* Account accordions */
.rf-accordion-account dt a,
.rf-accordion-account dt .rf-accordion-checkbox						{ padding-top: .714em; padding-bottom: .714em; }
.rf-accordion dt .rf-accordion-checkbox									{ display: table; width: 100%;
														text-decoration: none; color: #333; }
.rf-accordion dt .rf-accordion-checkbox *								{ pointer-events: none; }
.rf-accordion-account .rf-accordion--label--middle p 			{ margin-top: 0; margin-bottom: 0; }
.rf-accordion-account .rf-accordion--content { background-color: #f4f4f4; padding: .714em; }
.rf-accordion-account .rf-accordion--content p { margin: 0; }
.rf-accordion-account .rf-accordion--content p + p { margin-top: .1em; }
.rf-accordion-account .rf-icon-ui-arrowup-s-gray,
.rf-accordion-account .rf-icon-ui-arrowdown-s-gray { font-size: .743em; }
.rf-accordion-account .rf-accordion--arrows { width: 2em; }
.rf-accordion-account .rf-accordion--label 	{ margin-left: .714em; }
.rf-accordion-account .rf-accordion--label--top { margin-bottom: .5em; }
.rf-accordion-account .rf-accordion--badge 	{ display: table-cell; width: 2.5em; text-align: center; }
.rf-accordion-account .rf-accordion--badge + .rf-accordion--label,
.rf-accordion-account .rf-accordion--form + .rf-accordion--label { margin-left: 0; }
.rf-accordion-account .rf-accordion--badge [class*='rf-icon-']	{ font-size: 1.214em; }
.rf-accordion-account .rf-accordion--badge [class*='rf-icon-item']	{ font-size: 1.5em; }
.rf-accordion-account .rf-accordion--ranking strong { display: block; margin-top: -.4em; }
.rf-accordion-account .rf-accordion--ranking .rf-icon-ui-crown-gold + strong { color: #ecad14; }
.rf-accordion-account .rf-accordion--ranking .rf-icon-ui-crown-silver + strong { color: #848fa4; }
.rf-accordion-account .rf-accordion--ranking .rf-icon-ui-crown-bronze + strong { color: #c87a34; }
.rf-accordion-account .rf-accordion--trigger:before	{ position: absolute; left: 50%; bottom: 0; opacity: 0;
																			height: 0; margin-left: -1em;
																			border-left: .5em solid transparent; border-right: .5em solid transparent;
																			border-bottom: .5em solid #f4f4f4; content: ''; }
.rf-accordion-account .rf-is-expanded:before 		{ opacity: 1; }
.rf-accordion-checkbox .rf-accordion--label			{ padding-right: .714em; }
.rf-accordion-account .rf-accordion--form 	{ display: table-cell; width: 2.5em; text-align: center;
																							vertical-align: middle; }

/* Blue frame accordions - deprecated */
.rf-accordion-frame-side,
.rf-accordion-frame-bottom							{ border: 1px solid #039; }
.rf-accordion-frame-side dl,
.rf-accordion-frame-bottom dl						{ border-color: #039; }
.rf-accordion-frame-side .rf-accordion--content,
.rf-accordion-frame-bottom .rf-accordion--content	{ position: relative; border-top: none; background-color: #fff; }
.rf-accordion-frame-side .rf-accordion--content:before,
.rf-accordion-frame-bottom .rf-accordion--content:before
													{ content: ''; position: absolute; top: 0; left: 1em; right: 1em;
														height: 1px; background-color: #ddd; }
.rf-accordion-frame-side .rf-is-expanded:before,
.rf-accordion-frame-bottom .rf-is-expanded:before	{ display: none; }

/* Blue frame accordion with side icon - deprecated */
.rf-accordion-frame-side dt a						{ display: block; padding: 1em; width: auto; text-align: center; }
.rf-accordion-frame-side dt .rf-title,
.rf-accordion-frame-side .rf-accordion--arrows		{ display: inline; padding: 0; vertical-align: bottom; }

/* Blue frame accordion with bottom icon - deprecated */
.rf-accordion-frame-bottom dt a						{ padding: 1em; width: auto; }
.rf-accordion-frame-bottom dt a,
.rf-accordion-frame-bottom dt .rf-title,
.rf-accordion-frame-bottom .rf-accordion--arrows	{ display: block; }
.rf-accordion-frame-bottom dt .rf-title				{ margin: 0; padding: 0; }
.rf-accordion-frame-bottom .rf-accordion--arrows	{ margin: 0 auto; }

/* Slim frame accordion with bottom icon - deprecated */
.rf-accordion-frame-bottom-slim dt a 			{ padding: .5em 1em; }
.rf-accordion-frame-bottom-slim .rf-accordion--content { padding-top: .5em; padding-bottom: .5em; }
.rf-accordion-frame-bottom-slim .rf-accordion--content:before
																					{ display: none; }

/* Orange frame accordion - deprecated */
.rf-accordion-frame-orange 							{ border-color: #fc9b28; }
.rf-accordion-frame-orange dl						{ border-color: #fc9b28; background-color: #fef4bb; }
.rf-accordion-frame-orange .rf-accordion--content { background-color: #fef4bb; }

/* Gray frame accordion - deprecated */
.rf-accordion-frame-gray 							{ border-color: #666666; }
.rf-accordion-frame-gray dl						{ border-color: #666666; background-color: #f7f7f7; }
.rf-accordion-frame-gray .rf-accordion--content { background-color: #f7f7f7; }

/* Transparent accordion - deprecated */
.rf-accordion-transparent 							{ border: none; background: none; }
.rf-accordion-transparent dl						{ border: none; }
.rf-accordion-transparent .rf-accordion--content { background-color: #d9e3ed; }