/* Organisms: Article
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Forms: Menu with radio inputs
───────────────────────────────────────────────────────────────────────── */

.rf-menu-radios				{ margin: 1em 0 1.5em; padding: 0; border: 1px solid #039; }
.rf-grid-column .rf-menu-radios .rf-grid
							{ margin: 0; }
.rf-menu-radios legend		{ padding: 1em 0; font-weight: bold; color: #039; }

.rf-menu-radios .rf-radio--caption { height: 2em; }

.rf-menu-radios .rf-grid-column label:first-child { margin-top: 0; }


/* Forms: Button groups
───────────────────────────────────────────────────────────────────────── */

[class*='rf-form-button-group'] { display: table; width: 100%; margin: .714em 0; }
[class*='rf-form-button-group'] + [class*='rf-form-button-group'] { margin-top: -.714em; }
[class*='rf-form-button-group'] [class*='rf-button'] { margin: 0; height: 100%; }
[class*='rf-form-button-group'] .rf-form-button-group-inner { display: table-cell; height: 100%;
																padding-left: .32em; padding-right: .32em; }
[class*='rf-form-button-group'] > div:first-child 					{ padding-left: 0; }
[class*='rf-form-button-group'] > div:last-child 						{ padding-right: 0; }
.rf-form-button-group-double .rf-form-button-group-inner 	{ width: 50%; }
.rf-form-button-group-triple .rf-form-button-group-inner 	{ width: 33.333%; }
.rf-form-button-group-quad .rf-form-button-group-inner 		{ width: 25%; }
.rf-form-button-group-title 				{ font-weight: bold; margin-bottom: .1em; }
.rf-form-button-group-title + [class*='rf-form-button-group'] { margin-top: 0; }


/* Button footer */

.rf-form-button-footer,
.rf-form-button-footer-border { margin-top: 1em; padding: .714em .714em 2.857em; background-color: #eaeff8; }
.rf-form-button-footer [class*='rf-form-button-group'],
.rf-form-button-footer-border [class*='rf-form-button-group'] { margin: 0; }
.rf-form-button-footer [class*='rf-button'],
.rf-form-button-footer-border [class*='rf-button'] { margin-top: 0; }
.rf-form-button-footer-border { border-top: 1px solid #ddd; }


/* Forms: Dropdown button
───────────────────────────────────────────────────────────────────────── */

.rf-dropdown 				{ position: relative; display: inline-block; }
.rf-dropdown button,
.rf-dropdown button:hover,
.rf-dropdown button:focus,
.rf-dropdown button:active { color: #335fb9; font-weight: normal; font-size: .786em; border: none;
											background-color: transparent; }
.rf-dropdown .rf-button-function 	{ background-color: #ebeff6; }
.rf-dropdown .rf-dropdown--arrow 	{ display: inline-block; height: 0; width: 0; border-left: .375em solid transparent;
																		border-right: .375em solid transparent; border-top: .417em solid #335fb9;
																		vertical-align: .2em; }
.rf-dropdown--menu 	{ display: none; position: absolute; left: -1px; top: 100%; padding: 0; margin: 0;
											list-style-type: none;
											z-index: 18; box-shadow: 0 2px 6px 0 rgba(187, 187, 187, 0.5);
											background-color: #fff; min-width: 9.8em; border: 1px solid #ddd; }
.rf-dropdown-right .rf-dropdown--menu,
.rf-button-function-right .rf-dropdown--menu { left: auto; right: 0; }
.rf-dropdown--menu li { position: relative; display: block; background-color: #fff; padding: .673em 2em .673em .505em;
												color: #333; text-align: left; white-space: nowrap; }
.rf-dropdown--menu li + li { border-top: 1px dotted #ddd; }
.rf-dropdown--menu .rf-dropdown-selected { color: #335fb9; }
.rf-dropdown--menu svg 					{ position: absolute; top: 50%; margin-top: -.643em; right: .5em; float: right; }
.rf-dropdown--menu .rf-checkbox--main { fill: transparent; }
.rf-dropdown--menu .rf-dropdown-selected .rf-checkbox--main { fill: #335fb9; }


.rf-dropdown.rf-buttion-function.rf-open { background-color: #eaeff8; }
.rf-dropdown.rf-open span { opacity: .3; }
.rf-dropdown.rf-open .rf-dropdown--menu { display: block; }
.rf-dropdown.rf-open .rf-dropdown--arrow { border-top: none; border-bottom: .417em solid #335fb9; }


/* Forms: Summary box
──────────────────────────────────────────────────────────────────────── */

.rf-summary-box 		{ margin: 1em 0; padding: .714em; border: 2px solid #ddd; }
.rf-summary-box p 	{ margin: 0 0 .2em; }
.rf-summary-box--main { padding: .357em; }
.rf-summary-box--sub { padding: .643em .143em 0; border-top: 1px dotted #cecece; }
.rf-summary-box--sub .rf-link-block { margin: 0; }


/* Forms: Checkbox panel
──────────────────────────────────────────────────────────────────────── */

.rf-checkbox--panel { padding: .714em .714em 1.071em; -webkit-box-sizing: border-box;
  										-moz-box-sizing: border-box; box-sizing: border-box; }


/* Forms: Sort area
──────────────────────────────────────────────────────────────────────── */

.rf-sort-area-border { border-top: .143em solid #335fb9; }


/* Forms: PDF read link
──────────────────────────────────────────────────────────────────────── */

.rf-link-status { position: relative; display: block; border: 1px solid #1d54a7;
				  padding: .714em .714em .714em 2.714em; }
.rf-link-status, .rf-link-status:hover,
.rf-link-status:focus, .rf-link-status:visited { text-decoration: none; }
.rf-link-status [class*='rf-icon-'] { position: absolute; font-size: 1.643em; top: .435em; left: .435em; }
.rf-link-status-content { display: inline-block; vertical-align: top; width: 76%;
						  -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
						  box-sizing: border-box; }
.rf-link-status-text { float: right; color: #ec2d2d; }
.rf-link-status-text-open { float: right; color: #999999; display: none; }
.rf-link-status + .rf-link-status { border-top: none; }
.rf-link-status--opened { background-color: #f4f4f4; }
.rf-link-status--opened .rf-link-status-text { display: none; }
.rf-link-status--opened .rf-link-status-text-open { display: block; }


/* Forms: Progress bar
──────────────────────────────────────────────────────────────────────── */

.rf-progress 	{ display: block; margin-top: .5em; }
.rf-progress-text { font-weight: bold; color: #ecad14; text-align: right; margin: 0 0 .5em; padding: 0 .714em; }
.rf-progress-bar { position: relative; display: block; background-color: #e6e6e6; height: .214em; }
.rf-progress-bar--inner { position: absolute; top: 0; left: 0; right: 0; background-color: #ecad14; height: .214em; }
.rf-progress + .rf-form-button-footer { margin-top: 0; }
