/* Organisms: Headers
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Simple Header
───────────────────────────────────────────────────────────────────────── */

.rf-header-simple,
.rf-header-simple--menu { display: table; width: 100%; background-color: #fafafa; padding: 1.2em 6.2em 1.3em 0;
										-webkit-box-sizing: border-box; -moz-box-sizing:
										border-box; box-sizing: border-box;
										border-top: .214em solid #039; border-bottom: 1px solid #ddd; }
.rf-header-simple--menu { position: relative; }
.rf-header-simple--logo,
.rf-header-simple--title { display: table-cell; vertical-align: middle; }
.rf-header-simple--logo img { display: block; margin: 0 auto; }
.rf-header-simple--title { font-size: 1.14em; text-align: center; font-weight: normal; }
.rf-header-simple--logo { width: 6.2em; text-align: center; }
.rf-header-simple--link { position: absolute; right: 0; top: 50%; display: block; padding: .5em 0;
						  width: 5.714em; margin-top: -2.107em; text-align: center; text-decoration: none; }
.rf-header-simple--icon [class*='rf-icon'] { width: .8em; height: .6em; }
.rf-header-simple--icon-link { display: block; color: #999999; font-size: .643em; }

/* Search */
.rf-header-simple--icon .rf-icon-cat-search-black				{ background-position: -1.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-search-dimgray				{ background-position: -2.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-search-gray				{ background-position: -3.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-search-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-search-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-search-disabled			{ background-position: -7.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-search-securities			{ background-position: -9.1em  -2.2em; }

/* Favorite */
.rf-header-simple--icon .rf-icon-cat-fav-black					{ background-position: -1.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-fav-dimgray				{ background-position: -2.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-fav-gray					{ background-position: -3.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-fav-silver					{ background-position: -4.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-fav-gainsboro				{ background-position: -5.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-fav-disabled				{ background-position: -7.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-fav-securities				{ background-position: -9.1em  -1.2em; }

/* Order */
.rf-header-simple--icon .rf-icon-cat-order-black				{ background-position: -1.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-order-dimgray				{ background-position: -2.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-order-gray					{ background-position: -3.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-order-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-order-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-order-disabled				{ background-position: -7.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-order-securities			{ background-position: -9.1em  -2.2em; }

/* More */
.rf-header-simple--icon .rf-icon-cat-more-black					{ background-position: -1.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-more-dimgray				{ background-position: -2.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-more-gray					{ background-position: -3.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-more-silver				{ background-position: -4.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-more-gainsboro				{ background-position: -5.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-more-disabled				{ background-position: -7.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-more-securities			{ background-position: -9.1em  -3.2em; }

/* Holdings */
.rf-header-simple--icon .rf-icon-cat-holdings-black				{ background-position: -1.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-holdings-dimgray			{ background-position: -2.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-holdings-gray				{ background-position: -3.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-holdings-silver			{ background-position: -4.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-holdings-gainsboro			{ background-position: -5.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-holdings-disabled			{ background-position: -7.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-holdings-securities		{ background-position: -9.1em  -4.2em; }

/* Withdraw */
.rf-header-simple--icon .rf-icon-cat-withdraw-black				{ background-position: -1.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-withdraw-dimgray			{ background-position: -2.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-withdraw-gray				{ background-position: -3.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-withdraw-silver			{ background-position: -4.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-withdraw-gainsboro			{ background-position: -5.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-withdraw-disabled			{ background-position: -7.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-withdraw-securities		{ background-position: -9.1em  -5.2em; }

/* Domestic stocks */
.rf-header-simple--icon .rf-icon-cat-domesticstock-black		{ background-position: -1.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-domesticstock-dimgray		{ background-position: -2.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-domesticstock-gray			{ background-position: -3.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-domesticstock-silver		{ background-position: -4.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-domesticstock-gainsboro	{ background-position: -5.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-domesticstock-disabled		{ background-position: -7.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-domesticstock-securities	{ background-position: -9.1em  -6.2em; }

/* Investment */
.rf-header-simple--icon .rf-icon-cat-investment-black			{ background-position: -1.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-investment-dimgray			{ background-position: -2.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-investment-gray			{ background-position: -3.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-investment-silver			{ background-position: -4.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-investment-gainsboro		{ background-position: -5.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-investment-disabled		{ background-position: -7.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-investment-securities		{ background-position: -9.1em  -7.2em; }

/* FX */
.rf-header-simple--icon .rf-icon-cat-fx-black					{ background-position: -1.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-fx-dimgray					{ background-position: -2.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-fx-gray					{ background-position: -3.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-fx-silver					{ background-position: -4.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-fx-gainsboro				{ background-position: -5.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-fx-disabled				{ background-position: -7.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-fx-securities				{ background-position: -9.1em  -8.2em; }

/* Foreign stocks */
.rf-header-simple--icon .rf-icon-cat-foreignstock-black			{ background-position: -1.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-foreignstock-dimgray		{ background-position: -2.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-foreignstock-gray			{ background-position: -3.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-foreignstock-silver		{ background-position: -4.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-foreignstock-gainsboro		{ background-position: -5.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-foreignstock-disabled		{ background-position: -7.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-foreignstock-securities	{ background-position: -9.1em  -9.2em; }

/* NISA */
.rf-header-simple--icon .rf-icon-cat-nisa-black					{ background-position: -1.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-nisa-dimgray				{ background-position: -2.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-nisa-gray					{ background-position: -3.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-nisa-silver				{ background-position: -4.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-nisa-gainsboro				{ background-position: -5.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-nisa-disabled				{ background-position: -7.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-nisa-securities			{ background-position: -9.1em  -10.2em; }

/* Rakuwrap */
.rf-header-simple--icon .rf-icon-cat-rakuwrap-black				{ background-position: -1.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-rakuwrap-dimgray			{ background-position: -2.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-rakuwrap-gray				{ background-position: -3.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-rakuwrap-silver			{ background-position: -4.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-rakuwrap-gainsboro			{ background-position: -5.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-rakuwrap-disabled			{ background-position: -7.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-rakuwrap-securities		{ background-position: -9.1em  -11.2em; }

/* 401k */
.rf-header-simple--icon .rf-icon-cat-401k-black					{ background-position: -1.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-401k-dimgray				{ background-position: -2.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-401k-gray					{ background-position: -3.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-401k-silver				{ background-position: -4.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-401k-gainsboro				{ background-position: -5.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-401k-disabled				{ background-position: -7.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-401k-securities			{ background-position: -9.1em  -12.2em; }

/* Credit */
.rf-header-simple--icon .rf-icon-cat-credit-black				{ background-position: -1.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-credit-dimgray				{ background-position: -2.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-credit-gray				{ background-position: -3.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-credit-silver				{ background-position: -4.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-credit-gainsboro			{ background-position: -5.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-credit-disabled			{ background-position: -7.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-credit-securities			{ background-position: -9.1em  -13.2em; }

/* Market */
.rf-header-simple--icon .rf-icon-cat-market-black				{ background-position: -1.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-market-dimgray				{ background-position: -2.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-market-gray				{ background-position: -3.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-market-silver				{ background-position: -4.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-market-gainsboro			{ background-position: -5.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-market-disabled			{ background-position: -7.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-market-securities			{ background-position: -9.1em  -14.2em; }

/* Settings */
.rf-header-simple--icon .rf-icon-cat-settings-black				{ background-position: -1.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-settings-dimgray			{ background-position: -2.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-settings-gray				{ background-position: -3.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-settings-silver			{ background-position: -4.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-settings-gainsboro			{ background-position: -5.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-settings-disabled			{ background-position: -7.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-settings-securities		{ background-position: -9.1em  -15.2em; }

/* Support */
.rf-header-simple--icon .rf-icon-cat-support-black				{ background-position: -1.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-support-dimgray			{ background-position: -2.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-support-gray				{ background-position: -3.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-support-silver				{ background-position: -4.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-support-gainsboro			{ background-position: -5.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-support-disabled			{ background-position: -7.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-support-securities			{ background-position: -9.1em  -16.2em; }

/* Seminar */
.rf-header-simple--icon .rf-icon-cat-seminar-black				{ background-position: -1.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-seminar-dimgray			{ background-position: -2.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-seminar-gray				{ background-position: -3.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-seminar-silver				{ background-position: -4.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-seminar-gainsboro			{ background-position: -5.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-seminar-disabled			{ background-position: -7.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-seminar-securities			{ background-position: -9.1em  -17.2em; }

/* PC */
.rf-header-simple--icon .rf-icon-cat-pc-black				{ background-position: -1.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-pc-dimgray			{ background-position: -2.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-pc-gray				{ background-position: -3.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-pc-silver				{ background-position: -4.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-pc-gainsboro			{ background-position: -5.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-pc-disabled			{ background-position: -7.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-pc-securities			{ background-position: -9.1em  -18.2em; }

/* Logout */
.rf-header-simple--icon .rf-icon-cat-logout-black				{ background-position: -1.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-logout-dimgray			{ background-position: -2.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-logout-gray				{ background-position: -3.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-logout-silver				{ background-position: -4.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-logout-gainsboro			{ background-position: -5.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-logout-disabled			{ background-position: -7.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-logout-securities			{ background-position: -9.1em  -19.2em; }
/* Account management */
.rf-header-simple--icon .rf-icon-cat-acct-mng-black				{ background-position: -1.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-mng-dimgray			{ background-position: -2.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-mng-gray				{ background-position: -3.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-mng-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-mng-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-mng-disabled			{ background-position: -7.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-mng-securities			{ background-position: -9.1em  -2.2em; }

/* Account Info */
.rf-header-simple--icon .rf-icon-cat-acct-info-black				{ background-position: -1.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-info-dimgray			{ background-position: -2.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-info-gray				{ background-position: -3.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-info-silver				{ background-position: -4.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-info-gainsboro			{ background-position: -5.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-info-disabled			{ background-position: -7.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-acct-info-securities			{ background-position: -9.1em  -1.2em; }

/* Recommendations */
.rf-header-simple--icon .rf-icon-cat-recommend-black				{ background-position: -1.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-recommend-dimgray			{ background-position: -2.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-recommend-gray				{ background-position: -3.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-recommend-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-recommend-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-recommend-disabled			{ background-position: -7.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-recommend-securities			{ background-position: -9.1em  -2.2em; }

/* Fee */
.rf-header-simple--icon .rf-icon-cat-fee-black				{ background-position: -1.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-fee-dimgray			{ background-position: -2.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-fee-gray				{ background-position: -3.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-fee-silver				{ background-position: -4.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-fee-gainsboro			{ background-position: -5.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-fee-disabled			{ background-position: -7.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-fee-securities			{ background-position: -9.1em  -3.2em; }

/* Investment Report */
.rf-header-simple--icon .rf-icon-cat-invest-report-black				{ background-position: -1.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-invest-report-dimgray			{ background-position: -2.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-invest-report-gray				{ background-position: -3.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-invest-report-silver				{ background-position: -4.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-invest-report-gainsboro			{ background-position: -5.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-invest-report-disabled			{ background-position: -7.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-invest-report-securities			{ background-position: -9.1em  -4.2em; }

/* Latest information */
.rf-header-simple--icon .rf-icon-cat-latest-info-black				{ background-position: -1.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-latest-info-dimgray			{ background-position: -2.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-latest-info-gray				{ background-position: -3.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-latest-info-silver				{ background-position: -4.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-latest-info-gainsboro			{ background-position: -5.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-latest-info-disabled			{ background-position: -7.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-latest-info-securities			{ background-position: -9.1em  -5.2em; }

/* Other */
.rf-header-simple--icon .rf-icon-cat-other-black				{ background-position: -1.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-other-dimgray			{ background-position: -2.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-other-gray				{ background-position: -3.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-other-silver				{ background-position: -4.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-other-gainsboro			{ background-position: -5.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-other-disabled			{ background-position: -7.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-other-securities			{ background-position: -9.1em  -6.2em; }

/* Balance */
.rf-header-simple--icon .rf-icon-cat-balance-black				{ background-position: -1.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-dimgray			{ background-position: -2.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-gray				{ background-position: -3.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-silver				{ background-position: -4.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-gainsboro			{ background-position: -5.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-disabled			{ background-position: -7.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-securities			{ background-position: -9.1em  -7.2em; }

/* Balance history */
.rf-header-simple--icon .rf-icon-cat-balance-hist-black				{ background-position: -1.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-hist-dimgray			{ background-position: -2.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-hist-gray				{ background-position: -3.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-hist-silver				{ background-position: -4.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-hist-gainsboro			{ background-position: -5.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-hist-disabled			{ background-position: -7.1em  -8.2em; }
.rf-header-simple--icon .rf-icon-cat-balance-hist-securities			{ background-position: -9.1em  -8.2em; }

/* Transfer margin */
.rf-header-simple--icon .rf-icon-cat-transfer-marg-black				{ background-position: -1.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-transfer-marg-dimgray			{ background-position: -2.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-transfer-marg-gray				{ background-position: -3.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-transfer-marg-silver				{ background-position: -4.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-transfer-marg-gainsboro			{ background-position: -5.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-transfer-marg-disabled			{ background-position: -7.1em  -9.2em; }
.rf-header-simple--icon .rf-icon-cat-transfer-marg-securities			{ background-position: -9.1em  -9.2em; }

/* Dividend distribution */
.rf-header-simple--icon .rf-icon-cat-dividend-dist-black				{ background-position: -1.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-dividend-dist-dimgray			{ background-position: -2.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-dividend-dist-gray				{ background-position: -3.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-dividend-dist-silver				{ background-position: -4.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-dividend-dist-gainsboro			{ background-position: -5.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-dividend-dist-disabled			{ background-position: -7.1em  -10.2em; }
.rf-header-simple--icon .rf-icon-cat-dividend-dist-securities			{ background-position: -9.1em  -10.2em; }

/* Trading history */
.rf-header-simple--icon .rf-icon-cat-trade-hist-black				{ background-position: -1.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-hist-dimgray			{ background-position: -2.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-hist-gray				{ background-position: -3.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-hist-silver				{ background-position: -4.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-hist-gainsboro			{ background-position: -5.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-hist-disabled			{ background-position: -7.1em  -11.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-hist-securities			{ background-position: -9.1em  -11.2em; }

/* Gains and losses */
.rf-header-simple--icon .rf-icon-cat-gains-loss-black				{ background-position: -1.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-gains-loss-dimgray			{ background-position: -2.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-gains-loss-gray				{ background-position: -3.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-gains-loss-silver				{ background-position: -4.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-gains-loss-gainsboro			{ background-position: -5.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-gains-loss-disabled			{ background-position: -7.1em  -12.2em; }
.rf-header-simple--icon .rf-icon-cat-gains-loss-securities			{ background-position: -9.1em  -12.2em; }

/* Available purchase amount */
.rf-header-simple--icon .rf-icon-cat-purchase-amt-black				{ background-position: -1.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-amt-dimgray			{ background-position: -2.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-amt-gray				{ background-position: -3.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-amt-silver				{ background-position: -4.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-amt-gainsboro			{ background-position: -5.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-amt-disabled			{ background-position: -7.1em  -13.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-amt-securities			{ background-position: -9.1em  -13.2em; }

/* Ranking */
.rf-header-simple--icon .rf-icon-cat-ranking-black				{ background-position: -1.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-ranking-dimgray			{ background-position: -2.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-ranking-gray				{ background-position: -3.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-ranking-silver				{ background-position: -4.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-ranking-gainsboro			{ background-position: -5.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-ranking-disabled			{ background-position: -7.1em  -14.2em; }
.rf-header-simple--icon .rf-icon-cat-ranking-securities			{ background-position: -9.1em  -14.2em; }

/* Trading balance */
.rf-header-simple--icon .rf-icon-cat-trade-balance-black				{ background-position: -1.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-balance-dimgray			{ background-position: -2.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-balance-gray				{ background-position: -3.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-balance-silver				{ background-position: -4.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-balance-gainsboro			{ background-position: -5.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-balance-disabled			{ background-position: -7.1em  -15.2em; }
.rf-header-simple--icon .rf-icon-cat-trade-balance-securities			{ background-position: -9.1em  -15.2em; }

/* Documents */
.rf-header-simple--icon .rf-icon-cat-documents-black				{ background-position: -1.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-documents-dimgray			{ background-position: -2.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-documents-gray				{ background-position: -3.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-documents-silver				{ background-position: -4.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-documents-gainsboro			{ background-position: -5.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-documents-disabled			{ background-position: -7.1em  -16.2em; }
.rf-header-simple--icon .rf-icon-cat-documents-securities			{ background-position: -9.1em  -16.2em; }

/* Total return */
.rf-header-simple--icon .rf-icon-cat-total-return-black				{ background-position: -1.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-total-return-dimgray			{ background-position: -2.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-total-return-gray				{ background-position: -3.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-total-return-silver				{ background-position: -4.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-total-return-gainsboro			{ background-position: -5.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-total-return-disabled			{ background-position: -7.1em  -17.2em; }
.rf-header-simple--icon .rf-icon-cat-total-return-securities			{ background-position: -9.1em  -17.2em; }

/* Collateral securities balance */
.rf-header-simple--icon .rf-icon-cat-collat-balance-black				{ background-position: -1.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-balance-dimgray			{ background-position: -2.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-balance-gray				{ background-position: -3.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-balance-silver				{ background-position: -4.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-balance-gainsboro			{ background-position: -5.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-balance-disabled			{ background-position: -7.1em  -18.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-balance-securities			{ background-position: -9.1em  -18.2em; }

/* Collateral securities capacity */
.rf-header-simple--icon .rf-icon-cat-collat-cap-black				{ background-position: -1.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-cap-dimgray			{ background-position: -2.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-cap-gray				{ background-position: -3.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-cap-silver				{ background-position: -4.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-cap-gainsboro			{ background-position: -5.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-cap-disabled			{ background-position: -7.1em  -19.2em; }
.rf-header-simple--icon .rf-icon-cat-collat-cap-securities			{ background-position: -9.1em  -19.2em; }

/* Open interest list */
.rf-header-simple--icon .rf-icon-cat-open-interest-black				{ background-position: -1.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-open-interest-dimgray			{ background-position: -2.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-open-interest-gray				{ background-position: -3.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-open-interest-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-open-interest-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-open-interest-disabled			{ background-position: -7.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-open-interest-securities			{ background-position: -9.1em  -2.2em; }

/* Future deposits */
.rf-header-simple--icon .rf-icon-cat-future-deposit-black				{ background-position: -1.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-future-deposit-dimgray			{ background-position: -2.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-future-deposit-gray				{ background-position: -3.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-future-deposit-silver				{ background-position: -4.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-future-deposit-gainsboro			{ background-position: -5.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-future-deposit-disabled			{ background-position: -7.1em  -1.2em; }
.rf-header-simple--icon .rf-icon-cat-future-deposit-securities			{ background-position: -9.1em  -1.2em; }

/* Home */
.rf-header-simple--icon .rf-icon-cat-home-black				{ background-position: -1.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-home-dimgray			{ background-position: -2.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-home-gray				{ background-position: -3.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-home-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-home-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-home-disabled			{ background-position: -7.1em  -2.2em; }
.rf-header-simple--icon .rf-icon-cat-home-securities			{ background-position: -9.1em  -2.2em; }

/* Close */
.rf-header-simple--icon .rf-icon-cat-close-black				{ background-position: -1.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-close-dimgray			{ background-position: -2.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-close-gray				{ background-position: -3.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-close-silver				{ background-position: -4.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-close-gainsboro			{ background-position: -5.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-close-disabled			{ background-position: -7.1em  -3.2em; }
.rf-header-simple--icon .rf-icon-cat-close-securities			{ background-position: -9.1em  -3.2em; }

/* Alert */
.rf-header-simple--icon .rf-icon-cat-alert-black				{ background-position: -1.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-alert-dimgray			{ background-position: -2.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-alert-gray				{ background-position: -3.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-alert-silver				{ background-position: -4.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-alert-gainsboro			{ background-position: -5.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-alert-disabled			{ background-position: -7.1em  -4.2em; }
.rf-header-simple--icon .rf-icon-cat-alert-securities			{ background-position: -9.1em  -4.2em; }

/* Menu */
.rf-header-simple--icon .rf-icon-cat-menu-black				{ background-position: -1.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-menu-dimgray			{ background-position: -2.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-menu-gray				{ background-position: -3.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-menu-silver				{ background-position: -4.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-menu-gainsboro			{ background-position: -5.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-menu-disabled			{ background-position: -7.1em  -5.2em; }
.rf-header-simple--icon .rf-icon-cat-menu-securities			{ background-position: -9.1em  -5.2em; }

/* Purchase future */
.rf-header-simple--icon .rf-icon-cat-purchase-ftr-black				{ background-position: -1.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-ftr-dimgray			{ background-position: -2.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-ftr-gray				{ background-position: -3.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-ftr-silver				{ background-position: -4.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-ftr-gainsboro			{ background-position: -5.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-ftr-disabled			{ background-position: -7.1em  -6.2em; }
.rf-header-simple--icon .rf-icon-cat-purchase-ftr-securities			{ background-position: -9.1em  -6.2em; }

/* Bank */
.rf-header-simple--icon .rf-icon-cat-bank-black				{ background-position: -1.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-bank-dimgray			{ background-position: -2.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-bank-gray				{ background-position: -3.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-bank-silver				{ background-position: -4.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-bank-gainsboro			{ background-position: -5.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-bank-disabled			{ background-position: -7.1em  -7.2em; }
.rf-header-simple--icon .rf-icon-cat-bank-securities			{ background-position: -9.1em  -7.2em; }