/* Organisms: Modals
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Modal: Header
───────────────────────────────────────────────────────────────────────── */

.rf-modal-header { display: table; width: 100%; background-color: #fafafa; padding: 1.2em 0 1.3em;
										-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
										border-top: .214em solid #039; border-bottom: 1px solid #ddd; }
.rf-modal-header--logo,
.rf-modal-header--title,
.rf-modal-header--close { display: table-cell; vertical-align: middle; }
.rf-modal-header--logo img { display: block; margin: 0 auto; }
.rf-modal-header--title { font-size: 1.14em; text-align: center; font-weight: normal; }
.rf-modal-header--logo { width: 6.2em; text-align: center; }
.rf-modal-header--close { width: 4.771em; text-align: right; padding-right: 1.429em; }


/* Modal Body
───────────────────────────────────────────────────────────────────────── */

.rf-modal-open 		{ overflow: hidden; }
.rf-modal 			{ display: none; overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0;
  					  left: 0; z-index: 1050; -webkit-overflow-scrolling: touch; outline: 0;
  					  height: 100%; }
.rf-modal-open .rf-modal { overflow-x: hidden; overflow-y: auto; }
.rf-modal-dialog 	{ position: relative; width: auto; margin: 4em .714em .714em; }
.rf-modal-content 	{ position: relative; display: block; background-color: #fff; border-radius: .429em;
					  -webkit-box-shadow: 0 0 1.429em 0 rgba(45, 45, 45, 0.6); box-shadow: 0 0 1.429em 0 rgba(45, 45, 45, 0.6);
					  height: 100%; width: 100%; }
.rf-modal-body 		{ position: relative; padding: 1.071em; }
.rf-modal-overlay 	{ position: fixed; display: none; bottom: 0; left: 0; right: 0; top: 0; z-index: 999;
  					  background-color: rgba(0, 0, 0, 0.4); }
.rf-modal-open .rf-modal-overlay { display: block; }
.rf-modal-close 	{ text-align: right; font-size: 1.2em; opacity: .6; margin-top: -.235em; }


/* Full Screen Modal */

.rf-modal--full 	{ background-color: #fff; }
.rf-modal--full .rf-modal-dialog { margin: 0; }
.rf-modal--full .rf-modal-content { -webkit-box-shadow: none; box-shadow: none; border-radius: 0; }
.rf-modal--full .rf-modal-body { padding: 0; }
.rf-modal--full .rf-modal-footer { position: fixed; bottom: 0; left: 0; right: 0; z-index: 1100; }
.rf-modal--footer .rf-modal-dialog { padding-bottom: 4.5em; }

@media (min-width: 768px) {
  .m1-modal-dialog { width: 42.857em; margin: 2.14em auto; }
  .m1-modal-content { -webkit-box-shadow: 0 .357em 1.071em rgba(0, 0, 0, 0.5);
  					  box-shadow: 0 .357em 1.071em rgba(0, 0, 0, 0.5); }
}