/* Organisms: Sections
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Sections: Frame with title
───────────────────────────────────────────────────────────────────────── */

.rf-frame-head 			{ text-align: center; margin-bottom: .7em; }
.rf-frame-label 		{ margin-top: 1em; }
.rf-frame-title 		{ margin: .5em 0 .2em; font-size: 1.286em; font-weight: bold; color: #039; }
.rf-frame-subtext 	{ margin: .1em; font-weight: bold; }

[class*='rf-frame'] hr { margin: .5em; }


/* Sections: Pagination
───────────────────────────────────────────────────────────────────────── */

.rf-pagination 			{ background-color: #fafafa; padding: 1em 1em 2.857em; text-align: center; }
.rf-pagination .rf-link-block { margin-top: .1em; }