/*-----------------------------------------------------------------------------------------------------------
Rakuten Styling Foundation: Global Footer Styles
-----------------------------------------------------------------------------------------------------------*/

.rf-footer {
	background-color: #039;
	color: #fff;
	padding: .286em 1em;
}

.rf-footer a,
.rf-footer a:hover,
.rf-footer a:focus,
.rf-footer a:active,
.rf-footer a:visited {
	color: #fff;
}

.rf-footer-copyright {
	color: #99add6;
}