/*-----------------------------------------------------------------------------------------------------------
Rakuten Styling Foundation: Global Header Styles
-----------------------------------------------------------------------------------------------------------*/

/*
 * Global navigation
 *
 * Header at the top of all sub-pages
 */

.rf-header {
	display: table;
	width: 100%;
	background-color: #fff;
	border-top: .286em solid #2651a8;
}

.rf-header-logo {
	vertical-align: middle;
}

.rf-header-logo,
.rf-header-links {
	display: table-cell;
	width: 7.286em;
	padding: .429em;
}

/* Title area */

.rf-header-title {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/* Works with all titles, div, and p */

.rf-header-title h1,
.rf-header-title h2,
.rf-header-title h3,
.rf-header-title h4,
.rf-header-title h5,
.rf-header-title h6,
.rf-header-title p,
.rf-header-title div {
	margin: 0;
	line-height: 1.3;
	font-size: 1em;
	font-weight: 700;
}

/* Header icon link area */

.rf-header-links {
	padding: 0 0 0 .785em;
	margin: 0;
	list-style: none;
	text-align: right;
	vertical-align: top;
}

.rf-header-links li {
	display: inline-block;
}

.rf-header-links a,
.rf-header-links a:hover,
.rf-header-links a:focus,
.rf-header-links a:active,
.rf-header-links a:visited {
	position: relative;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: .429em .333em;
}

.rf-header-icon-text {
	display: block;
	font-size: .643em;
	margin-top: -.222em;
}

.rf-header .rf-header-icon-text {
	font-weight: bold;
}

/* Notification badge */

.rf-header-badge {
	position: absolute;
	left: 2.545em;
	top: .091em;
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
	display: inline-block;
	line-height: 1.182;
	height: 1.182em;
    font-size: 11px;
    padding: 2px 4px 1px 5px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	background-color: #e62a2a;
	border-radius: .909em;
	-webkit-border-radius: .909em;
    -moz-border-radius: .909em;
	letter-spacing: 1px;
}

/*
 * Resized Header Icons
 */

.rf-header-icon {
	width: .8em;
	height: .6em;
}

/* Search */
.rf-header-icon.rf-icon-cat-search-red					{ background-position: -.1em   -.2em; }
.rf-header-icon.rf-icon-cat-search-black				{ background-position: -1.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-dimgray				{ background-position: -2.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-gray				{ background-position: -3.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-silver				{ background-position: -4.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-gainsboro			{ background-position: -5.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-white				{ background-position: -6.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-disabled			{ background-position: -7.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-error				{ background-position: -8.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-securities			{ background-position: -9.1em -.2em; }
.rf-header-icon.rf-icon-cat-search-link				{ background-position: -10.2em- .2em; }
.rf-header-icon.rf-icon-cat-search-blue				{ background-position: -11.2em- .2em; }
.rf-header-icon.rf-icon-cat-search-price-up			{ background-position: -12.2em- .2em; }
.rf-header-icon.rf-icon-cat-search-price-down			{ background-position: -13.2em- .2em; }

/* Favorite */
.rf-header-icon.rf-icon-cat-fav-red					{ background-position: -.1em    -1.2em; }
.rf-header-icon.rf-icon-cat-fav-black					{ background-position: -1.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-dimgray				{ background-position: -2.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-gray					{ background-position: -3.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-silver					{ background-position: -4.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-gainsboro				{ background-position: -5.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-white					{ background-position: -6.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-disabled				{ background-position: -7.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-error					{ background-position: -8.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-securities				{ background-position: -9.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-fav-link					{ background-position: -10.1em -1.2em; }
.rf-header-icon.rf-icon-cat-fav-blue					{ background-position: -11.1em -1.2em; }
.rf-header-icon.rf-icon-cat-fav-price-up				{ background-position: -12.1em -1.2em; }
.rf-header-icon.rf-icon-cat-fav-price-down				{ background-position: -13.1em -1.2em; }

/* Order */
.rf-header-icon.rf-icon-cat-order-red					{ background-position:  -.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-black				{ background-position: -1.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-dimgray				{ background-position: -2.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-gray					{ background-position: -3.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-white				{ background-position: -6.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-disabled				{ background-position: -7.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-error				{ background-position: -8.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-securities			{ background-position: -9.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-order-link					{ background-position: -10.1em -2.2em; }
.rf-header-icon.rf-icon-cat-order-blue					{ background-position: -11.1em -2.2em; }
.rf-header-icon.rf-icon-cat-order-price-up				{ background-position: -12.1em -2.2em; }
.rf-header-icon.rf-icon-cat-order-price-down			{ background-position: -13.1em -2.2em; }

/* More */
.rf-header-icon.rf-icon-cat-more-red					{ background-position:  -.1em    -3.2em; }
.rf-header-icon.rf-icon-cat-more-black					{ background-position: -1.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-dimgray				{ background-position: -2.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-gray					{ background-position: -3.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-silver				{ background-position: -4.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-gainsboro				{ background-position: -5.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-white					{ background-position: -6.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-disabled				{ background-position: -7.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-error					{ background-position: -8.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-securities			{ background-position: -9.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-more-link					{ background-position: -10.1em -3.2em; }
.rf-header-icon.rf-icon-cat-more-blue					{ background-position: -11.1em -3.2em; }
.rf-header-icon.rf-icon-cat-more-price-up				{ background-position: -12.1em -3.2em; }
.rf-header-icon.rf-icon-cat-more-price-down			{ background-position: -13.1em -3.2em; }

/* Holdings */
.rf-header-icon.rf-icon-cat-holdings-red				{ background-position:  -.1em    -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-black				{ background-position: -1.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-dimgray			{ background-position: -2.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-gray				{ background-position: -3.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-silver			{ background-position: -4.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-gainsboro			{ background-position: -5.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-white				{ background-position: -6.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-disabled			{ background-position: -7.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-error				{ background-position: -8.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-securities		{ background-position: -9.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-link				{ background-position: -10.1em -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-blue				{ background-position: -11.1em -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-price-up			{ background-position: -12.1em -4.2em; }
.rf-header-icon.rf-icon-cat-holdings-price-down		{ background-position: -13.1em -4.2em; }

/* Withdraw */
.rf-header-icon.rf-icon-cat-withdraw-red				{ background-position:  -.1em    -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-black				{ background-position: -1.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-dimgray			{ background-position: -2.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-gray				{ background-position: -3.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-silver			{ background-position: -4.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-gainsboro			{ background-position: -5.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-white				{ background-position: -6.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-disabled			{ background-position: -7.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-error				{ background-position: -8.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-securities		{ background-position: -9.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-link				{ background-position: -10.1em -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-blue				{ background-position: -11.1em -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-price-up			{ background-position: -12.1em -5.2em; }
.rf-header-icon.rf-icon-cat-withdraw-price-down		{ background-position: -13.1em -5.2em; }

/* Domestic stocks */
.rf-header-icon.rf-icon-cat-domesticstock-red			{ background-position:  -.1em    -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-black		{ background-position: -1.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-dimgray		{ background-position: -2.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-gray			{ background-position: -3.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-silver		{ background-position: -4.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-gainsboro	{ background-position: -5.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-white		{ background-position: -6.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-disabled		{ background-position: -7.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-error		{ background-position: -8.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-securities	{ background-position: -9.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-link			{ background-position: -10.1em -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-blue			{ background-position: -11.1em -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-price-up		{ background-position: -12.1em -6.2em; }
.rf-header-icon.rf-icon-cat-domesticstock-price-down	{ background-position: -13.1em -6.2em; }

/* Investment */
.rf-header-icon.rf-icon-cat-investment-red				{ background-position:  -.1em    -7.2em; }
.rf-header-icon.rf-icon-cat-investment-black			{ background-position: -1.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-dimgray			{ background-position: -2.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-gray			{ background-position: -3.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-silver			{ background-position: -4.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-gainsboro		{ background-position: -5.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-white			{ background-position: -6.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-disabled		{ background-position: -7.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-error			{ background-position: -8.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-securities		{ background-position: -9.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-investment-link			{ background-position: -10.1em -7.2em; }
.rf-header-icon.rf-icon-cat-investment-blue			{ background-position: -11.1em -7.2em; }
.rf-header-icon.rf-icon-cat-investment-price-up		{ background-position: -12.1em -7.2em; }
.rf-header-icon.rf-icon-cat-investment-price-down		{ background-position: -13.1em -7.2em; }

/* FX */
.rf-header-icon.rf-icon-cat-fx-red						{ background-position:  -.1em    -8.2em; }
.rf-header-icon.rf-icon-cat-fx-black					{ background-position: -1.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-dimgray					{ background-position: -2.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-gray					{ background-position: -3.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-silver					{ background-position: -4.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-gainsboro				{ background-position: -5.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-white					{ background-position: -6.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-disabled				{ background-position: -7.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-error					{ background-position: -8.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-securities				{ background-position: -9.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-fx-link					{ background-position: -10.1em -8.2em; }
.rf-header-icon.rf-icon-cat-fx-blue					{ background-position: -11.1em -8.2em; }
.rf-header-icon.rf-icon-cat-fx-price-up				{ background-position: -12.1em -8.2em; }
.rf-header-icon.rf-icon-cat-fx-price-down				{ background-position: -13.1em -8.2em; }

/* Foreign stocks */
.rf-header-icon.rf-icon-cat-foreignstock-red			{ background-position:  -.1em    -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-black			{ background-position: -1.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-dimgray		{ background-position: -2.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-gray			{ background-position: -3.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-silver		{ background-position: -4.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-gainsboro		{ background-position: -5.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-white			{ background-position: -6.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-disabled		{ background-position: -7.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-error			{ background-position: -8.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-securities	{ background-position: -9.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-link			{ background-position: -10.1em -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-blue			{ background-position: -11.1em -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-price-up		{ background-position: -12.1em -9.2em; }
.rf-header-icon.rf-icon-cat-foreignstock-price-down	{ background-position: -13.1em -9.2em; }

/* NISA */
.rf-header-icon.rf-icon-cat-nisa-red					{ background-position:  -.1em    -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-black					{ background-position: -1.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-dimgray				{ background-position: -2.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-gray					{ background-position: -3.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-silver				{ background-position: -4.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-gainsboro				{ background-position: -5.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-white					{ background-position: -6.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-disabled				{ background-position: -7.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-error					{ background-position: -8.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-securities			{ background-position: -9.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-link					{ background-position: -10.1em -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-blue					{ background-position: -11.1em -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-price-up				{ background-position: -12.1em -10.2em; }
.rf-header-icon.rf-icon-cat-nisa-price-down			{ background-position: -13.1em -10.2em; }

/* Rakuwrap */
.rf-header-icon.rf-icon-cat-rakuwrap-red				{ background-position:  -.1em    -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-black				{ background-position: -1.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-dimgray			{ background-position: -2.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-gray				{ background-position: -3.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-silver			{ background-position: -4.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-gainsboro			{ background-position: -5.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-white				{ background-position: -6.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-disabled			{ background-position: -7.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-error				{ background-position: -8.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-securities		{ background-position: -9.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-link				{ background-position: -10.1em -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-blue				{ background-position: -11.1em -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-price-up			{ background-position: -12.1em -11.2em; }
.rf-header-icon.rf-icon-cat-rakuwrap-price-down		{ background-position: -13.1em -11.2em; }

/* 401k */
.rf-header-icon.rf-icon-cat-401k-red					{ background-position:  -.1em    -12.2em; }
.rf-header-icon.rf-icon-cat-401k-black					{ background-position: -1.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-dimgray				{ background-position: -2.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-gray					{ background-position: -3.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-silver				{ background-position: -4.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-gainsboro				{ background-position: -5.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-white					{ background-position: -6.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-disabled				{ background-position: -7.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-error					{ background-position: -8.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-securities			{ background-position: -9.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-401k-link					{ background-position: -10.1em -12.2em; }
.rf-header-icon.rf-icon-cat-401k-blue					{ background-position: -11.1em -12.2em; }
.rf-header-icon.rf-icon-cat-401k-price-up				{ background-position: -12.1em -12.2em; }
.rf-header-icon.rf-icon-cat-401k-price-down			{ background-position: -13.1em -12.2em; }

/* Credit */
.rf-header-icon.rf-icon-cat-credit-red					{ background-position:  -.1em    -13.2em; }
.rf-header-icon.rf-icon-cat-credit-black				{ background-position: -1.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-dimgray				{ background-position: -2.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-gray				{ background-position: -3.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-silver				{ background-position: -4.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-gainsboro			{ background-position: -5.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-white				{ background-position: -6.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-disabled			{ background-position: -7.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-error				{ background-position: -8.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-securities			{ background-position: -9.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-credit-link				{ background-position: -10.1em -13.2em; }
.rf-header-icon.rf-icon-cat-credit-blue				{ background-position: -11.1em -13.2em; }
.rf-header-icon.rf-icon-cat-credit-price-up			{ background-position: -12.1em -13.2em; }
.rf-header-icon.rf-icon-cat-credit-price-down			{ background-position: -13.1em -13.2em; }

/* Market */
.rf-header-icon.rf-icon-cat-market-red					{ background-position:  -.1em    -14.2em; }
.rf-header-icon.rf-icon-cat-market-black				{ background-position: -1.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-dimgray				{ background-position: -2.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-gray				{ background-position: -3.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-silver				{ background-position: -4.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-gainsboro			{ background-position: -5.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-white				{ background-position: -6.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-disabled			{ background-position: -7.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-error				{ background-position: -8.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-securities			{ background-position: -9.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-market-link				{ background-position: -10.1em -14.2em; }
.rf-header-icon.rf-icon-cat-market-blue				{ background-position: -11.1em -14.2em; }
.rf-header-icon.rf-icon-cat-market-price-up			{ background-position: -12.1em -14.2em; }
.rf-header-icon.rf-icon-cat-market-price-down			{ background-position: -13.1em -14.2em; }

/* Settings */
.rf-header-icon.rf-icon-cat-settings-red				{ background-position:  -.1em    -15.2em; }
.rf-header-icon.rf-icon-cat-settings-black				{ background-position: -1.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-dimgray			{ background-position: -2.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-gray				{ background-position: -3.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-silver			{ background-position: -4.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-gainsboro			{ background-position: -5.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-white				{ background-position: -6.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-disabled			{ background-position: -7.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-error				{ background-position: -8.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-securities		{ background-position: -9.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-settings-link				{ background-position: -10.1em -15.2em; }
.rf-header-icon.rf-icon-cat-settings-blue				{ background-position: -11.1em -15.2em; }
.rf-header-icon.rf-icon-cat-settings-price-up			{ background-position: -12.1em -15.2em; }
.rf-header-icon.rf-icon-cat-settings-price-down		{ background-position: -13.1em -15.2em; }

/* Support */
.rf-header-icon.rf-icon-cat-support-red				{ background-position:  -.1em    -16.2em; }
.rf-header-icon.rf-icon-cat-support-black				{ background-position: -1.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-dimgray			{ background-position: -2.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-gray				{ background-position: -3.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-silver				{ background-position: -4.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-gainsboro			{ background-position: -5.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-white				{ background-position: -6.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-disabled			{ background-position: -7.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-error				{ background-position: -8.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-securities			{ background-position: -9.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-support-link				{ background-position: -10.1em -16.2em; }
.rf-header-icon.rf-icon-cat-support-blue				{ background-position: -11.1em -16.2em; }
.rf-header-icon.rf-icon-cat-support-price-up			{ background-position: -12.1em -16.2em; }
.rf-header-icon.rf-icon-cat-support-price-down			{ background-position: -13.1em -16.2em; }

/* Seminar */
.rf-header-icon.rf-icon-cat-seminar-red				{ background-position:  -.1em    -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-black				{ background-position: -1.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-dimgray			{ background-position: -2.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-gray				{ background-position: -3.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-silver				{ background-position: -4.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-gainsboro			{ background-position: -5.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-white				{ background-position: -6.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-disabled			{ background-position: -7.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-error				{ background-position: -8.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-securities			{ background-position: -9.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-link				{ background-position: -10.1em -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-blue				{ background-position: -11.1em -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-price-up			{ background-position: -12.1em -17.2em; }
.rf-header-icon.rf-icon-cat-seminar-price-down			{ background-position: -13.1em -17.2em; }

/* PC */
.rf-header-icon.rf-icon-cat-pc-red				{ background-position:  -.1em    -18.2em; }
.rf-header-icon.rf-icon-cat-pc-black				{ background-position: -1.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-dimgray			{ background-position: -2.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-gray				{ background-position: -3.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-silver				{ background-position: -4.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-gainsboro			{ background-position: -5.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-white				{ background-position: -6.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-disabled			{ background-position: -7.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-error				{ background-position: -8.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-securities			{ background-position: -9.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-pc-link				{ background-position: -10.1em -18.2em; }
.rf-header-icon.rf-icon-cat-pc-blue				{ background-position: -11.1em -18.2em; }
.rf-header-icon.rf-icon-cat-pc-price-up			{ background-position: -12.1em -18.2em; }
.rf-header-icon.rf-icon-cat-pc-price-down			{ background-position: -13.1em -18.2em; }

/* Logout */
.rf-header-icon.rf-icon-cat-logout-red				{ background-position:  -.1em    -19.2em; }
.rf-header-icon.rf-icon-cat-logout-black				{ background-position: -1.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-dimgray			{ background-position: -2.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-gray				{ background-position: -3.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-silver				{ background-position: -4.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-gainsboro			{ background-position: -5.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-white				{ background-position: -6.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-disabled			{ background-position: -7.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-error				{ background-position: -8.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-securities			{ background-position: -9.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-logout-link				{ background-position: -10.1em -19.2em; }
.rf-header-icon.rf-icon-cat-logout-blue				{ background-position: -11.1em -19.2em; }
.rf-header-icon.rf-icon-cat-logout-price-up			{ background-position: -12.1em -19.2em; }
.rf-header-icon.rf-icon-cat-logout-price-down			{ background-position: -13.1em -19.2em; }

/* Account management */
.rf-header-icon.rf-icon-cat-acct-mng-red				{ background-position: -.1em   -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-black				{ background-position: -1.1em -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-dimgray			{ background-position: -2.1em  -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-gray				{ background-position: -3.1em  -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-silver				{ background-position: -4.1em  -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-gainsboro			{ background-position: -5.1em  -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-white				{ background-position: -6.1em  -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-disabled			{ background-position: -7.1em  -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-error				{ background-position: -8.1em  -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-securities			{ background-position: -9.1em  -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-link				{ background-position: -10.1em -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-blue				{ background-position: -11.1em -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-price-up			{ background-position: -12.1em -.2em; }
.rf-header-icon.rf-icon-cat-acct-mng-price-down			{ background-position: -13.1em -.2em; }

/* Account Info */
.rf-header-icon.rf-icon-cat-acct-info-red				{ background-position:  -.1em    -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-black				{ background-position: -1.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-dimgray			{ background-position: -2.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-gray				{ background-position: -3.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-silver				{ background-position: -4.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-gainsboro			{ background-position: -5.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-white				{ background-position: -6.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-disabled			{ background-position: -7.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-error				{ background-position: -8.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-securities			{ background-position: -9.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-link				{ background-position: -10.1em -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-blue				{ background-position: -11.1em -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-price-up			{ background-position: -12.1em -1.2em; }
.rf-header-icon.rf-icon-cat-acct-info-price-down			{ background-position: -13.1em -1.2em; }

/* Recommendations */
.rf-header-icon.rf-icon-cat-recommend-red				{ background-position:  -.1em    -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-black				{ background-position: -1.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-dimgray			{ background-position: -2.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-gray				{ background-position: -3.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-white				{ background-position: -6.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-disabled			{ background-position: -7.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-error				{ background-position: -8.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-securities			{ background-position: -9.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-link				{ background-position: -10.1em -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-blue				{ background-position: -11.1em -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-price-up			{ background-position: -12.1em -2.2em; }
.rf-header-icon.rf-icon-cat-recommend-price-down			{ background-position: -13.1em -2.2em; }

/* Fee */
.rf-header-icon.rf-icon-cat-fee-red				{ background-position:  -.1em    -3.2em; }
.rf-header-icon.rf-icon-cat-fee-black				{ background-position: -1.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-dimgray			{ background-position: -2.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-gray				{ background-position: -3.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-silver				{ background-position: -4.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-gainsboro			{ background-position: -5.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-white				{ background-position: -6.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-disabled			{ background-position: -7.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-error				{ background-position: -8.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-securities			{ background-position: -9.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-fee-link				{ background-position: -10.1em -3.2em; }
.rf-header-icon.rf-icon-cat-fee-blue				{ background-position: -11.1em -3.2em; }
.rf-header-icon.rf-icon-cat-fee-price-up			{ background-position: -12.1em -3.2em; }
.rf-header-icon.rf-icon-cat-fee-price-down			{ background-position: -13.1em -3.2em; }

/* Investment Report */
.rf-header-icon.rf-icon-cat-invest-report-red				{ background-position:  -.1em    -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-black				{ background-position: -1.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-dimgray			{ background-position: -2.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-gray				{ background-position: -3.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-silver				{ background-position: -4.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-gainsboro			{ background-position: -5.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-white				{ background-position: -6.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-disabled			{ background-position: -7.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-error				{ background-position: -8.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-securities			{ background-position: -9.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-link				{ background-position: -10.1em -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-blue				{ background-position: -11.1em -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-price-up			{ background-position: -12.1em -4.2em; }
.rf-header-icon.rf-icon-cat-invest-report-price-down			{ background-position: -13.1em -4.2em; }

/* Latest information */
.rf-header-icon.rf-icon-cat-latest-info-red				{ background-position:  -.1em    -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-black				{ background-position: -1.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-dimgray			{ background-position: -2.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-gray				{ background-position: -3.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-silver				{ background-position: -4.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-gainsboro			{ background-position: -5.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-white				{ background-position: -6.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-disabled			{ background-position: -7.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-error				{ background-position: -8.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-securities			{ background-position: -9.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-link				{ background-position: -10.1em -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-blue				{ background-position: -11.1em -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-price-up			{ background-position: -12.1em -5.2em; }
.rf-header-icon.rf-icon-cat-latest-info-price-down			{ background-position: -13.1em -5.2em; }

/* Other */
.rf-header-icon.rf-icon-cat-other-red				{ background-position:  -.1em    -6.2em; }
.rf-header-icon.rf-icon-cat-other-black				{ background-position: -1.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-dimgray			{ background-position: -2.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-gray				{ background-position: -3.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-silver				{ background-position: -4.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-gainsboro			{ background-position: -5.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-white				{ background-position: -6.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-disabled			{ background-position: -7.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-error				{ background-position: -8.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-securities			{ background-position: -9.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-other-link				{ background-position: -10.1em -6.2em; }
.rf-header-icon.rf-icon-cat-other-blue				{ background-position: -11.1em -6.2em; }
.rf-header-icon.rf-icon-cat-other-price-up			{ background-position: -12.1em -6.2em; }
.rf-header-icon.rf-icon-cat-other-price-down			{ background-position: -13.1em -6.2em; }

/* Balance */
.rf-header-icon.rf-icon-cat-balance-red				{ background-position:  -.1em    -7.2em; }
.rf-header-icon.rf-icon-cat-balance-black				{ background-position: -1.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-dimgray			{ background-position: -2.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-gray				{ background-position: -3.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-silver				{ background-position: -4.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-gainsboro			{ background-position: -5.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-white				{ background-position: -6.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-disabled			{ background-position: -7.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-error				{ background-position: -8.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-securities			{ background-position: -9.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-balance-link				{ background-position: -10.1em -7.2em; }
.rf-header-icon.rf-icon-cat-balance-blue				{ background-position: -11.1em -7.2em; }
.rf-header-icon.rf-icon-cat-balance-price-up			{ background-position: -12.1em -7.2em; }
.rf-header-icon.rf-icon-cat-balance-price-down			{ background-position: -13.1em -7.2em; }

/* Balance history */
.rf-header-icon.rf-icon-cat-balance-hist-red				{ background-position:  -.1em    -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-black				{ background-position: -1.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-dimgray			{ background-position: -2.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-gray				{ background-position: -3.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-silver				{ background-position: -4.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-gainsboro			{ background-position: -5.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-white				{ background-position: -6.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-disabled			{ background-position: -7.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-error				{ background-position: -8.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-securities			{ background-position: -9.1em  -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-link				{ background-position: -10.1em -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-blue				{ background-position: -11.1em -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-price-up			{ background-position: -12.1em -8.2em; }
.rf-header-icon.rf-icon-cat-balance-hist-price-down			{ background-position: -13.1em -8.2em; }

/* Transfer margin */
.rf-header-icon.rf-icon-cat-transfer-marg-red				{ background-position:  -.1em    -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-black				{ background-position: -1.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-dimgray			{ background-position: -2.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-gray				{ background-position: -3.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-silver				{ background-position: -4.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-gainsboro			{ background-position: -5.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-white				{ background-position: -6.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-disabled			{ background-position: -7.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-error				{ background-position: -8.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-securities			{ background-position: -9.1em  -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-link				{ background-position: -10.1em -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-blue				{ background-position: -11.1em -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-price-up			{ background-position: -12.1em -9.2em; }
.rf-header-icon.rf-icon-cat-transfer-marg-price-down			{ background-position: -13.1em -9.2em; }

/* Dividend distribution */
.rf-header-icon.rf-icon-cat-dividend-dist-red				{ background-position:  -.1em    -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-black				{ background-position: -1.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-dimgray			{ background-position: -2.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-gray				{ background-position: -3.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-silver				{ background-position: -4.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-gainsboro			{ background-position: -5.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-white				{ background-position: -6.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-disabled			{ background-position: -7.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-error				{ background-position: -8.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-securities			{ background-position: -9.1em  -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-link				{ background-position: -10.1em -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-blue				{ background-position: -11.1em -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-price-up			{ background-position: -12.1em -10.2em; }
.rf-header-icon.rf-icon-cat-dividend-dist-price-down			{ background-position: -13.1em -10.2em; }

/* Trading history */
.rf-header-icon.rf-icon-cat-trade-hist-red				{ background-position:  -.1em    -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-black				{ background-position: -1.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-dimgray			{ background-position: -2.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-gray				{ background-position: -3.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-silver				{ background-position: -4.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-gainsboro			{ background-position: -5.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-white				{ background-position: -6.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-disabled			{ background-position: -7.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-error				{ background-position: -8.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-securities			{ background-position: -9.1em  -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-link				{ background-position: -10.1em -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-blue				{ background-position: -11.1em -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-price-up			{ background-position: -12.1em -11.2em; }
.rf-header-icon.rf-icon-cat-trade-hist-price-down			{ background-position: -13.1em -11.2em; }

/* Gains and losses */
.rf-header-icon.rf-icon-cat-gains-loss-red				{ background-position:  -.1em    -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-black				{ background-position: -1.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-dimgray			{ background-position: -2.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-gray				{ background-position: -3.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-silver				{ background-position: -4.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-gainsboro			{ background-position: -5.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-white				{ background-position: -6.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-disabled			{ background-position: -7.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-error				{ background-position: -8.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-securities			{ background-position: -9.1em  -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-link				{ background-position: -10.1em -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-blue				{ background-position: -11.1em -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-price-up			{ background-position: -12.1em -12.2em; }
.rf-header-icon.rf-icon-cat-gains-loss-price-down			{ background-position: -13.1em -12.2em; }

/* Available purchase amount */
.rf-header-icon.rf-icon-cat-purchase-amt-red				{ background-position:  -.1em    -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-black				{ background-position: -1.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-dimgray			{ background-position: -2.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-gray				{ background-position: -3.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-silver				{ background-position: -4.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-gainsboro			{ background-position: -5.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-white				{ background-position: -6.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-disabled			{ background-position: -7.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-error				{ background-position: -8.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-securities			{ background-position: -9.1em  -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-link				{ background-position: -10.1em -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-blue				{ background-position: -11.1em -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-price-up			{ background-position: -12.1em -13.2em; }
.rf-header-icon.rf-icon-cat-purchase-amt-price-down			{ background-position: -13.1em -13.2em; }

/* Ranking */
.rf-header-icon.rf-icon-cat-ranking-red				{ background-position:  -.1em    -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-black				{ background-position: -1.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-dimgray			{ background-position: -2.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-gray				{ background-position: -3.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-silver				{ background-position: -4.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-gainsboro			{ background-position: -5.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-white				{ background-position: -6.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-disabled			{ background-position: -7.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-error				{ background-position: -8.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-securities			{ background-position: -9.1em  -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-link				{ background-position: -10.1em -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-blue				{ background-position: -11.1em -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-price-up			{ background-position: -12.1em -14.2em; }
.rf-header-icon.rf-icon-cat-ranking-price-down			{ background-position: -13.1em -14.2em; }

/* Trading balance */
.rf-header-icon.rf-icon-cat-trade-balance-red				{ background-position:  -.1em    -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-black				{ background-position: -1.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-dimgray			{ background-position: -2.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-gray				{ background-position: -3.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-silver				{ background-position: -4.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-gainsboro			{ background-position: -5.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-white				{ background-position: -6.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-disabled			{ background-position: -7.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-error				{ background-position: -8.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-securities			{ background-position: -9.1em  -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-link				{ background-position: -10.1em -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-blue				{ background-position: -11.1em -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-price-up			{ background-position: -12.1em -15.2em; }
.rf-header-icon.rf-icon-cat-trade-balance-price-down			{ background-position: -13.1em -15.2em; }

/* Documents */
.rf-header-icon.rf-icon-cat-documents-red				{ background-position:  -.1em    -16.2em; }
.rf-header-icon.rf-icon-cat-documents-black				{ background-position: -1.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-dimgray			{ background-position: -2.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-gray				{ background-position: -3.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-silver				{ background-position: -4.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-gainsboro			{ background-position: -5.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-white				{ background-position: -6.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-disabled			{ background-position: -7.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-error				{ background-position: -8.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-securities			{ background-position: -9.1em  -16.2em; }
.rf-header-icon.rf-icon-cat-documents-link				{ background-position: -10.1em -16.2em; }
.rf-header-icon.rf-icon-cat-documents-blue				{ background-position: -11.1em -16.2em; }
.rf-header-icon.rf-icon-cat-documents-price-up			{ background-position: -12.1em -16.2em; }
.rf-header-icon.rf-icon-cat-documents-price-down			{ background-position: -13.1em -16.2em; }

/* Total return */
.rf-header-icon.rf-icon-cat-total-return-red				{ background-position:  -.1em    -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-black				{ background-position: -1.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-dimgray			{ background-position: -2.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-gray				{ background-position: -3.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-silver				{ background-position: -4.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-gainsboro			{ background-position: -5.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-white				{ background-position: -6.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-disabled			{ background-position: -7.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-error				{ background-position: -8.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-securities			{ background-position: -9.1em  -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-link				{ background-position: -10.1em -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-blue				{ background-position: -11.1em -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-price-up			{ background-position: -12.1em -17.2em; }
.rf-header-icon.rf-icon-cat-total-return-price-down			{ background-position: -13.1em -17.2em; }

/* Collateral securities balance */
.rf-header-icon.rf-icon-cat-collat-balance-red				{ background-position:  -.1em    -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-black				{ background-position: -1.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-dimgray			{ background-position: -2.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-gray				{ background-position: -3.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-silver				{ background-position: -4.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-gainsboro			{ background-position: -5.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-white				{ background-position: -6.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-disabled			{ background-position: -7.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-error				{ background-position: -8.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-securities			{ background-position: -9.1em  -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-link				{ background-position: -10.1em -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-blue				{ background-position: -11.1em -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-price-up			{ background-position: -12.1em -18.2em; }
.rf-header-icon.rf-icon-cat-collat-balance-price-down			{ background-position: -13.1em -18.2em; }

/* Collateral securities capacity */
.rf-header-icon.rf-icon-cat-collat-cap-red				{ background-position:  -.1em    -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-black				{ background-position: -1.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-dimgray			{ background-position: -2.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-gray				{ background-position: -3.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-silver				{ background-position: -4.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-gainsboro			{ background-position: -5.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-white				{ background-position: -6.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-disabled			{ background-position: -7.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-error				{ background-position: -8.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-securities			{ background-position: -9.1em  -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-link				{ background-position: -10.1em -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-blue				{ background-position: -11.1em -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-price-up			{ background-position: -12.1em -19.2em; }
.rf-header-icon.rf-icon-cat-collat-cap-price-down			{ background-position: -13.1em -19.2em; }

/* Open interest list */
.rf-header-icon.rf-icon-cat-open-interest-red				{ background-position: -.1em   -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-black				{ background-position: -1.1em -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-dimgray			{ background-position: -2.1em  -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-gray				{ background-position: -3.1em  -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-silver				{ background-position: -4.1em  -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-gainsboro			{ background-position: -5.1em  -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-white				{ background-position: -6.1em  -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-disabled			{ background-position: -7.1em  -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-error				{ background-position: -8.1em  -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-securities			{ background-position: -9.1em  -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-link				{ background-position: -10.1em -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-blue				{ background-position: -11.1em -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-price-up			{ background-position: -12.1em -.2em; }
.rf-header-icon.rf-icon-cat-open-interest-price-down			{ background-position: -13.1em -.2em; }

/* Future deposits */
.rf-header-icon.rf-icon-cat-future-deposit-red				{ background-position:  -.1em    -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-black				{ background-position: -1.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-dimgray			{ background-position: -2.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-gray				{ background-position: -3.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-silver				{ background-position: -4.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-gainsboro			{ background-position: -5.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-white				{ background-position: -6.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-disabled			{ background-position: -7.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-error				{ background-position: -8.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-securities			{ background-position: -9.1em  -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-link				{ background-position: -10.1em -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-blue				{ background-position: -11.1em -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-price-up			{ background-position: -12.1em -1.2em; }
.rf-header-icon.rf-icon-cat-future-deposit-price-down			{ background-position: -13.1em -1.2em; }

/* Home */
.rf-header-icon.rf-icon-cat-home-red				{ background-position:  -.1em    -2.2em; }
.rf-header-icon.rf-icon-cat-home-black				{ background-position: -1.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-dimgray			{ background-position: -2.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-gray				{ background-position: -3.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-silver				{ background-position: -4.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-gainsboro			{ background-position: -5.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-white				{ background-position: -6.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-disabled			{ background-position: -7.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-error				{ background-position: -8.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-securities			{ background-position: -9.1em  -2.2em; }
.rf-header-icon.rf-icon-cat-home-link				{ background-position: -10.1em -2.2em; }
.rf-header-icon.rf-icon-cat-home-blue				{ background-position: -11.1em -2.2em; }
.rf-header-icon.rf-icon-cat-home-price-up			{ background-position: -12.1em -2.2em; }
.rf-header-icon.rf-icon-cat-home-price-down			{ background-position: -13.1em -2.2em; }

/* Close */
.rf-header-icon.rf-icon-cat-close-red				{ background-position:  -.1em    -3.2em; }
.rf-header-icon.rf-icon-cat-close-black				{ background-position: -1.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-dimgray			{ background-position: -2.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-gray				{ background-position: -3.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-silver				{ background-position: -4.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-gainsboro			{ background-position: -5.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-white				{ background-position: -6.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-disabled			{ background-position: -7.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-error				{ background-position: -8.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-securities			{ background-position: -9.1em  -3.2em; }
.rf-header-icon.rf-icon-cat-close-link				{ background-position: -10.1em -3.2em; }
.rf-header-icon.rf-icon-cat-close-blue				{ background-position: -11.1em -3.2em; }
.rf-header-icon.rf-icon-cat-close-price-up			{ background-position: -12.1em -3.2em; }
.rf-header-icon.rf-icon-cat-close-price-down			{ background-position: -13.1em -3.2em; }

/* Alert */
.rf-header-icon.rf-icon-cat-alert-red				{ background-position: -.1em    -4.2em; }
.rf-header-icon.rf-icon-cat-alert-black				{ background-position: -1.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-dimgray			{ background-position: -2.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-gray				{ background-position: -3.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-silver				{ background-position: -4.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-gainsboro			{ background-position: -5.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-white				{ background-position: -6.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-disabled			{ background-position: -7.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-error				{ background-position: -8.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-securities			{ background-position: -9.1em  -4.2em; }
.rf-header-icon.rf-icon-cat-alert-link				{ background-position: -10.1em -4.2em; }
.rf-header-icon.rf-icon-cat-alert-blue				{ background-position: -11.1em -4.2em; }
.rf-header-icon.rf-icon-cat-alert-price-up			{ background-position: -12.1em -4.2em; }
.rf-header-icon.rf-icon-cat-alert-price-down			{ background-position: -13.1em -4.2em; }

/* Menu */
.rf-header-icon.rf-icon-cat-menu-red				{ background-position:  -.1em    -5.2em; }
.rf-header-icon.rf-icon-cat-menu-black				{ background-position: -1.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-dimgray			{ background-position: -2.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-gray				{ background-position: -3.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-silver				{ background-position: -4.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-gainsboro			{ background-position: -5.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-white				{ background-position: -6.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-disabled			{ background-position: -7.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-error				{ background-position: -8.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-securities			{ background-position: -9.1em  -5.2em; }
.rf-header-icon.rf-icon-cat-menu-link				{ background-position: -10.1em -5.2em; }
.rf-header-icon.rf-icon-cat-menu-blue				{ background-position: -11.1em -5.2em; }
.rf-header-icon.rf-icon-cat-menu-price-up			{ background-position: -12.1em -5.2em; }
.rf-header-icon.rf-icon-cat-menu-price-down			{ background-position: -13.1em -5.2em; }

/* Purchase future */
.rf-header-icon.rf-icon-cat-purchase-ftr-red				{ background-position:  -.1em    -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-black				{ background-position: -1.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-dimgray			{ background-position: -2.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-gray				{ background-position: -3.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-silver				{ background-position: -4.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-gainsboro			{ background-position: -5.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-white				{ background-position: -6.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-disabled			{ background-position: -7.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-error				{ background-position: -8.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-securities			{ background-position: -9.1em  -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-link				{ background-position: -10.1em -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-blue				{ background-position: -11.1em -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-price-up			{ background-position: -12.1em -6.2em; }
.rf-header-icon.rf-icon-cat-purchase-ftr-price-down			{ background-position: -13.1em -6.2em; }

/* Bank */
.rf-header-icon.rf-icon-cat-bank-red				{ background-position:  -.1em    -7.2em; }
.rf-header-icon.rf-icon-cat-bank-black				{ background-position: -1.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-dimgray			{ background-position: -2.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-gray				{ background-position: -3.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-silver				{ background-position: -4.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-gainsboro			{ background-position: -5.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-white				{ background-position: -6.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-disabled			{ background-position: -7.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-error				{ background-position: -8.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-securities			{ background-position: -9.1em  -7.2em; }
.rf-header-icon.rf-icon-cat-bank-link				{ background-position: -10.1em -7.2em; }
.rf-header-icon.rf-icon-cat-bank-blue				{ background-position: -11.1em -7.2em; }
.rf-header-icon.rf-icon-cat-bank-price-up			{ background-position: -12.1em -7.2em; }
.rf-header-icon.rf-icon-cat-bank-price-down			{ background-position: -13.1em -7.2em; }


/*
 * Global Navigation Modal
 *
 * Modal menu that opens when you click on the
 menu button in the global navigation
 */

.rf-header-modal {
	display: none;
	position: absolute;
	top: 4.214em;
	right: 0;
	left: 0;
	background-color: #0d3d9e;
	color: #fff;
	z-index: 999;
}

.rf-header-modal:before {
	display: block;
	position: absolute;
	bottom: 100%;
	right: 1.286em;
	width: 0;
	height: 0;
	border-left: .5em solid transparent;
	border-right: .5em solid transparent;
	border-bottom: .5em solid #0d3d9e;
	content: '';
}

.rf-header-modal a,
.rf-header-modal a:hover,
.rf-header-modal a:focus,
.rf-header-modal a:active,
.rf-header-modal a:visited {
	color: #fff;
	text-decoration: none;
}

/* Opens when .rf-header-modal-open is on body */

.rf-header-modal-open {
	position: relative;
	overflow: hidden;
}

.rf-header-modal-open .rf-header-modal {
	display: block;
}

.rf-header-modal-open .rf-header-backdrop {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.4);
	z-index: 998;
}

/* Modal title area */

.rf-header-modal-header {
	position: relative;
	padding: .571em .714em .428em;
	overflow: hidden;
}

.rf-header-modal-header h1,
.rf-header-modal-header h2,
.rf-header-modal-header h3,
.rf-header-modal-header h4,
.rf-header-modal-header h5,
.rf-header-modal-header h6,
.rf-header-modal-header p,
.rf-header-modal-header div {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

.rf-header-modal-close {
	position: absolute;
	top: -.643em;
	right: -.5em;
}

.rf-header-modal-close [class*='rf-icon-cat-close'] {
	font-size: 55px;
}

/* Modal link area */

.rf-header-modal-section-title {
	font-size: .857em;
	background-color: #2651a8;
	margin: 0;
	padding: .333em .833em .333em;
}

.rf-header-modal-section-table {
	display: table;
	width: 100%;
	border-collapse: collapse;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.rf-header-modal-section-row {
	display: table-row;
}

/* Modal link styles */

.rf-header-modal-menu-item {
	position: relative;
	display: table-cell;
	width: 25%;
	height: 5.667em;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #2651a8;
	font-size: .857em;
	overflow: hidden;
}

.rf-header-modal-menu-item .rf-header-icon {
	display: block;
	margin: 0 auto;
}

.rf-header-modal-menu-item .rf-header-icon-pc,
.rf-header-category-menu-inner-item .rf-header-icon-pc {
	position: absolute;
	top: -.35em;
	right: -.283em;
	opacity: .5;
	font-size: 5em; /* 60px */
}

/* Modal footer area */

.rf-header-modal-footer {
	padding: .714em;
}

.rf-header-modal-footer [class*='rf-button'] {
	margin: 0;
}

.rf-header-button {
	font-size: .857em;
}

.rf-header-button.rf-button-icon-small [class*='rf-icon-cat'] {
	font-size: 50px;
	left: -.06em;
	top: .55em;
}

/*
 * Category Navigation
 *
 * Navigation underneath the global navigation
 that changes based on the category of the page
 */

.rf-header-category {
	position: relative;
	display: table;
	table-layout: fixed;
	background-color: #0d3d9e;
	color: #fff;
	width: 100%;
}

.rf-header-category a,
.rf-header-category a:hover,
.rf-header-category a:focus,
.rf-header-category a:active,
.rf-header-category a:visited {
	color: #fff;
	text-decoration: none;
}

.rf-header-category-menu,
.rf-header-category-more {
	display: table-cell;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	height: 3.571em;
	overflow: hidden;
}

.rf-header-category-menu {
	width: 90%;
}

.rf-header-category-more {
	width: 10%;
}

/* Menu link styles */

.rf-header-category-link {
	display: block;
	padding: 0;
	padding-top: .143em;
	padding-bottom: .143em;
	border-bottom: .214em solid #0d3d9e;
}

.rf-header-category-link--active,
.rf-header-category-link--active:focus,
.rf-header-category-link--active:hover,
.rf-header-category-link--active:active {
	border-bottom-color: #fff;
}

/* More button that opens child menu */

.rf-header-category-more-link {
	display: block;
	padding: .643em 0 .714em;
	border-left: .143em solid #2a54aa;
}

.rf-header-category-more [class*='rf-icon-cat-other'] {
	margin-left: -.15em;
}

/*
 * Category Inner Menu
 */

.rf-header-category-menu-inner {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #2651a8;
	z-index: 100;
	box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
}

.rf-header-category-menu-inner-table {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid #0d3d9e;
	border-collapse: collapse;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.rf-header-category-menu-inner-row {
	display: table-row;
}

.rf-header-category-menu-inner-item {
	display: table-cell;
	position: relative;
	width: 33.333%;
	height: 5em;
	padding: .5em;
	text-align: center;
	vertical-align: middle;
	font-size: .857em;
	border: 1px solid #0d3d9e;
	overflow: hidden;
}

.rf-header-category-link--expanded {
	background-color: #2651a8;
	border-bottom-color: #2651a8;
}

.rf-header-category-link--expanded.rf-header-category-link--active {
	border-bottom-color: #fff;
}

.rf-header-category-link--expanded + .rf-header-category-menu-inner {
	display: block;
}

/* Inner menu title */

.rf-header-category-menu-inner-title {
	margin: 0;
	padding: .333em .833em .417em;
	font-size: .857em;
	font-weight: normal;
	text-align: left;
	background-color: #3960b0;
}
