/* Tags */

html, body {
	height: 100%;
}

/*
html {
	min-height: 100%;
	min-width: 950px; // .container {width}
	position: relative;
}
body {
	margin-bottom: 120px; // #footer {height}
}
a {
	color: $indigo-700;
}
*/