/* Wrapper */

#wrapper {
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

/* Sidebar */

#sidebar {
	background: #ebeff6;
	color: #335fb9;
	position: fixed;
	top: 0;
	width: 240px;
	height: 100%;
	// padding-bottom: 32768px;
	// margin-bottom: -32768px;
	overflow: hidden;
	z-index: 10000;
}

#sidebar-wrapper {
	height: 100%;
	position: relative;
	width: 240px;
	max-height: 768px;
}

#sidebar-progress {
	font-size: 18px;
	text-align: center;
	margin-top: 40px;
	width: 240px;
	img {
		width: 162px;
		margin: 0 auto;
	}
}

#sidebar-enquiry {
	// top: 535px;
	background: #ebeff6;
	margin-bottom: 60px;
	bottom: 0;
	left: 30px;
	position: absolute;
	text-align: center;
	width: 180px;
	.rf-icon-cat-support-link {
		vertical-align: -18px;
		margin-left: -15px;
	}
	p.rf-xlarge {
		border-bottom: 1px solid #335fb9;
	}
}

/* Content */

#content {
	margin-left: 320px;
}

#content-header {
	// padding: 45px 0 30px;
	height: 110px;
	margin-bottom: 35px;
	position: relative;
	width: 660px;
	@media only screen and (min-width: 1050px) {
		width: 100%
	}
	.logo {
		pointer-events: none;
		height: 25px;
		width: 130px;
		position: absolute;
		right: 0px;
		top: 45px;
		display: block;
		@media only screen and (min-width: 1050px) {
			right: 30px;
		}
	}

}

#content-body {
	padding-right: 80px;
	width: 560px;
}



/* PC02 */
.al-form-birthday {
	.rf-form-button-group-triple {
		width: 0;
		.rf-form-button-group-inner {
			width: 105px;
			padding-left: 10px;
			padding-right: 10px;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.rf-button-primary {
	&.al-btn-back {
		position: relative;
		.fa-chevron-left {
			position: absolute;
			left: 20px;
			line-height: inherit;
		}
	}
	&.al-btn-next {
		position: relative;
		.fa-chevron-right {
			position: absolute;
			right: 20px;
			line-height: inherit;
		}
	}

}
.rf-button-font-normal{
  font-weight: normal !important;
}
/* Page PC 05 */
.al-opening-account {
	position: relative;
	padding: 40px;
	h3.al-h3 {
		position: absolute;
		display: block;
		top: -37px;
		background-color: #fff;
		padding: 10px;
		left: 50%;
		margin-left: -96px;
	}
}
.al-opening-account-01 {
	position: relative;
	margin-top: 40px;
	.al-tooltip {
		left: 50%;
		margin-left: -30px;
		top: -38px;
	}
	.al-label-blue {
		margin: 0 auto;
	}
}
.al-opening-account-tooltip-column {
	position: relative;
	.al-tooltip {
		top: -11px;
		z-index: 1000;
		left: 50%;
		margin-left: -30px;
	}
}
.al-tax-h1 {
	background: #A4A4A4;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	margin: 0;
	font-size: 14px;
	margin-top: 20px;
}
.al-tax-box {
	padding: 20px;
	margin-bottom: 20px;
	p {
		margin: 0;
	}
	.al-img {
		text-align: center;
		img {
			width: 50%;
		}
	}
	&.al-bubble-gray {
		text-align: left;
	}
	&#al-tax-box1:after {
		left: 73px;
	}
	&#al-tax-box2:after {
		left: 260px;
	}
	&#al-tax-box3:after {
		left: 447px;
	}
}

.al-modal {
	position: absolute;
	z-index: 10000;
	width: 500px;
	background: #ffffff;
	padding: 20px;
	font-size: 12px;
	box-shadow:0px 2px 6px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 2px 6px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 2px 6px 3px rgba(0,0,0,0.1);
	h1.al-modal-h1 {
		background: #A4A4A4;
		color: #ffffff;
		font-weight: bold;
		font-size: 14px;
		padding: 10px;
		text-align: center;
		margin: 0;
	}
	.al-box-border-gray {
		border: 1px solid #A4A4A4;
		padding: 20px;
	}
	p {
		margin: 0;
	}

	&#al-dd {
		width: 260px;
		left: 50%;
		margin-left: -150px;
		margin-top: 10px;
		ul {
			li {
				padding: 2px 0;
			}
		}
	}
	&#al-dd2 {
		width: 440px;
		left: 50%;
		margin-left: -240px;
		margin-top: 10px;
		ul {
			li {
				padding: 2px 0;
			}
		}
	}
}

/* PC 06 */

.al-applybank-tooltip-holder {
	position: relative;
	.al-tooltip {
		position: absolute;
		top: -11px;
		left: 50%;
		margin-left: -30px;
	}
}
.al-applybank-bubble {
	&.al-bubble-gray {
		//width: 340px;
	}
	.al-dis-td {
		&:first-child {
			font-size: 38px;
		}
		&:last-child {
			text-align: left;
			padding-left: 15px;
		}
	}
}

#al-bubble-bank {
	&:after {
		left: 120px;
	}
}


/* PC 07 */
.al-confirm-table {
	border: 1px solid #E5E5E5;
	.al-dis-tr {
		background-image: linear-gradient(to right, #E5E5E5, #E5E5E5 2px, transparent 1px, transparent 4px);
		background-size: 5px 1px;
		background-position: bottom;
		background-repeat: repeat-x;
		.al-dis-td {
			padding: 15px 15px;
			&.al-confirm-item {
				width: 100px;
			}
			&.al-confirm-contents {

			}
			&.al-confirm-btn {
				width: 44px;

			}
		}
	}
}

.al-mt-80 {
  margin-top: 80px;
}
/* PC 09 */
.al-important-doc.al-border-blue {
	border: 2px solid #3861B5;
	padding: 15px;
}
#pdf-checkbox {
	padding: 12px;
	.rf-checkbox {
		padding: 0px 3px;
		vertical-align: middle;
		top: 9px;
	}
	.rf-checkbox--caption {
		vertical-align: middle;
	}
}

/* PC 10 */
.al-howtosubmit {
	.al-howtosubmit-icon {
		font-size: 30px !important;
	}

	.al-box {
		hr {
			height: 0;
			padding: 0;
			border: 0;
			border-top: 1px dashed #bbb;
		}
		.al-h2-box {
			font-size: 20px;
			font-weight: normal;
			margin-top: 0 !important;
		}
		p {
			margin-bottom: 0;
		}
	}
	#al-howtosubmit-box-sp {
		display: none;
		.al-dis-td {
			vertical-align: top;
		}
	}

	#al-howtosubmit-box-mail {
		display: none;
	}

	.al-bubble-gray {
		text-align: left;
		h1.al-submit-h1 {
			font-size: 14px;
			font-weight: normal;
			margin: 0;
		}
		hr {
			height: 0;
			padding: 0;
			border: 0;
			border-top: 1px dashed #bbb;
			margin: 10px 0 20px;
		}
		.al-h2-box {
			font-size: 20px;
			font-weight: normal;
			margin-top: 0 !important;
		}
		p {
			margin-bottom: 0;
		}
		&#al-submit-box1:after {
			left: 73px;
		}
		&#al-submit-box2:after {
			left: 260px;
		}
		&#al-submit-box3:after {
			left: 447px;
		}
		&#al-tax-box1:after {
			left: 73px;
		}
		&#al-tax-box2:after {
			left: 260px;
		}
		&#al-tax-box3:after {
			left: 447px;
		}
	}
}

/* P20 */
.al-confirm-block-2 {
	.al-dis-tr {
		border-top: 1px solid #cccccc;
		&:last-child {
			border-bottom: 1px solid #cccccc;
		}
		.al-dis-td {
			text-align: left;
			padding: 20px 15px;
			&:nth-child(2) {
				font-size: 18px;
			}
		}
	}
}
.al-confirm-block-3 {
	.al-dis-tr {
		.al-dis-td {
			text-align: left;
			padding: 10px;
			&:nth-child(2) {
				font-size: 18px;
			}
		}
	}
}

.al-confirm-box {
	border: 1px solid #E5E5E5;
	padding: 0 20px 20px;
	&.al-confirm-box-no-padding {
		padding-bottom: 0;
	}
	.al-confirm-box-table {
		.al-dis-tr {
			background-image: linear-gradient(to right, #E5E5E5, #E5E5E5 2px, transparent 1px, transparent 4px);
			background-size: 5px 1px;
			background-position: bottom;
			background-repeat: repeat-x;
			&:last-child {
				background: none;
			}
			.al-dis-td {
				padding-top: 15px;
				padding-bottom: 15px;
				&.al-confirm-item {
					width: 140px;
					padding-right: 15px;
				}
				&.al-confirm-contents {
					padding-left: 15px;
				}
			}
		}
	}
	.al-bubble-gray {
		margin-top: -1px;
		padding-bottom: 0.1px;
		.al-dis-table {
			border: 1px solid #e5e5e5;
			margin-bottom: 20px;
			.al-dis-tr {
				border-bottom: 1px solid #e5e5e5;
				.al-dis-td {
					padding: 10px;
					background: #fff;
					text-align: left;
					&:first-child {
						width: 120px;
					}
				}
			}
		}
	}
	.al-dotted-line {
		background-image: linear-gradient(to right, #E5E5E5, #E5E5E5 2px, transparent 1px, transparent 4px);
		background-size: 5px 1px;
		background-position: bottom;
		background-repeat: repeat-x;
		height: 1px;
		content: "";
		margin: 20px 0 0;
	}
}

/* PC 01 */
.al-header {
	height: 82px;
	line-height: 82px;
	position: relative;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	background: #ffffff;
	.logo {
		position: absolute;
		margin-top: 29px;
		margin-left: 40px;
		width: 130px;
	}
	h1 {
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 82px;
	}
	.al-header-contact {
		margin-top: 10px;
		margin-right: 40px;
		position: absolute;
		top: 0px;
		right: 0px;
		.al-text-bold {
			font-weight: bold;
		}
		.al-text-small {
			font-size: 10px;
		}
		.al-dis-td {
			text-align: center;
			padding: 0 10px;
			vertical-align: middle;
			.al-label-contact {
				background: #EAEFF7;
				font-size: 10px;
				padding: 2px;
				width: 100%;
				text-align: center;
				margin: 2px 0;
			}
			p {
				margin: 0;
			}
		}
	}
}
.al-container {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

#al-content {
	width: 100%;
	min-height: 100%;
	#al-content-body {
		width: 1024px;
		margin: 0 auto;
		padding: 30px 0 120px;
		h1.al-content-body-h1 {
			font-size: 28px;
			text-align: center;
			margin: 0;
			font-weight: normal;
			display: block;
		}
	}
}
#al-wrapper {
	min-height: 100%;
	position: relative;
}
#al-footer {
	height: 40px;
	background: #3861B5;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	.al-container {
		line-height: 40px;
	}
	p {
		margin: 0 0 0 40px;
		line-height: 40px;
		font-size: 12px;
	}
}
#modalNote {
	.rf-modal-dialog {
		width: 480px;
		margin: 100px auto;
		.rf-modal-content {
			border-radius: 0px;
			.rf-modal-body {
				padding: 20px;
			}
		}
	}
}
// .rf-modal-overlay {
// 	display: none !important;
// }

/* PC15a */
.al-flow {
	margin: 30px 0;
	.al-flow-container {
		position: relative;
		.al-flow-table1 {
		}
		.al-flow-table2 {
			position: relative;
			height: 180px;
			.al-dis-td {
				position: relative;
				&:first-child {
					.al-flow-cell {
						position: absolute;
						left: 20px;
						width: 100px;
						height: 180px;
						top: -60px;
					}
				}
				&:last-child {
					.al-flow-cell {
						position: absolute;
						right: 20px;
						width: 100px;
						height: 180px;
						top: -60px;
					}
				}
			}

		}
		.al-flow-table3 {
			position: relative;
			height: 80px;
			.al-dis-td {
				position: relative;
				&:first-child {
					.al-flow-cell {
						position: absolute;
						left: 110px;
						width: 100px;
						height: 180px;
						top: -60px;
					}
				}
				&:last-child {
					.al-flow-cell {
						position: absolute;
						right: 110px;
						width: 100px;
						height: 180px;
						top: -60px;
					}
				}
			}
		}
	}
}

/* Loader */
#sidebar-progress {
	position: relative;
	.cloader-img {
		position: absolute;
		top: 50.5px;
		left: 50%;
		margin-left: -33px;
		width: 80px;
		height: 72px;
	}
}

/* PC-21 */
#al-mynumber-box {
	.al-bubble-gray {
		text-align: left;
		hr {
			height: 0;
			padding: 0;
			border: 0;
			border-top: 1px dashed #bbb;
			margin: 15px 0;
		}
		.al-h2-box {
			font-size: 16px;
			font-weight: normal;
			margin-top: 0 !important;
			margin-bottom: 0;
		}
		p {
			margin-bottom: 0;
		}
		&.al-mynumber-bubble1:after {
			left: 108px;
		}
		&.al-mynumber-bubble2:after {
			left: 359px;
		}
	}
}
/* PC11 */
#file-upload-box {
	text-align: center;
	p {
		margin: 0 0 20px;
	}
	.al-box-border-white {
		p.al-file-p {
			color: #335fb9;
			text-align: center;
			font-size: 12px;
			margin: 10px 0 0;
		}
		.al-btn-file-upload {
			margin-bottom: 0;
		}
	}
}
.al-qrcode-box {
	padding: 10px !important;
	.al-img {
		img {
			width: 100%;
		}
	}
	p {
		word-wrap: break-word;
	}
}

/* PC17 */
#invest-exp {
	.al-bubble-gray {
		&:after {
			left: 120px;
		}
	}
}
#select-newspaper {
	&:after {
		left: 45px;
	}
}

/* PC18 */
#al-work-box1,
#al-work-box2,
#al-work-box3 {
	&:after {
		left: 120px;
	}
}

/* PC19 */
#al-nation-box1 {
	&:after {
		left: 400px;
	}
}
#al-nation-box2 {
	.al-bubble-gray {
		&:after {
			left: 400px;
		}
	}
}
#al-nation-box3 {
	.al-bubble-gray {
		&:after {
			left: 120px;
		}
	}
}
#al-country-notice {
	.rf-modal-dialog {
		font-size: 12px;
		width: 300px;
		margin: 200px auto;
		.rf-modal-content {
			border-radius: 0;
		}
	}
}

/* PC18b */
#al-search-results {
	border: 1px solid #e5e5e5;
	.al-dis-tr {
		background-image: linear-gradient(to right, #E5E5E5, #E5E5E5 2px, transparent 1px, transparent 4px);
		background-size: 5px 1px;
		background-position: bottom;
		background-repeat: repeat-x;
		&:last-child {
			background: none;
		}
		.al-dis-td {
			padding: 10px;
			&.al-search-results-btn {
				width: 60px;
			}
		}
	}
}



.rf-block-center {
  display: block;
  margin: 0 auto;
}
.rf-inline-block {
  display: inline-block;
}
.rf-arw-double {
  position: relative;
}
.rf-arw-double:before,
.rf-arw-double:after{
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 6px;
  height: 6px;
  margin-top: -.3em;
  border: 1px solid #333;
  border-width: 2px 2px 0 0;
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rf-arw-double:before{
  margin-right: -15px;
}
.rf-arw-double:after{
  margin-right: -25px;
}
.rf-txt-center{
  text-align: center;
}

//Placeholder

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder {
	color: transparent;
}


/* Steps */

.m1-steps {
	counter-reset: step;
	display: block;
	margin: 0;
	padding: 20px 0 30px;
	width: 100%;
}

.m1-steps li {
	color: #999;
	float: left;
	list-style: none;
	position: relative;
	text-align: center;
	z-index: 0;
}

.m1-steps .m1-steps-1 {
	width: 100%;
}

.m1-steps .m1-steps-2 {
	width: 50%;
}

.m1-steps .m1-steps-3 {
	width: 33.33333333%;
}

.m1-steps .m1-steps-4 {
	width: 25%;
}

.m1-steps .m1-steps-5 {
	width: 20%;
}

.m1-steps li:before {
	background: #999;
	border-radius: 50%;
	content: counter(step);
	counter-increment: step;
	display: block;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 0 auto 4px auto;
	text-align: center;
	width: 16px;
}

.m1-steps li:after {
	background: #999;
	content: '';
	height: 1px;
	left: -50%;
	position: absolute;
	top: 25%;
	width: 100%;
	z-index: -1;
}

.m1-steps li:first-child:after {
	content: none;
}

.m1-steps li.m1-steps-active {
	color: #ecad14;
}

.m1-steps li.m1-steps-active:before {
	background: #ecad14;
}

.m1-steps li.m1-steps-active + li:after {
	background: #ecad14;
}
