/* Border-radius */
@mixin border-radius($radius) {
  -webkit-border-radius: #{$radius}px;
  -moz-border-radius: #{$radius}px;
  -ms-border-radius: #{$radius}px;
  border-radius: #{$radius}px;
}
@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: #{$radius}px;
  -moz-border-radius-topleft: #{$radius}px;
  border-top-left-radius: #{$radius}px;
}
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: #{$radius}px;
  -moz-border-radius-topright: #{$radius}px;
  border-top-right-radius: #{$radius}px;
}
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: #{$radius}px;
  -moz-border-radius-bottomright: #{$radius}px;
  border-bottom-right-radius: #{$radius}px;
}
@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: #{$radius}px;
  -moz-border-radius-bottomleft: #{$radius}px;
  border-bottom-left-radius: #{$radius}px;
}

/* Media Query */
@mixin desktop($min) {
  @media only screen and (min-width: #{$min}px) {
    @content;
  }
}
@mixin tablet($min, $max) {
  @media only screen and (min-width: #{$min}px) and (max-width: #{$max}px) {
    @content;
  }
}
@mixin mobile($max) {
  @media only screen and (max-width: #{$max}px) {
    @content;
  }
}

@mixin placeholderColor($color) {
  &:placeholder-shown {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color:$color;
  }
  &:-moz-placeholder {
    color:$color;
    opacity: 1;
  }
  &::-moz-placeholder {
    color:$color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color:$color;
  }
}

/* Containers */

.container {
  width: 950px; // html {min-width}
}

/* Buttons */
:focus {
  outline-color: #fff !important;
}
.al-btn-outline-blue {
  border: 2px solid #335fb9;
  color: #335fb9;
  padding: 11px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }
}
.al-btn-file-upload {
  background-color: #335fb9;
  color: #fff;
  display: block;
  margin: .714em 0;
  padding: .7em;
  width: 100%;
  line-height: inherit;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #335fb9;
  border-radius: .143em;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:focus {
    outline-color: #bf0000;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }
  input[type="file"] {
    display: none;
  }
  &.al-btn-file-upload-disabled {
    color: #edf1f8;
    background-color: #c1cfea;
    border-color: #c1cfea;
  }
}

.al-btn-file-delete1 {
  width: 20px;
  height: 20px;
  position: absolute;
  color: #ffffff;
  background-color: #3861B5;
  line-height: 20px;
  font-size: 14px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}
.al-btn-file-delete2 {
  width: 20px;
  height: 20px;
  position: absolute;
  color: #ffffff;
  background-color: #3861B5;
  line-height: 20px;
  font-size: 14px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}
.preview1,
.preview2 {
  position: relative;
  .al-btn-file-delete1 {
    top: -10px;
    right: -10px;
  }
  .al-btn-file-delete2 {
    top: -10px;
    right: -10px;
  }
}
.al-btn-small {
  font-size: 12px;
  padding: 6px 20px;
  font-weight: normal;
  margin-top: 8px;
}

.al-btn-edit {
  padding: 6px 10px;
  font-size: 12px;
  background: #EBEFF7;
  color: #335fb9;
  border: none;
}

.al-btn-edit2 {
  padding: 6px 10px;
  font-size: 12px;
  background: #EBEFF7;
  color: #335fb9;
  border: 1px solid #E5E5E5;
  display: block;
  text-align: right;
  margin-top: -2px;
  margin-right: -1px;
}

.rf-button-positive,
.rf-button-primary {
  &:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }
}
/* Label */
mark.rf-label.al-outline-pink {
  color: $pink;
  border-color: $pink;
  background-color: #fff;
}
mark.rf-label.al-outline-gray {
  color: #999;
  border-color: #999;
  background-color: #fff;
}
.al-label-caption {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.al-label-blue{
  background-color: #EAEFF7;
  color: #3861B5;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  width: 120px;
  text-align: center;
  display: block;
  @include border-radius(17);
}
label.rf-label, .rf-label--caption {
  margin: 0;
}

/* Text */
h1.al-h1 {
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  .rf-label {
    vertical-align: top;
    font-size: 12px;
  }
}
h2.al-h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
  .rf-label {
    vertical-align: top;
    font-size: 12px;
    margin-top: 4px;
  }
}
h2.al-h2-box {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
}

h3.al-h3 {
  font-size: 16px;
  font-weight: bold;
  color: #3861B5;
}
/* Accordion */
.al-accordion.rf-accordion {
  border-top-width: 0 !important;
  border-top-style: none !important;
  border-bottom-width: 0 !important;
  border-bottom-style: none !important;
  dt {
    a.rf-color-yellow {
      color: #ecad14;
      &.al-trigger:before {
        display: none;
      }
      .rf-icon-item-help {
        vertical-align: -3px;
      }
      .rf-accordion--arrows {
        display: inline;
        text-align: left;
        font-size: inherit;
        line-height: inherit;
        width: inherit;
        vertical-align: top;
        .rf-icon-ui-arrowdown-s-gray {
          color: #ecad14 !important;
        }
        .rf-icon-ui-arrowup-s-gray {
          color: #ecad14 !important;
        }
      }
    }
  }
  dd.rf-accordion--content-holder {
    //margin-top: 20px;
    //margin-bottom: 40px;
    .al-accordion-content {
      background-color: #fff;
      border: 1px solid #E5E5E5;
      padding: 30px;
    }
  }
}

/* Tooltip */
span.al-tooltip  {
  position: absolute;
  width: 60px;
  color: #FFFFFF;
  background: #3861B5;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
}
span.al-tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  width: 0; height: 0;
  border-top: 4px solid #3861B5;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* Border */
.al-border-blue {
  border: 1px solid #3861B5;
}
.al-border-lightblue {
  border: 2px solid #98AFDB;
}
.al-border-gray {
  border: 1px solid #E5E5E5;
}

/* img */
.al-img {
  img {
    margin: 0 auto;
  }
}

/* Table */
.al-dis-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  .al-dis-tr {
    display: table-row;
  }
  .al-dis-td {
    display: table-cell;
    vertical-align: middle;
  }
}

/* Box */
.al-box {
  padding: 20px;
  &.rf-bg-color-disabled {
    background-color: #F4F4F4 !important;
  }
}

.al-box-gray {
  padding: 20px;
  background: #F4F4F4;
  p {
    margin: 0;
  }
}

.al-box-white {
  padding: 20px;
  background: #ffffff;
}

.al-box-border-white {
  padding: 20px;
  border: 1px solid #fff;
  background: transparent;
  text-align: center;
}

.al-box-blue {
  padding: 20px;
  background: #ebeff6;
}

/* Bubble */
.al-bubble-pink {
 position: relative;
 text-align: center;
 padding: 20px;
 background: #FFEDED;
}

.al-bubble-pink:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #FFEDED transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 145px;
}
.al-bubble-gray {
 position: relative;
 text-align: center;
 padding: 20px;
 background: #F4F4F4;
}

.al-bubble-gray:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #F4F4F4 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 145px;
}
.al-bubble-block {
 position: relative;
 text-align: center;
 padding: 20px;
 background: #f2f4f8;
}

.al-bubble-block:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #f2f4f8 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 300px;
}

/* Link */
a {
  text-decoration: none;
}

/* Header */
h1.al-h1-normal {
  font-weight: normal;
  font-size: 20px;
}
h2.al-h2-lightblue {
  color: #98AFDB;
}

/* UL */
ul.al-ul{
  li {
    padding: 5px 0;
  }
}

/* BG */
.al-bg-lightblue {
  background: #EAEEF7;
}

/* Text Color */
.al-ylw {
  color: #EAAA31;
}

/* Text */

.al-text-large {
  font-size: 20px;
}

.al-text-bold {
  font-weight: bold;
}
.al-text-small {
  font-size: 12px;
}
.rf-mini {
  font-size: 12px !important;
}

/* Form */
select,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  font-size: 14px !important;
  padding: 15px !important;
  @include placeholderColor(#999);
}
.rf-radio-button-s {
  margin: 0;
  .rf-radio-button-s--inner {
    padding: 13px !important;
  }
}

.al-circle-border-blue {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #3861B5;
  background: transparent;
  border: 1px solid #3861B5;
  border-radius: 10px;
  font-size: 13px;
  display: inline-block;
  margin-right: 9px;
}
.al-btn-plus {
  background: transparent;
  color: #3861B5;
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
}
.rf-checkbox--caption,
a {
  &:hover {
    text-decoration: underline;
  }
}
.rf-radio-button-s--inner {
  &:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }
}
.user-info {
  select {
    &:disabled {
      background-color: #f4f4f4;
      color: #bbb;
    }
  }
}

.rf-checkbox--label {
  cursor: pointer;
  &:hover {
    .rf-checkbox svg {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

.rf-radio-button-s,
.al-trigger,
button,
a {
  cursor: pointer;
}

.al-ul-1 {
  li {
    padding: 3px 0;
  }
}
.rf-button-positive,
.rf-button-primary {
  &:hover {
    text-decoration: none;
  }
}
.al-trigger {
  &:hover {
    text-decoration: underline;
  }
}

.js-setting-corporate{
  position: fixed;
  top: -2000px;
}
