/* Molecules: Table display
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* Tables */
.rf-block			{ display: table; width: 100%; }
.rf-block-inner	{ display: table-cell; vertical-align: top; }

/* Fixed width columns */
.rf-block-fixed	{ table-layout: fixed; }
.rf-block-two		{ width: 57.1%; }
.rf-block-three	{ width: 60.9%; }
.rf-block-four	{ width: 62.8%; }
.rf-block-seven	{ width: 66%; }

/* Alignment */
.rf-block-top .rf-block-inner		{ vertical-align: top; }
.rf-block-bottom .rf-block-inner	{ vertical-align: bottom; }
.rf-block-middle .rf-block-inner	{ vertical-align: middle; }
