/* Molecules: Forms
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Select menu preview selection
───────────────────────────────────────────────────────────────────────── */

.rf-select-output							{ display: inline-block; margin-top: .5em; }
.rf-select-group + .rf-select-output		{ display: block; }


/* Label patterns
───────────────────────────────────────────────────────────────────────── */

.rf-fieldset								{ padding-top: .25em; }
.rf-fieldset--group							{ padding-top: .5em; }
label.rf-label,
.rf-label--caption					{ display: block; margin-top: .5em; margin-bottom: .357em; }
.rf-label--caption 					{ font-weight: bold; }
label.rf-label								{ margin: .5em 0 .75em;
												-webkit-tap-highlight-color: rgba(29, 84, 167, .1); }
.rf-fieldset--group label.rf-label			{ margin: .25em 0; }
.rf-fieldset .rf-label--caption { font-weight: normal; }
.rf-label-divide							{ padding-bottom: 1.25em; border-bottom: 1px solid #cecece; }

/* Checkboxes / radio with labels */
.rf-checkbox--label,
.rf-radio--label							{ display: table; margin: .5em 0 .75em; width: 100%;
												-webkit-tap-highlight-color: rgba(29, 84, 167, .1); }
.rf-checkbox--label.rf-disabled .rf-checkbox--caption,
.rf-radio--label.rf-disabled .rf-radio--caption { color: #848fa4; }
.rf-checkbox--label .rf-checkbox,
.rf-radio--label .rf-radio,
.rf-checkbox--caption,
.rf-radio--caption							{ display: table-cell; }
.rf-checkbox--label .rf-checkbox,
.rf-radio--label .rf-radio					{ width: 1.5em; }
.rf-checkbox--label .rf-checkbox svg,
.rf-radio--label .rf-radio svg				{ top: .25em; }

/* Inline labels */

label.rf-label-inline 							{ display: table; width: 100%; }
label.rf-label-inline .rf-field 		{ display: table-cell; }
label.rf-label-inline .rf-label--caption { display: table-cell; text-align: right; vertical-align: bottom; }



/* Forms: Input with icon
──────────────────────────────────────────────────────────────────────── */

.rf-field-icon-left,
.rf-field-icon-right 								{ position: relative; }
.rf-field-icon-left .rf-field				{ padding-left: 2.5em; }
.rf-field-icon-right .rf-field			{ padding-right: 2.5em; }
.rf-field-icon-left [class*='rf-icon-ui'],
.rf-field-icon-right [class*='rf-icon-ui'] 	{ position: absolute; font-size: 1.286em; top: 50%;
																							margin-top: -.5em; }
.rf-field-icon-left [class*='rf-icon-ui'] 	{ left: .714em; }
.rf-field-icon-right [class*='rf-icon-ui'] 	{ right: .714em; }