/* Molecules: Grid system with 1 breakpoint, with IE 9+ support
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* Remove default margins */
body					{ margin: 0; }

/* Reset lists styles */
ul.rf-grid				{ list-style-type: none; padding-left: 0; }

/* Clearfix */
.rf-grid:before,
.rf-grid:after			{ content: ''; display: block; height: 0; overflow: hidden; }
.rf-grid:after			{ clear: both; }


/* Default viewport
─────────────────────────────────────────────────────────────────────────────────── */

.rf-grid													{ margin: 0; }
.rf-grid-column												{ float: left; padding: 0 .714rem;
																-webkit-box-sizing: border-box;
																        box-sizing: border-box; }
.rf-grid-edge > .rf-grid-column,
.rf-grid-column.rf-grid-edge								{ padding: 0; }
.rf-grid-column .rf-grid									{ margin: 0 -.714rem; }
.rf-grid-column .rf-grid.rf-grid-edge,
.rf-grid-edge > .rf-grid-column .rf-grid					{ margin: 0; }

.rf-grid--1     > .rf-grid-column,
.rf-grid--1--2  > .rf-grid-column,
.rf-grid--1--3  > .rf-grid-column,
.rf-grid--1--4  > .rf-grid-column,
.rf-grid--1--6  > .rf-grid-column							{ width: 100%; }
.rf-grid--2     > .rf-grid-column,
.rf-grid--2--3  > .rf-grid-column,
.rf-grid--2--4  > .rf-grid-column,
.rf-grid--2--6  > .rf-grid-column							{ width: 50%; }
.rf-grid--3     > .rf-grid-column							{ width: 33.33333333333333%; }
.rf-grid--4     > .rf-grid-column,
.rf-grid--4--6  > .rf-grid-column							{ width: 25%; }
.rf-grid--5  		> .rf-grid-column							{ width: 20%; }
.rf-grid--6     > .rf-grid-column							{ width: 16.66666666666667%; }

.rf-grid--2     > .rf-grid-column:nth-child(2n+3),
.rf-grid--2--3  > .rf-grid-column:nth-child(2n+3),
.rf-grid--2--4  > .rf-grid-column:nth-child(2n+3),
.rf-grid--2--6  > .rf-grid-column:nth-child(2n+3),
.rf-grid--3     > .rf-grid-column:nth-child(3n+4),
.rf-grid--4     > .rf-grid-column:nth-child(4n+5),
.rf-grid--4--6  > .rf-grid-column:nth-child(4n+5),
.rf-grid--5  		> .rf-grid-column:nth-child(5n+6),
.rf-grid--6     > .rf-grid-column:nth-child(6n+7)			{ clear: left; }

/* Multiple columns */
.rf-grid--2--3  > .rf-grid-double,
.rf-grid--2--4  > .rf-grid-double,
.rf-grid--2--4  > .rf-grid-triple,
.rf-grid--2--6  > .rf-grid-double,
.rf-grid--2--6  > .rf-grid-triple,
.rf-grid--2--6  > .rf-grid-quad,
.rf-grid--2--6  > .rf-grid-quint							{ width: 100%; }
.rf-grid--3     > .rf-grid-double							{ width: 66.66666666666666%; }
.rf-grid--4     > .rf-grid-double							{ width: 50%; }
.rf-grid--4     > .rf-grid-triple							{ width: 75%; }
.rf-grid--6     > .rf-grid-double							{ width: 33.33333333333333%; }
.rf-grid--6     > .rf-grid-triple							{ width: 50%; }
.rf-grid--6     > .rf-grid-quad								{ width: 66.66666666666666%; }
.rf-grid--6     > .rf-grid-quint							{ width: 83.33333333333333%; }

.rf-grid--2--4  > .rf-grid-double ~ .rf-grid-column:nth-child(2n+3),
.rf-grid--2--6  > .rf-grid-double ~ .rf-grid-column:nth-child(2n+3)			{ clear: none; }
.rf-grid--2--4  > .rf-grid-double ~ .rf-grid-column:nth-child(2n+4),
.rf-grid--2--6  > .rf-grid-double ~ .rf-grid-column:nth-child(2n+4)			{ clear: left; }

/* Pushed columns with empty left space */
.rf-grid--3     > .rf-grid-push-double						{ margin-left: 66.66666666666666%; }
.rf-grid--2     > .rf-grid-push,
.rf-grid--4     > .rf-grid-push-double,
.rf-grid--2--3  > .rf-grid-push,
.rf-grid--2--3  > .rf-grid-push-double,
.rf-grid--2--4  > .rf-grid-push,
.rf-grid--2--4  > .rf-grid-push-double,
.rf-grid--2--6  > .rf-grid-push,
.rf-grid--2--6  > .rf-grid-push-double						{ margin-left: 50%; }
.rf-grid--3     > .rf-grid-push,
.rf-grid--6     > .rf-grid-push-double						{ margin-left: 33.33333333333333%; }
.rf-grid--4     > .rf-grid-push								{ margin-left: 25%; }
.rf-grid--6     > .rf-grid-push								{ margin-left: 16.66666666666667%; }


/* Viewport: 480+ pixels
─────────────────────────────────────────────────────────────────────────────────── */

@media screen and (min-width: 30em) {

	.rf-grid--1--2  > .rf-grid-column						{ width: 50%; }
	.rf-grid--1--3  > .rf-grid-column,
	.rf-grid--2--3  > .rf-grid-column						{ width: 33.33333333333333%; }
	.rf-grid--1--4  > .rf-grid-column,
	.rf-grid--2--4  > .rf-grid-column						{ width: 25%; }
	.rf-grid--1--6  > .rf-grid-column,
	.rf-grid--2--6  > .rf-grid-column,
	.rf-grid--4--6  > .rf-grid-column						{ width: 16.66666666666667%; }

	.rf-grid--2--3  > .rf-grid-column:nth-child(2n+3),
	.rf-grid--2--4  > .rf-grid-column:nth-child(2n+3),
	.rf-grid--2--6  > .rf-grid-column:nth-child(2n+3),
	.rf-grid--4--6  > .rf-grid-column:nth-child(4n+5)		{ clear: none; }

	.rf-grid--1--2  > .rf-grid-column:nth-child(2n+3),
	.rf-grid--1--3  > .rf-grid-column:nth-child(3n+4),
	.rf-grid--2--3  > .rf-grid-column:nth-child(3n+4),
	.rf-grid--1--4  > .rf-grid-column:nth-child(4n+5),
	.rf-grid--2--4  > .rf-grid-column:nth-child(4n+5),
	.rf-grid--1--6  > .rf-grid-column:nth-child(6n+7),
	.rf-grid--2--6  > .rf-grid-column:nth-child(6n+7),
	.rf-grid--4--6  > .rf-grid-column:nth-child(6n+7)		{ clear: left; }

	.rf-grid--2--4  > .rf-grid-double ~ .rf-grid-column:nth-child(2n+4),
	.rf-grid--2--6  > .rf-grid-double ~ .rf-grid-column:nth-child(2n+4)			{ clear: none; }
	.rf-grid--2--4  > .rf-grid-double ~ .rf-grid-column:nth-child(2n+6),
	.rf-grid--2--6  > .rf-grid-double ~ .rf-grid-column:nth-child(2n+6)			{ clear: left; }

	/* Multiple columns */
	.rf-grid--1--3  > .rf-grid-double,
	.rf-grid--2--3  > .rf-grid-double						{ width: 66.66666666666666%; }
	.rf-grid--1--4  > .rf-grid-double,
	.rf-grid--2--4  > .rf-grid-double						{ width: 50%; }
	.rf-grid--1--4  > .rf-grid-triple,
	.rf-grid--2--4  > .rf-grid-triple						{ width: 75%; }
	.rf-grid--1--6  > .rf-grid-double,
	.rf-grid--2--6  > .rf-grid-double						{ width: 33.33333333333333%; }
	.rf-grid--1--6  > .rf-grid-triple,
	.rf-grid--2--6  > .rf-grid-triple						{ width: 50%; }
	.rf-grid--1--6  > .rf-grid-quad,
	.rf-grid--2--6  > .rf-grid-quad							{ width: 66.66666666666666%; }
	.rf-grid--1--6  > .rf-grid-quint,
	.rf-grid--2--6  > .rf-grid-quint						{ width: 83.33333333333333%; }

	/* Columns with margins */
	.rf-grid--1--2 > .rf-grid-push							{ margin-left: 50%; }
	.rf-grid--1--3 > .rf-grid-push,
	.rf-grid--2--3 > .rf-grid-push							{ margin-left: 33.33333333333333%; }
	.rf-grid--2--3 > .rf-grid-push-double					{ margin-left: 66.66666666666666%; }
	.rf-grid--1--4 > .rf-grid-push,
	.rf-grid--2--4 > .rf-grid-push							{ margin-left: 25%; }
	.rf-grid--1--4 > .rf-grid-push-double,
	.rf-grid--2--4 > .rf-grid-push-double					{ margin-left: 50%; }
	.rf-grid--1--6 > .rf-grid-push,
	.rf-grid--2--6 > .rf-grid-push							{ margin-left: 16.66666666666667%; }
	.rf-grid--1--6 > .rf-grid-push-double,
	.rf-grid--2--6 > .rf-grid-push-double					{ margin-left: 33.33333333333333%; }

}
