/* Molecules: Lists
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Tab style navigation
───────────────────────────────────────────────────────────────────────── */

.rf-tabs							{ margin: .714em 0; width: 100%; max-width: 100%; font-size: .714em; }
.rf-tabs ul							{ display: table; width: 100%; table-layout: fixed; }
.rf-tabs li							{ display: table-cell; margin: 0; vertical-align: top;
										border-left: 1px solid #335fb9; border-right: none; }
.rf-tabs li:first-child				{ border-left: none; }
.rf-tabs a							{ display: block; padding: .7em 1.25em; color: #335fb9; text-align: center;
										background-color: #eaeff8; border-bottom: none; transition: none; }
.rf-tabs li:first-child a {
										-webkit-border-top-left-radius:     .25em;
										        border-top-left-radius:     .25em;
										-webkit-border-bottom-left-radius:  .25em;
										        border-bottom-left-radius:  .25em; }
.rf-tabs li:last-child a {
										-webkit-border-top-right-radius:    .25em;
										        border-top-right-radius:    .25em;
										-webkit-border-bottom-right-radius: .25em;
										        border-bottom-right-radius: .25em; }
.no-lastchild .rf-tabs li:first-child
									{ border-left: none; }
.rf-tabs .active a					{ color: #fff; background-color: #335fb9; border-bottom: none; }
.rf-tabs .active a					{ font-weight: 500; }

.rf-tabs-slide,
.rf-tabs-slide-border				{ margin-bottom: 0; padding-bottom: .714em; width: 100%; max-width: 100%;
										overflow-x: scroll; -webkit-overflow-scrolling: touch; }
.rf-tabs-slide ul,
.rf-tabs-slide-border ul			{ table-layout: auto; width: auto; }
.rf-tabs-slide li,
.rf-tabs-slide-border li			{ padding-left: .357em; padding-right: .2em; border-left: 0; }
.rf-tabs-slide li:first-child,
.rf-tabs-slide-border li:first-child
									{ padding-left: 0; }
.rf-tabs-slide li a,
.rf-tabs-slide li:first-child a,
.rf-tabs-slide li:last-child a,
.rf-tabs-slide-border li a,
.rf-tabs-slide-border li:first-child a,
.rf-tabs-slide-border li:last-child a
									{ border-radius: 1.5em; }

.rf-tabs-slide-border				{ padding-bottom: .860em; border-bottom: .215em solid #335fb9; }
.rf-tabs-slide-border ul 		{ padding: 0 .714rem; }

.no-displaytable .rf-tabs			{ padding-bottom: 0; width: auto; max-width: auto; overflow-x: visible; }
.no-displaytable .rf-tabs li,
.no-displaytable .rf-tabs a			{ float: left; }
.no-displaytable .rf-tabs li		{ margin-left: -1px; margin-bottom: -1px; }


/* Progress bar
─────────────────────────────────────────────────────────────────────────────────── */

.rf-steps 						{ margin: 1em 0; padding: .714em 1.071em 1.786em; width: 100%;
									-webkit-box-sizing: border-box;
									        box-sizing: border-box; }
.rf-steps-title,
h1[class*='rf-steps-title'],
h2[class*='rf-steps-title'],
h3[class*='rf-steps-title'],
h4[class*='rf-steps-title'],
h5[class*='rf-steps-title'],
h6[class*='rf-steps-title']		{ margin: 0 0 1.6em; padding: 0;
																font-size: 1em; font-weight: 600; text-align: center; color: #335fb9; }


.rf-steps ol 					{ list-style-type: none; display: block; margin: 0 .857em; padding: 0; }
.rf-steps li 					{ position: relative;
									float: left; width: 100%; height: .143em;
									background-color: #eaeff8; }
.rf-steps li span 				{ position: absolute; z-index: 2; right: -1.637em; top: -1.4em;
									display: inline-block; width: 2.182em; height: 2.182em; overflow: hidden;
									font-size: .786em; line-height: 2.182; text-align: center; color: #fff;
									border: .357em solid #fff; border-radius: 50%; background-color: #eaeff8; }
.rf-steps li:first-child		{ width: 0; }
.rf-steps-2 						{ width: 50%; margin-left: auto; margin-right: auto; }
.rf-steps-3 li					{ width: 50%; }
.rf-steps-4 li					{ width: 33.33%; }
.rf-steps-5 li					{ width: 25%; }
.rf-steps .rf-steps-active,
.rf-steps .rf-steps-done,
.rf-steps .rf-steps-done span,
.rf-steps .rf-steps-active span	{ background-color: #335fb9; }
.rf-steps .rf-steps-active span	{ color: #fff; }

/* Link lists
───────────────────────────────────────────────────────────────────────── */

.rf-list-link								{ margin: 0; }
.rf-list-link ul,
.rf-list-link ol						{ text-align: left; }
.rf-list-link > ul,
.rf-list-link > ol					{ border-bottom: 1px solid #ddd; }
.rf-list-link li,
.rf-list-link a						{ display: block; }
.rf-list-link li						{ margin: 0; border-right: none; border-top: 1px solid #ddd; }
.no-lastchild .rf-list-link li:first-child
								{ border-left: none; }
.rf-list-link a						{ position: relative;
														padding: .9em 2.75em .9em .714em; line-height: 1.286;
														white-space: normal; color: #333; border: none; }
.rf-list-link a:hover,
.rf-list-link a:focus,
.rf-list-link a:active 		{ color: #333; }
.rf-list-link a [class*=rf-icon-ui] { position: absolute; top: 50%; right: .615em; margin-top: -.5em;
																			color: #999; font-size: 1.286em; }
.rf-list-link a [class*=rf-icon-ui-arrowright] { right: .929em; font-size: .929em; }
.rf-list-link-sub 			{ display: block; margin-top: .3em; font-size: .786em; color: #999; }
.rf-list-link-sub-top 	{ margin-top: 0; margin-bottom: .3em; }
.rf-list-link-item-img a,
.rf-list-link-ranking a 		{ padding-top: .714em; padding-bottom: .714em; overflow: hidden; }
.rf-list-link-item-img img,
.rf-list-link-ranking img 	{ float: left; margin-right: .714em; }
.rf-list-link-item-child a	{ padding: 1.455em 3.5em 1.455em .909em;
															font-size: .786em;
															background-color: #f8f8f8; color: #515151; }
.rf-list-link-item-child a:hover,
.rf-list-link-item-child a:focus,
.rf-list-link-item-child a:active { color: #515151; }
.rf-list-link-item-child a [class*=rf-icon-ui] 						{ right: 1.064em; font-size: 1.636em; }
.rf-list-link-item-child a [class*=rf-icon-ui-arrowright] { right: .929em; font-size: 1.273em; }
.rf-list-link-ranking a 			{ padding-left: 2.857em; }
.rf-list-link-ranking-icon 		{ position: absolute; top: 50%; left: .786em; text-align: center;
																margin-top: -1.393em; }
.rf-list-link .rf-list-link-ranking-icon [class*=rf-icon-ui] 	{ position: static; display: block; margin-top: 0; }
.rf-list-link-ranking-number 	{ font-weight: bold; }
.rf-list-link-ranking-icon .rf-icon-ui-crown-gold + .rf-list-link-ranking-number 		{ color: #ecad14; }
.rf-list-link-ranking-icon .rf-icon-ui-crown-silver + .rf-list-link-ranking-number 	{ color: #848fa4; }
.rf-list-link-ranking-icon .rf-icon-ui-crown-bronze + .rf-list-link-ranking-number 	{ color: #c97a34; }


/* Table list */
.rf-block-list				{ margin: 1em 0; padding: 0; list-style: none; }
.rf-block-list > .rf-block	{ margin-top: .9em; margin-bottom: .9em; padding-bottom: .9em;
									border-bottom: 1px dotted #cecece; }
.rf-block-list-inner 		{ margin: -1em 0 0; padding: 0; }
.rf-block-list-inner ul { margin: 0; padding: .9em; font-size: .786em; }


/* Label list
───────────────────────────────────────────────────────────────────────── */
.rf-list-label { display: inline-block; padding: 0; margin: 0; list-style: none; font-size: 0; }
.rf-list-label li { display: inline-block; font-size: 14px; }
.rf-list-label li + li { margin-left: .357em; }


/* Inline list small
───────────────────────────────────────────────────────────────────────── */
.rf-list-inline-sm { display: inline-block; padding: 0; margin: 0; list-style: none; font-size: 0; }
.rf-list-inline-sm li { display: inline-block; font-size: 14px; }
.rf-list-inline-sm li + li { margin-left: .714em; }


/* Menu lists - deprecated
───────────────────────────────────────────────────────────────────────── */

.rf-menu							{ margin: .5em 0 1em; }
.rf-menu ul						{ text-align: left; }
.rf-menu > ul					{ border-bottom: 1px solid #ccc; }
.rf-menu li,
.rf-menu a						{ display: block; }
.rf-menu li						{ margin: 0; border-right: none; border-top: 1px solid #ccc; }
.no-lastchild .rf-menu li:first-child
											{ border-left: none; }
.rf-menu a						{ position: relative;
												padding: .75em 2.75em .75em 1em;
												white-space: normal; color: #333; border: none;
												-webkit-transition: color .25s, background-color .35s;
									       transition: color .25s, background-color .35s; }
.rf-menu a
[class*=rf-icon-ui] 	{ position: absolute; top: 50%; right: .5em; margin-top: -.5em;
												color: #999;
												-webkit-transition: color .25s;
									       				transition: color .25s; }
.rf-menu a:hover,
.rf-menu a:focus			{ color: #335fb9; background-color: #eee; }
.rf-menu a:focus
[class*=rf-icon-ui] 	{ color: #404040; }

