/* Molecules: Sections
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Panels
───────────────────────────────────────────────────────────────────────── */

.rf-panel									{ display: block; padding: 0 1em; margin: 1em 0;
												background-color: #fff; border: 2px solid #e6e6e6; word-wrap: break-word; }
.rf-panel mark								{ background-color: inherit; }

/* Strong panel */
.rf-panel-error,
.rf-panel-strong								{ border-color: #bf0000; }  /* deprecated */

/* Alternative error panel */
.rf-panel-error-alt,
.rf-panel-strong-alt 						{ background-color: #ffeded; color: #bf0000; border: 2px solid #ffeded; }  /* deprecated */
.rf-panel-error-alt mark,
.rf-panel-strong-alt mark				{ font-weight: bold; }  /* deprecated */

/* Panels with title */
.rf-panel .rf-title							{ margin-bottom: .2em; font-size: 1em; }
.rf-panel .rf-title + p						{ margin-top: 0; }
.rf-panel .rf-title mark [class*='rf-icon-ui']  /* deprecated */
											{ width: 1.25em; font-size: 1.25em; }
.rf-panel .rf-title.rf-align-center mark [class*='rf-icon-ui']  /* deprecated */
											{ margin-left: -1.5em; }

/* Panels with icon */
.rf-panel-with-icon 						{ position: relative; padding-left: 2.7em; }  /* deprecated */
.rf-panel-with-icon [class*='rf-icon-ui']	{ position: absolute; top: 1.25em; left: .75em; }  /* deprecated */


/* Neutral panel */
.rf-panel-neutral 							{ background-color: #f4f4f4; border-color: #f4f4f4; }


/* Emphasized panel */
.rf-panel-emph 									{ background-color: #ebeff6; border-color: #ebeff6; }


/* Alert panel */
.rf-panel-alert 								{ background-color: #ffeded; border-color: #ffeded; color: #bf0000; }


/* Frames
───────────────────────────────────────────────────────────────────────── */

.rf-frame,
.rf-frame-blue,
.rf-frame-orange,
.rf-frame-gray		{ display: block; padding: 0 1em; margin: 1em 0;
							background-color: #fff; border: 2px solid #e6e6e6; }

/* Frames with color */
.rf-frame-blue			{ border: 1px solid #039; }
.rf-frame-orange		{ border: 1px solid #fc9b28; }
.rf-frame-gray			{ border: 1px solid #666; }


/* Tooltips
───────────────────────────────────────────────────────────────────────── */

.rf-tooltip				{ position: relative;
							display: block; margin-top: .5em; padding: .714em;
							background-color: #ebeff7; }
.rf-tooltip:before		{ content: ''; position: absolute; left: 50%; bottom: 100%;
							display: block; margin-left: -.5em; height: 0;
							border-left: .5em solid transparent; border-right: .5em solid transparent;
							border-bottom: .5em solid #ebeff7; }
