/* Molecules: Typography
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* Page title groups
───────────────────────────────────────────────────────────────────────── */

.rf-title-page-group						{ display: table; width: 100%; margin-bottom: 0; padding: 0.4em 0.714em;
																	box-sizing: border-box; min-height: 3.299em; background-color: #ebeff7; }
.rf-title-page-group p,
.rf-title-page-group h1,
.rf-title-page-group h2,
.rf-title-page-group h3,
.rf-title-page-group h4,
.rf-title-page-group h5,
.rf-title-page-group h6				{ display: table-cell; font-size: 1.143em; font-weight: 600; margin: 0; padding-right: .5em; vertical-align: middle; }
.rf-title-page-group + .rf-title-page-group { margin-top: 1px; }

.rf-title-icons           { display: table-cell; white-space: nowrap; text-align: right; vertical-align: middle;}

.rf-title-page-group .rf-title-icons a { padding: 0; }
.rf-title-page-group .rf-title-icons a + a { margin-left: .4em; }
.rf-title-page-group .rf-title-icons a:hover { border-bottom-color: transparent; }

.rf-title-page-group .rf-title-icons [class*=rf-icon-] { vertical-align: middle; }


/* Star rating
───────────────────────────────────────────────────────────────────────── */

.rf-rating 								{ font-size: 0; }
.rf-rating span 					{ font-size: 14px; }
.rf-rating span 					{ margin-left: .214em; }
.rf-rating-number 				{ font-weight: bold; color: #335fb9; }
.rf-rating .rf-rating-number { margin-left: .5em; }


/* Title groups - deprecated
───────────────────────────────────────────────────────────────────────── */

.rf-title-group						{ display: table; width: 100%; margin-bottom: 1em; padding: 0.4em 0.714em; box-sizing: border-box; min-height: 3.299em;}
.rf-title-group p,
.rf-title-group h1,
.rf-title-group h2,
.rf-title-group h3,
.rf-title-group h4,
.rf-title-group h5,
.rf-title-group h6				{ display: table-cell; font-size: 1.143em; font-weight: 600; margin: 0; padding-right: .5em; vertical-align: middle; }

.rf-title-icons           { display: table-cell; white-space: nowrap; text-align: right; vertical-align: middle;}

.rf-title-group .rf-title-icons a { padding: 0; }
.rf-title-group .rf-title-icons a + a { margin-left: .4em; }
.rf-title-group .rf-title-icons a:hover { border-bottom-color: transparent; }

.rf-title-group .rf-title-icons [class*=rf-icon-] { vertical-align: middle; }