/*! Rakuten Styling Foundation: Developer View Styles
    ─────────────────────────────────────────────────────────────────────
    Author: Amanda Horiuchi | Customer Experience | Rakuten Securities
    Copyright © 2016 Rakuten, Inc.
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.deprecated, .do-not-use, .hidden {
	display: none;
}

.deprecated, .do-not-use, .hidden {
	opacity: 0.5;
}

.deprecated:hover, .do-not-use:hover, .hidden:hover {
	opacity: 1;
}

.developer .deprecated, .developer .do-not-use, .developer .hidden {
	display: block;
}

.developer span.deprecated, .developer span.do-not-use, .developer span.hidden {
	display: inline;
}

.developer #fw-header {
	background-color: #33FFEC;
}

.fw-code code,
.code-preview code {
	font-size: 1.143em;
}

.fw-code mark,
.code-preview mark {
	background-color: #f7f7f7;
	color: inherit;
}

.fw-code:hover mark,
.fw-code:hover mark *,
.code-preview code mark,
.code-preview code mark * {
	background-color: #ffffcc;
	color: #000 !important;
}

.code-preview code.hljs {
	background-color: #fff;
}